[2013-03-28 10:37] ebocher opened #2 "Geometry data type support"
Extend the H2 data type to support geometry as  PostGreSQL offers.

Have a look : http://www.postgresql.org/docs/6.3/static/c0806.htm

[2013-03-28 10:39] ebocher opened #3 "RTree indexes support"
Add support to use RTree.
RTree must be available in H2 grammar.

[2013-04-30 07:19] nicolas-f opened #6 "OGC SQL Conformance"
SQL in the OGC Conformance is not valid:

For Conformance 1&2, insert query is invalid for geometry_columns

[code]

There are fewer columns in comparison with the create table

[code]

In C2:

A ) is missing in all sql queries on Hex conversion

[code]

Insert statement refers to a non existing foreign key, this leads to NULL key value (in h2)

[code]

SRID is not given and it can be null then h2

[2013-05-03 14:05] nicolas-f opened #7 "Behaviour different with GDMS Sql"
ST_PointN is 1-N based in OGC. It will be the same with H2 Spatial. GDMS Sql uses 0-N-1 based ST_PointN.

[2013-05-29 09:40] ebocher opened #8 "Shapefile reader and writer"
As Postgis proposes and H2 for the CSV file format two functions tables must be transposed from gdms to H2 to read and write shapefile.
The syntax could be

[code]

[2013-08-28 14:19] agouge opened #15 "Fix Java 7 compatibility"
We currently can't compile this project using Java 7. This is because the following classes have new methods:
- [`Connection#getNetworkTimeout()`](http://docs.oracle.com/javase/7/docs/api/java/sql/Connection.html#getNetworkTimeout%28%29)
- [`CommonDataSource#getParentLogger()`](http://docs.oracle.com/javase/7/docs/api/javax/sql/CommonDataSource.html#getParentLogger%28%29)
- [`Statement#isCloseOnCo

[2013-09-09 08:57] #15 closed, assigned to nobody

[2013-10-25 16:10] nicolas-f opened #24 "Geopackage format support"
Write a driver for ogc geopackage format

[2013-11-05 20:07] #2 closed, assigned to nobody

[2013-11-05 20:07] #3 closed, assigned to nobody

[2013-11-20 16:38] agouge opened #33 "ST_3DLength returns 0 for 2D geometries"
This makes no sense. It should return the same thing as ST_Length if the geometry is 2D.

I should fix this in #29.

[2013-11-21 09:55] #33 closed, assigned to nobody

[2013-11-22 13:19] agouge opened #40 "Add "convert" functions"
The following functions from the GDMS `convert` package must be added to H2GIS:
- `ST_Force_2D`
- `ST_Force_3D`
- `ST_Holes`
- `ST_PointsToLine`
- `ST_ToMultiLine`
- `ST_ToMultiPoint`
- `ST_ToMultiSegments`

_Note_: `ST_InteriorPoint` correponds to the SFS function `ST_PointOnSurface` which was already implemented in h2spatial.

If you decide to work on this, please specify in the comments which f

[2013-11-22 14:10] agouge opened #41 "Add "create" functions"
The following functions from the GDMS `create` package must be added to H2GIS:
- `ST_AddVertex`
- `ST_BoundingCircle`
- `ST_CreateGrid`
- `ST_CreatePointsGrid`
- `ST_CreateWebGrid`
- `ST_Densify`
- `ST_Expand`
- `ST_Extrude`
- `ST_MakeEllipse`
- `ST_MakeEnvelope`
- `ST_MakeLine`
- `ST_MakePoint`
- `ST_MinimumDiameter`
- `ST_MinimumRectangle`
- `ST_OctogonalEnvelope`
- `ST_RandomGeometry`
- `ST_Rem

[2013-11-22 14:15] agouge opened #42 "Add "distance" functions"
The following functions from the GDMS `distance` package must be added to H2GIS:
- `ST_FurthestPoint`
- `ST_LocateAlong`
- `ST_NearestPoints`
- `ST_ProjectTo`

If you decide to work on this, please specify in the comments which functions you plan to implement.

[2013-11-22 14:19] agouge opened #43 "Add "edit" functions"
The following functions from the GDMS `edit` package must be added to H2GIS:
- `ST_3DReverse`
- `ST_AddZ`
- `ST_AddZFromRaster`
- `ST_LinearInterpolation`
- `ST_Normalize`
- `ST_RemoveHoles`
- `ST_Reverse`
- `ST_SetZToExtremities`
- `ST_Snap`
- `ST_Split`
- `ST_SplitLine`

If you decide to work on this, please specify in the comments which functions you plan to implement.

[2013-11-22 14:21] agouge opened #44 "Add "operators" functions"
The following functions from the GDMS `operators` package must be added to H2GIS:
- `ST_GeomUnion`
- `ST_GeomUnionArg`
- `ST_RingBuffer`

If you decide to work on this, please specify in the comments which functions you plan to implement.

[2013-11-22 14:22] agouge opened #45 "Add "simplify" functions"
The following functions from the GDMS `simplify` package must be added to H2GIS:
- `ST_PrecisionReducer`
- `ST_Simplify`
- `ST_SimplifyPreserveTopology`

If you decide to work on this, please specify in the comments which functions you plan to implement.

[2013-11-22 14:25] agouge opened #46 "Add TIN functions"
The following functions from the indicated GDMS packages must be added to H2GIS:

`tin/analysis`:
- `ST_TriangleContouring`

`tin/create`:
- `ST_TIN`

If you decide to work on this, please specify in the comments which functions you plan to implement.

[2013-11-22 14:28] agouge opened #47 "Add miscellaneous functions"
The following functions from the indicated GDMS packages must be added to H2GIS:

`export`:
- `ST_PLYExporter`

`other`:
- `ST_MainDirections`
- `ST_MeanSpacing`

`polygonize`:
- `ST_Polygonize`

`qa`:
- `ST_InternalGapFinder`

`trigo`:
- `ST_Azimut`

If you decide to work on this, please specify in the comments which functions you plan to implement.

[2013-11-22 14:30] agouge opened #48 "Add raster functions"
The following functions from the GDMS `raster` package must be added to H2GIS:
- [ ] `ST_Count`
- [x]  `ST_CropRaster` -> ST_Crop
- [x] `ST_D8Accumulation` -> ST_D8FlowAccumulation
- [ ]  `ST_D8AllOutlets`
- [ ] `ST_D8ConstrainedAccumulation`
- [x]  `ST_D8Direction`  -> ST_D8FlowDirection
- [ ]  `ST_D8DistanceToTheOutlet`
- [ ] `ST_D8RiverDistance`
- [x]  `ST_D8Slope`
- [ ]  `ST_D8StrahlerStreamOr

[2013-11-23 11:51] ebocher opened #50 "ST_Explode sql parameter"
In the previous GDMS function, it was possible to set as parameter a SQL command like this

[code]

It seems that this approach is not supported by the new  ST_Explode that received only a table name. Is it possible to fix ST_Explode to use the same approach than GDMS function.

Postgresql is able to do it :
http://www.postgresql.org/docs/7.3/static/xfunc-tablefunctions.html

[2013-11-26 14:02] agouge opened #51 "Fix CTS warnings when compiling H2GIS"
When compiling H2GIS, I get 86 different warnings from `org.cts.CRSHelper` that look like this:

[code]

It would be nice to fix this so that it doesn't pollute the output.
[Full stacktrace](https://gist.github.com/agouge/52cad004d3f85644b4dc#file-gistfile1-java)

@jparty

[2013-11-26 15:24] #8 closed, assigned to nobody

[2013-11-27 13:30] gpetit opened #54 "Difference of memory space between .shp and database"
I'm working with "orbisgis-dist-4.1.0-SNAPSHOT/orbisgis.sh"

I import a shape file weighing 78 MB into an empty H2 database. Now I can see that the corresponding "database.h2.db" file weighs 144 MB. So there is a big difference.

Is there a way to optimize this point? ... knowing that in this context, some workspaces could weigh many GB.

@ebocher @nicolas-f @agouge

[2013-11-28 08:51] ebocher opened #55 "Geometry type in SimpleResultSet."
Currently the SimpleResulSet class is not able to understand the Geometry so the following code doesn't work to create a geometry table

[code]

Please see this example:
https://github.com/ebocher/H2GIS/tree/feature/creategrid/h2spatial-ext/src/main/java/org/h2gis/h2spatialext/function/spatial/create

@agouge

[2013-12-03 20:14] #55 closed, assigned to nobody

[2013-12-03 20:18] ebocher opened #59 "SHPRead path encoding (trouble with accents)"
The SHPRead is not able to parse this kind of path: `/home/toto/Téléchargements/Data/ZONE_VEGETATION.SHP`

[code]

[2013-12-04 17:59] #59 closed, assigned to nobody

[2013-12-05 08:27] #42 closed, assigned to nobody

[2013-12-09 19:52] ebocher opened #70 "ST_Is3D Method"
Implement the `ST_Is3D` method as ISO SQL MM proposes.

Purpose: Test if a Geometry has a z-coordinate.

Definition:

[code]

Description
1. The method `ST_Is3D` has no input parameters.
2. The null-call method `ST_Is3D` returns the value of the `ST_PrivateIs3D`
   attribute.

[2013-12-16 12:59] #51 closed, assigned to ebocher

[2013-12-16 16:37] ebocher opened #79 "View geometry_columns set SRID"
The default SRID value must be set to 0.

[2014-01-13 14:45] #79 closed, assigned to nobody

[2014-01-17 15:03] gpetit opened #86 "Change the ST_IsValid unit test"
As I changed the example provided in the ST_IsValid page (http://www.h2gis.org/docs/dev/ST_IsValid/), we should adapt the unit test.

Instead of

[code]

we have to put

[code]

This issue is linked with #85

[2014-01-20 10:17] #86 closed, assigned to nobody

[2014-01-21 10:05] mlecoeuvre opened #97 "Add shape parameter for ST_Buffer"
Currently [ST_Buffer](https://github.com/irstv/H2GIS/blob/master/h2spatial/src/main/java/org/h2gis/h2spatial/internal/function/spatial/operators/ST_Buffer.java) does not have a shape parameter like it did in GDMS.

We should add a string parameter with 3 possibilities: but, square or round (default).

We should add a unit test for ST_Buffer.

[2014-01-21 10:46] mlecoeuvre opened #98 "create the doc of ST_CoorDim"
I work to create the documentation of ST_CoorDim.

[2014-01-21 12:36] gpetit opened #100 "ST_MakeLine and ST_MakePoint"
I'm working on ST_MakeLine and ST_MakePoint website documentation

@mlecoeuvre

[2014-01-21 16:16] #98 closed, assigned to nobody

[2014-01-21 16:17] #100 closed, assigned to nobody

[2014-01-21 16:19] mlecoeuvre opened #105 "Document h2spatial-ext/properties functions"
- `ST_CompactnessRatio`
- `ST_Explode`
- `ST_Extent`

These have been claimed by @mlecoeuvre.

[2014-01-21 16:24] agouge opened #106 "Document h2spatial/geometry-conversion functions"
The following h2spatial/geometry-conversion functions need
to be documented:
- `ST_AsBinary`
- `ST_AsText`
- `ST_AsWKT`
- `ST_GeomFromText`
- `ST_LineFromText`
- `ST_LineFromWKB`
- `ST_MLineFromText`
- `ST_MPointFromText`
- `ST_MPolyFromText`
- `ST_PointFromText`
- `ST_PolyFromText`
- `ST_PolyFromWKB`

When you start working on the documentation of one of these functions,
please say so in the comm

[2014-01-21 16:26] agouge opened #107 "Document h2spatial/operators functions"
- `ST_Buffer`
- `ST_ConvexHull`
- `ST_Difference`
- `ST_Intersection`
- `ST_SymDifference`
- `ST_Union`

When you start working on the documentation of one of these functions,
please say so in the comments.

[2014-01-21 16:28] agouge opened #108 "Document h2spatial/predicates functions"
- `ST_Contains`
- `ST_Crosses`
- `ST_Disjoint`
- `ST_EnvelopesIntersect`
- `ST_Equals`
- `ST_Intersects`
- `ST_Overlaps`
- `ST_Relate`
- `ST_Touches`
- `ST_Within`

When you start working on the documentation of one of these functions,
please say so in the comments.

[2014-01-21 16:29] agouge opened #109 "Document h2spatial/projections functions"
- `ST_SetSRID`
- `ST_Transform`

When you start working on the documentation of one of these functions,
please say so in the comments.

[2014-01-21 16:30] agouge opened #110 "Document h2spatial/properties functions"
- `ST_Area`
- `ST_Boundary`
- `ST_Centroid`
- `ST_Dimension`
- `ST_Distance`
- `ST_EndPoint`
- `ST_Envelope`
- `ST_ExteriorRing`
- `ST_GeometryN`
- `ST_GeometryType`
- `ST_InteriorRingN`
- `ST_IsClosed`
- `ST_IsEmpty`
- `ST_IsRing`
- `ST_IsSimple`
- `ST_Length`
- `ST_M`
- `ST_NumGeometries`
- `ST_NumInteriorRing`
- `ST_NumInteriorRings`
- `ST_NumPoints`
- `ST_PointN`
- `ST_PointOnSurface`
- `ST_SR

[2014-01-21 16:31] agouge opened #111 "Document h2spatial/aggregates functions"
- `ST_Accum`

When you start working on the documentation of one of these functions,
please say so in the comments.

[2014-01-21 16:32] agouge opened #112 "Document h2spatial-ext/geometry-conversion functions"
- `ST_Holes`
- `ST_ToMultiLine`
- `ST_ToMultiPoint`
- `ST_ToMultiSegments`

When you start working on the documentation of one of these functions,
please say so in the comments.

[2014-01-21 16:35] agouge opened #113 "Document h2spatial-ext/distance-functions functions"
- `ST_ClosestCoordinate`
- `ST_ClosestPoint`
- `ST_FurthestCoordinate`
- `ST_LocateAlong`

When you start working on the documentation of one of these functions,
please say so in the comments.

[2014-01-22 10:28] agouge opened #122 "Add unit tests"
@gpetit and @mlecoeuvre have been adding and will continue to add examples in
their documentation on h2gis.org.

In this ticket, we will keep track of the PR numbers which contain new unit
tests to be added.

At the time of writing, new unit tests are contained in PRs:
* #119 `ST_Difference`
* #120 `ST_Explode`
* #121 `ST_SymDifference`
* #124 `ST_ConvexHull`
* #125 `ST_Intersection`
* #138 `ST_Co

[2014-01-22 10:55] agouge opened #123 "Add missing unit test for ST_Explode"
The signature
[code]
is not covered by a unit test.

This will affect #120.

[2014-01-27 08:57] mlecoeuvre opened #152 "Possible alignment to text descritpion"
I think it's more aesthetic if we put the text description with justified alignment rather than left alignment in the H2Gis site (on description or note in examples).
Can you change the CSS to this alignment?
What do you think?

[2014-01-27 09:28] #152 closed, assigned to nobody

[2014-01-28 15:00] mlecoeuvre opened #162 "Update javadoc for ST_Transform"
Should update the javadoc about ST_Transform relative to the term CRS,SRS, codeEPSG, SRID
see PR #154

[2014-01-29 10:58] #111 closed, assigned to nobody

[2014-01-30 14:17] #106 closed, assigned to nobody

[2014-01-31 08:28] #112 closed, assigned to nobody

[2014-01-31 08:28] #109 closed, assigned to nobody

[2014-01-31 08:28] #105 closed, assigned to nobody

[2014-02-05 09:53] mlecoeuvre opened #193 "Delete the function ST_M"
Could you delete the function ST_M? (H2GIS/h2spatial/src/main/java/org/h2gis/h2spatial/internal/function/spatial/properties/ST_M.java)
Because this function is not supported by JTS and does not run in H2GIS.

[2014-02-07 15:09] agouge opened #201 "Add unit tests for ST_NumInteriorRings"
There are none. We'll be able to use @mlecoeuvre's examples once I merge my agouge/m-110 branch.

[2014-02-07 15:21] #201 closed, assigned to nobody

[2014-02-07 16:52] agouge opened #202 "Move non-SFS functions"
The following functions had been mistakenly listed as SFSQL functions:
- `ST_Dimension`
- `ST_EndPoint`
- `ST_Envelope`
- `ST_EnvelopesIntersect`
- `ST_NumGeometries`
- `ST_NumInteriorRings`

We may need to reorganize the code to fix this. See #178.

[2014-03-12 14:37] mlecoeuvre opened #222 "Transformation with a IGNF projection is impossible."
When i execute the line sql code :
CREATE TABLE contouring_noise_map_l93 AS SELECT st_transform(ST_setsrid("DATABASE"."PUBLIC"."contouring_noise_map".the_geom, 27572), 310024140) AS the_geom, idiso FROM "DATABASE"."PUBLIC"."contouring_noise_map";

( the SRID 310024140 = "IGNF:Lamb93")

I have this error message:
WARN [Thread-81](CRSHelper.java:611) - Ellipsoid cannot be defined
ERROR [Thread-81](E

[2014-03-25 15:16] #45 closed, assigned to nobody

[2014-03-26 09:48] mlecoeuvre opened #231 "Document h2spatial/Edit geometries functions"
- `ST_AddPoint`
- `ST_AddZ`
- `ST_Densify`
- `ST_Interpolate3DLine`
- `ST_MultiplyZ`
- `ST_Normalize`
- `ST_RemoveHoles`
- `ST_RemovePoint`
- `ST_RemoveRepeatedPoints`
- `ST_Reverse`
- `ST_Reverse3DLine`
- `ST_UpdateZ`
- `ST_ZUpdateExtremities`

When you start working on the documentation of one of these functions,
please say so in the comments.

[2014-03-26 09:51] mlecoeuvre opened #232 "Document h2spatial/Process geometries functions"
- `ST_Polygonize`
- `ST_PrecisionReducer`
- `ST_Simplify`
- `ST_SimplifyPreserveTopology`
- `ST_Snap`
- `ST_Split`

When you start working on the documentation of one of these functions,
please say so in the comments.

[2014-03-26 09:53] mlecoeuvre opened #233 "Document h2spatial/Triangulation functions"
* `ST_ConstrainedDelaunay`
* `ST_Delaunay`

When you start working on the documentation of one of these functions,
please say so in the comments.

[2014-03-26 09:55] mlecoeuvre opened #234 "Document h2spatial/Create geometries functions"
- `ST_BoundingCircle`
- `ST_Expand`
- `ST_Extrude`
- `ST_MakeEnvelope`
- `ST_MinimumRectangle`
- `ST_OctogonalEnvelope`

When you start working on the documentation of one of these functions,
please say so in the comments.

[2014-03-26 09:56] mlecoeuvre opened #235 "Document h2spatial/Affine transformation functions"
- `ST_Translate`

When you start working on the documentation of one of these functions,
please say so in the comments

[2014-03-27 17:11] agouge opened #240 "H2 is calling user-defined functions 4 times"
I noticed that H2 is calling user-defined functions 4 times, twice with connection URL "jdbc:default:connection" and twice with connection URL "jdbc:columnlist:connection". So the hack I used in #228 only takes care of 2 of the 3 superfluous calls. We need to find a way to avoid the third extra call for optimization purposes.

[2014-03-31 14:19] mlecoeuvre opened #244 "Add a unit test for ST_Snap?"
Could you add a unit test for ST_Snap? Because no test exist.

[2014-04-02 08:33] #46 closed, assigned to nobody

[2014-04-02 08:36] #44 closed, assigned to nobody

[2014-04-02 08:38] mlecoeuvre opened #251 "Desired improvement for ST_AddPoint"
Currently ST_AddPoint return a new Geometry based on an existing one, with the first Point which find, not the closest depending on the tolerance.
For example :

[code]

Currently the answer is: `POLYGON((1 1, 1 3, 1 5, 5 5, 5 1, 1 1),  (2 2, 4 2, 4 4, 2 4, 2 2))`
We want that this function return : `POLYGON ((1 1, 1 5, 5 5, 5 1, 1 1), (2 2, 3 2, 4 2, 4 4, 2 4, 2 2))`
Where the `Point(3 2)` is the

[2014-04-02 14:45] mlecoeuvre opened #252 "Error Unit test With Z values"
In the Java doc for unit test (H2GIS / h2spatial-ext / src / test / java / org / h2gis / h2spatialext / SpatialFunctionTest.java), in some test, the expected result are wrong.
Indeed  some z values is not the real result that h2 returns.

L2084

[code]

the real result is : `MULTILINESTRING((0 0 0, 5 0 5 , 10 0 10),(0 0 0, 50 0 50, 100 0 100))`

L2709

[code]

the real result is : `MULTIPOINT( (19

[2014-04-02 14:53] mlecoeuvre opened #253 "Wrong name of unit test ST_Normalize1"
The name of the unit test is different of the function who is used.
I think the name should be test_ST_ZUpdateExtremities4()

L2906

[code]

[2014-04-03 14:27] #222 closed, assigned to ebocher

[2014-04-04 09:30] mlecoeuvre opened #258 "Behaviour of ST_RemovePoint"
correct the behaviour of ST_RemovePoint

They are different case with ST_RemovePoint i have difficulty with.
First the tolerance is an envelope based on buffer. So is not a really tolerance because it can remove point which are farther than the given tolerance.
 Where the sql command is :

[code]

![st_removepoint_3](https://cloud.githubusercontent.com/assets/6450748/2613747/85633024-bbdb-11e3-8b0

[2014-04-04 13:47] mlecoeuvre opened #260 "Case with Multigeometry for ST_Reverse"
When i use ST_Reverse with Multigeometry the behaviour differs between Linestring, Polygon et Point.
MULTLINESTRING returns the Geometry reverse and vertex reverse
POLYGON returns vertex reverse and not Geometry reverse
MULTIPOINT returns GEOMETRYCOLLECTION and not MULTIPOINT and not reverse the Geometry

[code]

[2014-04-04 14:55] mlecoeuvre opened #261 "Error Unit test for ST_Reverse3DLine"
In unit test (H2GIS / h2spatial-ext / src / test / java / org / h2gis / h2spatialext / SpatialFunctionTest.java), `L 2481` the expected result is not the same that the result that i find in H2GIS.

[code]

In H2GIS

[code]

The result in java is the logical result but in fact ST_Reverse3DLine not return a Geometry with vertex order reversed according the start and the end z values.
An other exampl

[2014-04-04 15:09] mlecoeuvre opened #262 "One signature does not work for ST_UpdateZ"
The signature `Geometry ST_UpdateZ(Geometry geom, double z, int 3);` doesn't work.

In unit test (H2GIS / h2spatial-ext / src / test / java / org / h2gis / h2spatialext / SpatialFunctionTest.java), `L 2587`

[code]

But in reality when i specify the updateCondition with 3 (Set 3 to replace only the NaN z values), this function update all z values like the updateCondition is equals 1 or if we don't

[2014-04-07 20:17] #40 closed, assigned to nobody

[2014-04-08 12:00] #97 closed, assigned to nobody

[2014-04-10 12:15] CamilleBriend opened #265 "Improve ST_IsValid(null)"
The function `ST_IsValid` returns an error when the geometry is null.

[2014-04-10 12:57] TonyKeo opened #266 "ST_Graph gives a NullPointerException"
Request:

[code]

Stacktrace:

[code]

[2014-04-11 07:14] #253 closed, assigned to nobody

[2014-04-11 07:14] #258 closed, assigned to ebocher

[2014-04-11 07:15] #265 closed, assigned to nobody

[2014-04-14 09:19] mlecoeuvre opened #272 "Correct the behaviour and add unit test for ST_AddPoint"
Currently, in case in which ST_AddPoint has a tolerance which don't intersect a `POLYGON`the answer is an error.

[code]

[code]

 The expect result is:

[code]

[2014-04-14 12:27] nicolas-f opened #274 "No unit test for ST_Force2D and ST_Force3D"
There is no unit test for ST_Force2D and ST_Force3D

[2014-04-14 16:12] tsonntig opened #276 "Missing run.sh"
no file:    run.sh
in h2gis-standalone-bin.zip

[2014-04-15 06:57] #274 closed, assigned to nobody

[2014-04-15 08:42] #162 closed, assigned to nobody

[2014-04-15 08:48] #244 closed, assigned to nobody

[2014-04-15 08:48] #251 closed, assigned to ebocher

[2014-04-15 08:48] #260 closed, assigned to ebocher

[2014-04-15 08:49] #272 closed, assigned to ebocher

[2014-04-15 08:49] #261 closed, assigned to ebocher

[2014-04-15 08:52] #252 closed, assigned to nobody

[2014-04-15 08:53] #262 closed, assigned to ebocher

[2014-04-15 09:40] mlecoeuvre opened #279 "Unit test duplicated for ST_ZUpdateLineExtremities"
In H2GIS / h2spatial-ext / src / test / java / org / h2gis / h2spatialext / SpatialFunctionTest.java,
#### Problem 1

`L 2303` the unit test `test_ST_ZUpdateExtremities2()` and `test_ST_ZUpdateExtremities4()` is the same test.

[code]
#### Problem 2

A unit test is missing with `MULTILINESTRING`, this is an example:

[code]
#### Problem 3

A unit test is missing with the parameter interpolate, thi

[2014-04-15 14:02] mlecoeuvre opened #281 "Correct the behaviour and add unit test for ST_Extrude"
The currently result for ST_Extrude in case with POLYGON with Hole is not exactly. Indeed currently the floor of hole has z = nan instead 0.

[code]

[2014-04-15 15:11] mlecoeuvre opened #283 "Correct unit test for ST_Delaunay with z values"
In the unit test L1090 for ST_Delaunay, the answer don't contained the z values is a mistake.
the result must be a z value.

[code]

the real result

[code]

[2014-04-16 13:54] mlecoeuvre opened #284 "Improve ST_Translate"
Could you add one signature for `ST_Translate` which considered the z values like in Postgis (http://postgis.org/docs/ST_Translate.html)?

[code]

For example:

[code]

[2014-04-22 13:08] CamilleBriend opened #286 "Improve ST_3DLength"
The function `ST_3DLength` returns ∞ sometimes.
For example with
`MULTIPOLYGON (((898458.2 6245894.6, 898493.4 6245894.5, 898492.3 6245888.4, 898458.7 6245888.5, 898458.2 6245894.6)))`
or
`MULTIPOLYGON (((898348.1435841995 6245775.413290341, 898323.5 6245753.8, 898265.9 6245822.5, 898277.4148980425 6245832.143905747, 898291.6310035911 6245844.050114685, 898348.1435841995 6245775.413290341)))`

(Or

[2014-04-23 07:15] mlecoeuvre opened #288 "Document h2drivers"
- `ST_AsKml`
- `ST_AsGeoJson`
- `DBFRead`
- `DBFWrite`
- `GPXRead`
- `GeoJsonRead`
- `GeoJsonWrite`
- `KMLWrite`
- `SHPRead`
- `SHPWrite`
- `file_table`

When you start working on the documentation of one of these functions,
please say so in the comments.

[2014-04-23 07:18] mlecoeuvre opened #289 "Document geometry 3D"
- `ST_TriangleAspect`
- `ST_TriangleContouring`
- `ST_TriangleDirection`
- `ST_TriangleSlope`
- `ST_Force3D`

When you start working on the documentation of one of these functions,
please say so in the comments.

[2014-04-23 07:20] mlecoeuvre opened #290 "Document geometry 2D"
- `ST_Azimuth`
- `ST_GeometryTypeCode`
- `ST_MakeGrid`
- `ST_MakeGridPoints`
- `ST_MakePolygon`
- `ST_MinimumDiameter`
- `ST_RingBuffer`
- `ST_IsValidDetail`
- `ST_IsValidReason`
- `ST_OrderingEquals`
- `ST_Force2D`

When you start working on the documentation of one of these functions,
please say so in the comments.

[2014-04-23 13:44] mlecoeuvre opened #291 "Bug with driver GPXRead"
In the unit test for GPXRead (https://github.com/irstv/H2GIS/blob/ec8fa27fcfd8474531e3b7455ff5d9941e462897/h2drivers/src/test/java/org/h2gis/drivers/gpx/GPXImportTest.java) the table which is returned is not the same as when I test the script.

[code]

When I execute the script in H2GIS:

[code]

 H2GIS creates
- GPXDATA_track,
- GPXDATA_trackPoint,
- GPXDATA_trackSegment.

If I rerun the same ins

[2014-04-23 15:19] #266 closed, assigned to nobody

[2014-04-24 12:38] mlecoeuvre opened #295 "Add a unit test for ST_AsKml"
The signature:

[code]

is not covered by a unit test.

[code]

Add in the unit test list #122

[2014-04-25 09:24] mlecoeuvre opened #299 "Add a unit test for ST_IsValidDetail"
For ST_IsValidDetail, the case next is not covered by a unit test.

[code]

[2014-04-25 11:12] mlecoeuvre opened #300 "Correct the behaviour with Z value and add unit test for ST_IsValidReason"
The result of ST_IsValidReason return  always Nan in Z value even if the input z value is define.
In addition the returned coordinates are not in WKT.

[code]

[2014-04-25 13:53] #300 closed, assigned to ebocher

[2014-04-29 15:17] mlecoeuvre opened #302 "Add unit test for ST_RingBuffer"
For ST_RingBuffer, the following case is not covered by a unit test.

[code]

[2014-05-05 09:05] mlecoeuvre opened #304 "Manage URI in all drivers"
#### Several drivers handle URI

When you drag and drop a file in sql console it's URI who are written. The several drivers don't handle URI but a path of file.
It's a problem when the paths have spaces in name of file.

The sql expected by the drivers:

[code]

The sql if you do a drag and drop:

[code]

[2014-05-06 07:59] mlecoeuvre opened #307 "Improve ST_Transform - output type is not the same as input type"
#### ST_Transform's output type is not the same as the input geometry's type

For example, if you transform a MULTILINESTRING which contains only one LINESTRING the output Geometry has LINESTRING.
We want the output Geometry type to be the same as the input Geometry type.

[code]

[2014-05-07 12:53] agouge opened #311 "Improve function remarks"
See the end of the discussion in irstv/orbisgis#643. We need to improve the function remarks to better explain parameters, etc.

Note that as of irstv/orbisgis#650, we can write function remarks in markdown, so this should really facilitate the process.

[2014-05-07 15:22] #302 closed, assigned to nobody

[2014-05-13 09:11] #6 closed, assigned to nobody

[2014-05-13 09:35] CamilleBriend opened #315 "Proposal : ST_ConcentricBuffer"
An idea to complete the functions in OrbisGIS : `ST_ConcentricBuffer()`
It could be approximately like `ST_RingBuffer()` but the result would be circles instead of rings :

`Select ST_ConcentricBuffer(the_geom, bufferSize, circleNumbers[, 'butt'|'square'|'round']) from myTable;`

[2014-05-13 11:22] #279 closed, assigned to ebocher

[2014-05-13 11:22] #281 closed, assigned to nobody

[2014-05-13 11:22] #283 closed, assigned to ebocher

[2014-05-13 11:22] #295 closed, assigned to nobody

[2014-05-13 11:22] #299 closed, assigned to ebocher

[2014-05-13 12:50] #304 closed, assigned to nobody

[2014-05-13 20:07] #50 closed, assigned to nobody

[2014-05-13 20:08] #7 closed, assigned to nobody

[2014-05-14 11:38] #315 closed, assigned to nobody

[2014-05-19 09:42] agouge opened #319 "Cannot open database if a user-defined function is deleted"
I discovered this problem while experimenting with the snapshot version of H2GIS.

Sometimes during refactoring, a user-defined function may be moved or deleted. But then a database created before the refactor cannot be opened, since the function cannot be found.

@nicolas-f is working on a patch.

[2014-05-19 14:37] #107 closed, assigned to nobody

[2014-05-19 15:11] agouge opened #322 "No functions in the SQL Console"
This is highly related to #319.

Sometimes during refactoring, a user-defined function may be moved or deleted. This causes a `ClassNotFoundException`, and after that there are no functions in the SQL Console (`Function count = 0`).

Here is the SQL statement that's causing trouble:

[code]

and the stacktrace:

[code]

[2014-05-19 15:11] #319 closed, assigned to nobody

[2014-05-19 16:00] #113 closed, assigned to nobody

[2014-05-20 11:39] #276 closed, assigned to nobody

[2014-05-26 13:52] agouge opened #328 "ST_Transform gives a NoClassDefFoundError"
I'm trying to reproject some OSM data, but can't because of a `java.lang.NoClassDefFoundError`.

@nicolas-f Any ideas? (OSGi?)

[code]

[2014-05-27 13:44] agouge opened #334 "Handle NULL values in DbaseFileReader (OSM data)"
Basically, fix irstv/orbisgis#550 in H2GIS.

[2014-05-28 09:47] mlecoeuvre opened #336 "Error of behavior with GeometryCollection for ST_ConstrainedDelaunay"
When I execute

[code]

The result is: `MULTIPOLYGON (((0 0 1, 10 0 1, 5 5 1, 0 0 1)), ((10 0 1, 5 5 1, 10 10 1, 10 0 1)))`

But when I exectue

[code]

I have a error message:

[code]

The geometry `GEOMETRYCOLLECTION(POINT (0 0 1), POINT (10 0 1), POINT (10 10 1), POINT (5 5 1))` or `MULTIPOINT ((0 0 1), (10 0 1), (10 10 1), (5 5 1))` is the same geometry.
I don't understand why `ST_ConstrainedD

[2014-05-28 13:29] mlecoeuvre opened #340 "Improve functions for ignored the case"
Currently if you don't respect case for call a table in the next functions it returns an error message.
- `ST_TriangleContouring()`
- `ST_Graph()`
- `SHPWrite()`
- `ST_Accessibility()`

We must change the code before the conference if it's possible.

[2014-05-28 16:10] #307 closed, assigned to nobody

[2014-05-28 16:16] #70 closed, assigned to nobody

[2014-05-30 09:59] #328 closed, assigned to nobody

[2014-06-02 14:17] ebocher opened #341 "Is the closest point on the line ?"
ST_ClosestPoint returns a point which is in the desert.

[code]

and

[code]

While it should return TRUE

[2014-06-04 18:04] leoamigood opened #343 "Spring Embedded database support for H2GIS"
Is there a Spring 3/4 Embedded database support in H2GIS as it's described in:
http://docs.spring.io/spring/docs/3.0.0.M4/reference/html/ch12s08.html

Thank you,
Leo

[2014-06-06 07:55] #336 closed, assigned to ebocher

[2014-06-11 09:58] mlecoeuvre opened #350 "Improve ST_RingBuffer"
Currently when you want use the optional parameter `doDifference` you must also write the optional parameter `endCapStyle`.
[code]

We should to allow the user to write only `doDifference`:
[code]

[2014-06-12 14:05] mlecoeuvre opened #352 "Document graph"
- `ST_ShortestPath`
- `ST_ShortestPathLength`
- `ST_Accessibility`
- `ST_ConnectedComponents`
- `ST_GraphAnalysis`

[2014-06-20 18:06] matt-deboer opened #359 "Why GPL?"
Hi,
I was initially excited to try out your project, but then sad to find it was licensed as GPLv3; did you intend that your project should not be used by any corporations with rules against open-sourcing their own code?
I cannot open source all of the software I build for my company, but by the rules of GPLv3 (AFAIK), I cannot embed your extension to H2 in my application without licensing my prop

[2014-06-24 14:37] agouge opened #363 "Rename ST_RemovePoint to St_RemovePoints"
Seems more logical

[2014-06-25 07:35] #234 closed, assigned to nobody

[2014-06-25 09:11] mlecoeuvre opened #365 "Trigger for refresh geocatalog automatically is not perfect"
The behavior to the automatically refresh for geocatalog don't run correctly, it's random.
#### Example1

I execute the sql script:

[code]

One time I have in the geocatalog only the first table has write in geocatalog, I have to refresh my geocatalog for have my three tables.
A other time I have the three tables which write in the geocatalog but one table have the icon of attribute table. I have

[2014-06-25 09:30] mlecoeuvre opened #366 "Error message when the connection of the workspace is failed"
When you want to connect to a workspace and the connexion failed you have the windows connection of the workspace which reappeared without error message.

For example if your workspace is corrupted (see the error message at the end of this issue) you can't connect to the workspace but you don't know why.

Could you improved that? For example when the windows connection of the workspace which reapp

[2014-06-25 09:52] mlecoeuvre opened #367 "Message in the output when save file"
Currently when you save a file you have no message in the  output. In the next version(orbisgis-dist-4.1.0-SNAPSHOT-2014-06-11) when you save a file you have `file saved` in the  output.

[2014-06-25 13:10] mlecoeuvre opened #368 "Create ST_PointFromWKB?"
It's possible to create one function which convert a WKB in geometry when it's a point?
Like ST_PolyFromWKB or ST_LineFromWKB

[2014-06-25 13:15] #291 closed, assigned to ebocher

[2014-06-25 13:17] #366 closed, assigned to nobody

[2014-06-25 13:17] #367 closed, assigned to nobody

[2014-06-25 13:18] #365 closed, assigned to nobody

[2014-06-25 15:14] #232 closed, assigned to nobody

[2014-06-27 14:16] mlecoeuvre opened #371 "Bug with DBFWrite"
* write a dbf file by a dbf file it's ok.
* write a dbf file by an other format (like  shp file) there are a bug in the new dbf file.

When you make right click, save dbf or execute the sql `call DBFWrite` it's the same problem.

The new dbf created haven't  a the_geom column name so all values are shifted to one column compared to the column name and the value of last column disappear.
If the geo

[2014-07-01 07:24] #193 closed, assigned to nobody

[2014-07-01 07:25] #288 closed, assigned to nobody

[2014-07-01 07:26] #110 closed, assigned to nobody

[2014-07-01 07:26] #108 closed, assigned to nobody

[2014-07-01 07:51] #202 closed, assigned to nobody

[2014-07-01 08:42] #284 closed, assigned to nobody

[2014-07-02 08:01] #290 closed, assigned to nobody

[2014-07-02 08:01] #235 closed, assigned to nobody

[2014-07-02 08:42] #231 closed, assigned to nobody

[2014-07-08 09:47] #41 closed, assigned to ebocher

[2014-08-27 12:18] #359 closed, assigned to nobody

[2014-08-27 12:20] #343 closed, assigned to nobody

[2014-08-27 12:27] #341 closed, assigned to nobody

[2014-08-27 12:49] #352 closed, assigned to nobody

[2014-08-28 07:35] gpetit opened #397 "Create a user part for H2Network documentation"
In the h2gis.org documentation there is a part dedicated to H2Network. The functions are well documented (see #352) (great job, really) but I was wondering if you could add a user part.

My problem is that if you don't know anything about graph theory, you have real difficulties to understand this documentation. I mean, here we are mainly with a mathematician / informatician point of view (which i

[2014-08-28 07:42] #240 closed, assigned to nobody

[2014-08-28 07:52] mlecoeuvre opened #398 "Add exemple of documentation for CSVRead"
Add an example of creating geometric table from a csv file which contains x and y coordinates into several columns.

csv file:
    id, coord_x, coord_y
    1, 2, 3
    2, 4, 5
    3, 6, 7
[code]

[2014-08-28 08:17] mlecoeuvre opened #399 "Add exemple of documentation for ST_Difference"
`ST_Difference` don't have example with `linestring` or `multilinestring`
I think it's good idea to add one or two examples:

[code]

[2014-08-28 14:12] #334 closed, assigned to nobody

[2014-08-29 08:02] #289 closed, assigned to nobody

[2014-09-16 18:34] #322 closed, assigned to nobody

[2014-09-16 18:35] #43 closed, assigned to nobody

[2014-09-16 18:35] #54 closed, assigned to nobody

[2014-09-16 18:36] #340 closed, assigned to nobody

[2014-09-16 18:42] ebocher opened #404 "Virtual primary key on file driver"
Add a virtuall primary key on file driver : shape and dbf.
This add-on will fix some lack of understanding. EG : export a selection from a shapefile in OrbisGIS will work without requiring a primary key.

[2014-09-25 15:43] #404 closed, assigned to nobody

[2014-10-03 08:11] nicolas-f opened #408 "Add CSV DriverFunction implementation"
CSVREAD and CSVWRITE functions must be called in a new implementation of  DriverFunction. May be with some automatic translation like recognition of title like "lat" "long" "the_geom" "wkt" ?

[2014-10-17 07:52] nicolas-f opened #412 "DAE Collada format support"
Add support for writing DAE files in order to import extruded geometry into sketch-up.

[2014-10-17 09:46] nicolas-f opened #413 "Throw an exception when trying to export mixed geometry type."
Using SHPWRITER, on a table that contains GEOMETRYCOLLECTION of POLYGON. This rows are not exported and not warning or errors are shown.

[2014-10-17 11:02] nicolas-f opened #414 "SHP driver, Check if Polygon is saved with POLYGONZ"
Add unit test to check if polygon,line and point z are saved.

[2014-10-22 15:09] nicolas-f opened #418 "Ability to use request in ST_EXPLODE"
Should be cool if we could use request in ST_EXPLODE parameter like this:

[code]

[2014-10-23 08:28] nicolas-f opened #419 "Add function ST_Tesselate"
Add a function that tesselate the provided polygon or multi_polygon.

ex:
http://postgis.net/docs/ST_Tesselate.html

[2014-10-28 16:14] nicolas-f opened #422 "Create function ARRAY_RANGE and accept ARRAY in ST_TRIANGLECONTOURING"
apply the following change in ST_TRIANGLE_CONTOURING:

[code]

And add a new function ARRAY_RANGE(BEGIN, END,[STEP]) that return an array of double.
Thanks to this we could call triangle_contouring with a lot of iso levels:

[code]

[2014-11-20 01:43] xchen-tian opened #425 "What ST_Transform doesn't work"
I follow the example provided in website:

SELECT ST_Transform(ST_GeomFromText(
    'POINT(584173 2594514)', 27572), 4326);
-- Answer: POINT(2.1145411092971056 50.345602339855326)

I get error:
Caused by: java.lang.NoClassDefFoundError: org/cts/CRSFactory
    at org.h2gis.h2spatial.internal.function.spatial.crs.ST_Transform.ST_Transform(ST_Transform.java:82)
    at sun.reflect.NativeMethodAccessor

[2014-11-20 01:58] #425 closed, assigned to nobody

[2014-11-24 14:06] #399 closed, assigned to nobody

[2014-11-24 14:11] #286 closed, assigned to nobody

[2014-12-01 10:32] #408 closed, assigned to nobody

[2014-12-01 10:39] #311 closed, assigned to nobody

[2014-12-01 10:47] #47 closed, assigned to nobody

[2014-12-03 14:42] #414 closed, assigned to nobody

[2014-12-03 14:46] #363 closed, assigned to nobody

[2014-12-16 10:55] ebocher opened #436 "The last version of H2 1.4.183 does not use spatial index"
Explain on  1.4.183

Execute request 1/1: EXPLAIN  SELECT null, A.GID as  START_NODE, B.GID as END_NODE FROM polygones_super A,polygones_super B WHERE (A.GID<B.GID AND A.THE_GEOM && B.THE_GEOM AND (ABS(A.index_i-B.index_i) = 1 OR ABS(A.index_j-B.index_j) = 1) AND ST_DIMENSION(ST_INTERSECTION(A.THE_GEOM, B.THE_GEOM)) = 1)

PLAN(VARCHAR)
SELECT
    NULL,
    A.GID AS START_NODE,
    B.GID AS END_NOD

[2014-12-18 13:03] #422 closed, assigned to nobody

[2014-12-18 13:06] ebocher opened #437 "ST_SingleSideBuffer"
Add a new function to build a single side buffer as JTS proposes.

http://lin-ear-th-inking.blogspot.fr/2010/11/single-sided-buffers-in-jts.html

[2015-01-05 13:28] gpetit commented on #437
@ebocher is it ready ?

[2015-01-05 17:18] ebocher commented on #437
I'm on it.

[2015-01-09 10:01] ebocher opened #441 "OSMDownloader and OSMRead don't work correctly."
This instruction produces an empty node table while the xml file contains several nodes.

call ST_OSMDOWNLOADER('POLYGON ((-2.130192869203905 47.633867888575935, -2.1318522937536533 47.640236490902, -2.1233757737562904 47.64032618952631, -2.1196532808473956 47.63960860053182, -2.1203708698418815 47.63377818995163, -2.130192869203905 47.633867888575935))'::geometry, '/tmp/test.xml');
call osmread('

[2015-01-27 19:21] ebocher opened #447 "H2GIS standalone"
The command maven clean install -P standalone does not contain the run.sh as noted on the wiki page.

[2015-01-28 09:24] nicolas-f commented on #447
What is the url of the concerned wiki page ?

[2015-01-28 09:40] ebocher commented on #447
the main page

[2015-01-28 09:41] ebocher commented on #447
"In the folder h2-dist/target/ you will find a zip file h2gis-standalone-bin.zip that contain a run.sh "

[2015-01-28 15:34] nicolas-f commented on #447
Updated

[2015-02-01 10:53] #447 closed

[2015-02-01 10:54] #437 closed

[2015-02-01 10:54] #436 closed

[2015-02-01 13:28] ebocher commented on #441
It works in H2GIS. See #452

[2015-02-16 15:48] ebocher commented on #441
but not in OrbisGIS ....

[2015-02-16 16:20] ebocher opened #454 "H2 Georaster"
This issue proposes to support georaster data in H2GIS as POSTGIS raster extension.

A proof of concept is currently available on the  branch https://github.com/irstv/H2-Mirror/tree/h2raster_2014_03_18.

List of requirements :

The georaster datatype must be based on the WKTRaster model. http://postgis.net/docs/manual-2.1/RT_reference.html
The georaster datatype must be an interface to offer a way

[2015-02-16 17:39] ebocher commented on #418
A workarround will be to create a view on SELECT THE_GEOM FROM MYTABLE and next offer the name of view to the st_explode.

[2015-02-16 18:02] ebocher commented on #123
Done

[2015-02-17 12:52] ebocher opened #458 "H2GIS - PL-JAVA"
Use https://github.com/tada/pljava to expose H2GIS functions as an extension to POSTGRESQL ( à la POSTGIS).

[2015-02-27 07:37] ebocher commented on #458
The JASPA guy did a great job on H2 spatial functions and PostgreSQL java wrapper.

http://jaspa.upv.es/jaspa/v0.2.0/manual/html/index.html

[2015-03-09 15:03] nicolas-f opened #464 "Web Documentation of ST_SunPosition and ST_GeometryShadow"
Write the h2gis.org documentation for new SQL functions:
 - [x] ST_GeometryShadow
 - [x] ST_SunPosition

[2015-03-19 13:32] nicolas-f opened #468 "ST_ACCUM enhance"
ST_ACCUM should return the accurate type of returned collection:
 - GeometryCollection if mix of type
 - MultiPoint if points
 - MultiLineStrings if linestrings
 - MultiPolygon if polygons

[2015-03-24 20:49] #418 closed

[2015-03-24 20:49] #350 closed

[2015-03-24 20:50] #123 closed

[2015-03-24 21:03] ebocher commented on #454
Contributing to https://github.com/geosolutions-it/jai-ext to add image processing will be a good option.

[2015-03-26 16:31] nicolas-f opened #470 "ST_LineMerge"
Implement ST_LineMerge using this function http://tsusiatsoftware.net/jts/javadoc/com/vividsolutions/jts/operation/linemerge/LineMerger.html

It will help ST_GRAPH to make a reduced graph.

[2015-03-26 16:31] nicolas-f commented on #470
Note that ST_UNION does not do the job.

[2015-03-28 08:47] obonin opened #472 "downloadOSMFileAndImport() in OSMImportTest"
in the Test package of h2spatial-ext, OSMImportTest.

The OSM file that is downloaded has been updated on the server: the node count is no more 3243 but 3245. It must be corrected in downloadOSMFileAndImport() in order to compile.
OB

[2015-03-28 09:42] ebocher commented on #472
@obonin
thanks a lot.
I will look asap.

[2015-03-28 13:10] obonin opened #473 "test_ST_VORONOIJTSInvalid()"
The test_ST_VORONOIJTSInvalid() is broken since the last commit (in my forked repository, 1.2.X branch).
OB

[2015-03-30 18:48] obonin opened #474 "build H2GIS behind a proxy server"
It is impossible to build H2GIS on a computer behind a proxy server, because of the OSMImportTest. Is it possible to disable these tests by an option in the pom file, or to configure a proxy server?
Thanks!
OB

[2015-03-31 14:19] gpetit opened #475 "Rename ST_CollectExtract to ST_CollectionExtract"
Considering that the PostGIS's function ST_CollectionExtract already exists (see http://postgis.net/docs/manual-2.0/ST_CollectionExtract.html), we should rename our H2GIS function ST_CollectExtract (https://github.com/irstv/H2GIS/blob/c4b82370bd920e94b3a22b9b125667d8e373d6f9/h2spatial-ext/src/main/java/org/h2gis/h2spatialext/function/spatial/edit/ST_CollectExtract.java) to ST_CollectionExtract

[2015-03-31 14:26] gpetit commented on #475
and @ebocher in the function's comments you wrote "Only points, lines and polygons are supported."

--> what do you mean ? I tried with multigeometries or geometrycollection and it works well.

[2015-03-31 19:44] ebocher commented on #475
Done #477

[2015-03-31 19:45] ebocher commented on #473
Could you explain a bit the problem ? thanks.

[2015-03-31 19:47] ebocher commented on #472
done with #476

[2015-03-31 19:48] ebocher commented on #472
Please close the ticket if it's ok for you.

[2015-03-31 19:48] #470 closed

[2015-03-31 19:48] #468 closed

[2015-03-31 19:49] ebocher commented on #464
Add also

 - [ ] ST_LineMerge
 - [ ] ST_Accum
 - [ ] ST_SideBuffer

[2015-03-31 19:52] #122 closed

[2015-03-31 19:53] ebocher commented on #233
Must be done with @gpetit

[2015-03-31 20:33] #472 closed

[2015-04-01 06:47] obonin commented on #473
I don't have anything really explicit. When building H2GIS, I get the following error message:

Running org.h2gis.h2spatialext.function.spatial.mesh.MeshFunctionTest
Tests run: 21, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 1.45 sec <<< FAILURE! - in org.h2gis.h2spatialext.function.spatial.mesh.MeshFunctionTest
test_ST_VORONOIJTSInvalid(org.h2gis.h2spatialext.function.spatial.mesh.MeshFunct

[2015-04-01 06:48] gpetit opened #478 "Web Documentation for SQL functions"
Produce the web documentation for

 - [x] ST_CollectExtract
 - [x] ST_OSMDownloader
 - [x] ST_ProjectPoint
 - [x] ST_SideBuffer
 - [x] ST_RingSideBuffer
 - [x] ST_RingBuffer
 - [x] ST_Explode (update doc)
 - [x] ST_LineIntersector

This issue is linked with #464

[2015-04-01 06:52] gpetit opened #479 "Web documentation for ST_(Constraint)Delaunay"
Produce the web documentation for

 - [x] ST_Delaunay
 - [x] ST_ConstraintDelaunay

@ebocher

[2015-04-09 08:28] gpetit commented on #441
I'm using OrbisGIS V5.1 snapshot from 09/04/2015 and H2GIS (dist 1.1.1) from 09/04/2015.

In both cases, the tables are empty.

[2015-04-09 08:49] gpetit commented on #441
In fact this issue is linked to the OSM file extension.
OSMRead is not able to read .xml file.
So, in the ST_Downloader step, the user HAS TO specify an .osm file

[2015-04-09 11:31] #475 closed

[2015-04-09 13:18] ebocher commented on #473
Fix

[2015-04-09 13:18] #473 closed

[2015-04-09 13:19] ebocher commented on #441
Fix #489

[2015-04-10 14:33] gpetit opened #493 "Pblm with ST_GeometryShadow"
I have a problem with the last paramater (the boolean value that allows or not to merge polygons) of the ST_GeometryShadow function (see https://github.com/irstv/H2GIS/blob/e2bc440c042d38d422a95d0a5a969f1939bbe13f/h2spatial-ext/src/main/java/org/h2gis/h2spatialext/function/spatial/earth/ST_GeometryShadow.java)

I have one small table, with two buildings
[code]
Then I compute the shadow with this i

[2015-04-10 14:36] ebocher commented on #454
New interesting image library https://github.com/dragon66/icafe.

[2015-04-10 14:39] nicolas-f commented on #493
Try

CREATE TABLE building_shadow AS SELECT ST_Geometryshadow(the_geom, ST_SunPosition('POINT(-1.54544 47.24961)','2015-01-30 10:00:00+01:00'), height, 1) **the_geom** FROM building;

[2015-04-10 14:41] ebocher commented on #493
+100 @nicolas-f
This is problem due to the name of the column.

[2015-04-10 14:41] nicolas-f commented on #493
Ah you mix lot of errors.

use this query
[code]

[2015-04-10 14:43] ebocher commented on #493
This signature is not supported.
Use
CREATE TABLE building_shadow AS SELECT ST_Geometryshadow(the_geom, ST_SunPosition('POINT(-1.54544 47.24961)'::geometry,'2015-01-30 10:00:00+01:00'), height) as the_geom FROM building

[2015-04-10 14:45] ebocher commented on #493
You have

* computeShadow(Geometry geometry, Geometry sunPosition, double height)
* computeShadow(Geometry geometry, double azimuth, double altitude, double height)
* computeShadow(Geometry geometry, double azimuth, double altitude, double height, boolean doUnion)

[2015-04-10 14:57] gpetit commented on #493
Ok I see. it's due to the signature.
So I executed this
[code]
and it works well.

Note that ::geometry is not needed

[2015-04-10 14:57] gpetit commented on #493
Thx guys :-)

[2015-04-10 14:57] #493 closed

[2015-04-14 08:00] nicolas-f opened #497 "Create ST_ShadowRay derivate from ST_GeometryShadow"
In order to compute self-occlusion of shadows. A projection shadow have to be created starting from building side height to z=0.

In conjunction with other spatial process, this function would help to compute neighbors shadowing.

[2015-04-15 07:50] #441 closed

[2015-04-15 07:51] #397 closed

[2015-04-15 07:52] gpetit commented on #368
@ebocher

[2015-04-15 07:53] gpetit commented on #233
Duplicate with #479

[2015-04-15 07:53] #233 closed

[2015-04-15 07:58] ebocher commented on #478
Merci ;-)

[2015-04-15 07:58] #478 closed

[2015-04-15 07:59] ebocher commented on #398
@gpetit

[2015-04-15 08:00] nicolas-f commented on #24
We could use http://sqljet.com and write a new table engine. Thanks to that H2GIS could remain 100% java and handle geopackage format.

[2015-04-15 11:01] ebocher commented on #368
Done #500

[2015-04-15 11:04] ebocher commented on #474
Fixed #500. Tests have been disabled.

[2015-04-15 11:14] #368 closed

[2015-04-15 11:14] #474 closed

[2015-04-15 11:32] ebocher opened #501 "H2GIS 1.3 X documentation"
Produce the web documentation for

 - [x] ST_MaxDistance,
 - [x] ST_LongestLine,
 - [x] ST_FlipCoordinates.

Update documentation for

 - [x] ST_PointFromText,
 - [x] ST_MPointFromText,
 - [x] ST_LineFromText,
 - [x] ST_MLineFromText,
 - [x] ST_PolyFromText,
 - [x] ST_MPolyFromText,
 - [x] ST_PolyFromWKB,
 - [x] ST_LineFromWKB
 - [x] ST_PointFromWKB

Add the text : If an SRID is not specified, it

[2015-04-16 08:00] nicolas-f opened #505 "Add note about && for ST_Intersects ST_Overlaps, ST_Touches and ST_Contains"
A user may think that making a spatial index is enough when using predicates. Note about && is currently only in spatial index page.

```This predicate does not yet support spatial indices, but it will in a future release. Use it in conjunction with && operator```

[2015-04-16 09:35] nicolas-f opened #507 "Documentation error in ST_Covers"
Example of st_covers use st_contains.

[2015-04-16 10:05] #507 closed

[2015-04-17 09:56] #505 closed

[2015-04-17 12:40] gpetit commented on #464
@nicolas-f @ebocher I think you can close this issue now :-)

[2015-04-17 12:42] #464 closed

[2015-04-20 08:05] gpetit commented on #501
@ebocher  This issue can be closed

[2015-04-20 08:06] #501 closed

[2015-04-20 12:41] gpetit commented on #398
@ebocher you can close this issue since my PR #517  has been merged

[2015-04-20 13:41] gpetit opened #519 "H2GIS ST_Delaunay VS PostGIS ST_DelaunayTriangles"
If we compare ST_Delaunay from H2GIS and ST_DelaunayTriangles PostGIS we don't have the same signatures

ST_Delaunay (https://github.com/irstv/H2GIS/blob/master/h2spatial-ext/src/main/java/org/h2gis/h2spatialext/function/spatial/mesh/ST_Delaunay.java)
[code]
and

ST_DelaunayTriangles (http://postgis.net/docs/ST_DelaunayTriangles.html)
[code]

Is it normal ?

@ebocher @nicolas-f

Doc under construc

[2015-04-20 19:21] ebocher commented on #519
I'm not in favor of postgis semantic. Because a delaunay triangulation is always a set of triangles, moreover the postgis function returns more than single triangles.
So I propose to keep the H2GIS signature.

[2015-04-21 06:22] gpetit commented on #519
Ok for me

[2015-04-21 06:25] gpetit opened #520 "ST_Delaunay - quality parameter works only with 2.5D"
When you use ST_Delaunay, you have this signature
[code]
This signature works ONLY if the geometry is in 2.5D (with a Z value).

It seems that @nicolas-f will resolve this problem, with poly2tri ...

@ebocher

[2015-04-21 07:23] ebocher commented on #520
We will Nicolas's super code

[2015-04-21 07:24] gpetit commented on #520
You mean "wait" ?

[2015-04-21 07:25] ebocher commented on #520
a yes

[2015-04-21 14:14] gpetit commented on #479
Done

[2015-04-21 14:14] #479 closed

[2015-04-21 14:19] #398 closed

[2015-04-23 07:49] #519 closed

[2015-04-23 07:53] ebocher commented on #520
This issue will be fixed with the last triangulation library.

[2015-04-23 07:53] #520 closed

[2015-04-30 11:07] ebocher commented on #419
perfect thanks

[2015-04-30 11:07] #419 closed

[2015-04-30 12:52] gpetit opened #530 "Add web documentation for ST_Tessellate"
Create the documentation for ST_Tessellate (see #419) and https://github.com/orbisgis/h2gis/blob/master/h2spatial-ext/src/main/java/org/h2gis/h2spatialext/function/spatial/mesh/ST_Tessellate.java

@gpetit

[2015-04-30 14:04] #371 closed

[2015-04-30 14:04] #413 closed

[2015-05-11 11:38] ebocher opened #533 "EarClipper"
EarClipper is not used anymore ???

[2015-05-16 10:14] obonin opened #535 "Bug in ST_LineIntersector (or documentation to improve)"
ST_LineInterstor does not behave like ST_Split:
select ST_LineIntersector('LINESTRING(0 3, 3 3, 6 3)', 'LINESTRING(1 3, 3 3)');
does not split the line in (3 3) whereas
select ST_Split('LINESTRING(0 3, 3 3, 6 3)', 'LINESTRING(1 3, 3 3)');
works as intended.

Either this is a bug in ST_LineInterstector, or the documentation should be more explicit about what is an intersection.
Thanks!

[2015-05-16 11:32] ebocher commented on #535
Thanks. I will look on it asap.

[2015-05-18 12:15] nicolas-f commented on #533
Yes it is not used anymore. Should be deleted right ?

[2015-05-18 12:17] ebocher commented on #533
yes yes.

[2015-05-18 12:20] nicolas-f commented on #535
In your sample you don't look to compute intersection points but exploding linestring into segments. The appropriate function is [ST_ToMultiSegments](http://www.h2gis.org/docs/dev/ST_ToMultiSegments/)

[2015-05-18 12:22] nicolas-f commented on #535
As a side note. You can after use [ST_LineMerge](http://www.h2gis.org/docs/dev/ST_LineMerge/) in order to reduce the graph nodes.

[2015-05-18 12:24] ebocher commented on #535
ST_LineIntersector produces a valid result. It returns a multilinestring with 3 lines

[code]

because the LINESTRING(1 3, 3 3) overlaps the 'LINESTRING(0 3, 3 3, 6 3)

[2015-05-18 12:52] obonin commented on #535
My mistake, the example was supposed to be

select ST_LineIntersector('LINESTRING(0 3, 3 3, 6 3)', 'LINESTRING(3 0, 3 3)');
vs
select ST_Split('LINESTRING(0 3, 3 3, 6 3)', 'LINESTRING(3 0, 3 3)');

I have mixed up the coordinates. The lines weren't supposed to overlap, but to be touching by only one point.

Both examples give the same results (as intended). They aren't able to reproduce the proble

[2015-05-21 09:36] obonin commented on #535
The problem is the following:

select ST_LineIntersector('LINESTRING (773869.3099999997 6359672, 773681.8799999997 6359617, 773516.6899999997 6359722, 773300.3099999997 6359528.5, 772634.3099999997 6359395, 772459.5599999997 6359715, 772590.2499999997 6360364, 772177.8799999997 6360270, 771791.4399999997 6360541.5, 771776.6899999997 6360255.5, 771733.3099999997 6360167, 771464.1899999997 6360055,

[2015-05-22 09:11] nicolas-f commented on #535
Your line doesn't intersects:
[code]

This is precision issue in JTS. You have to find another approach for your processing.

[2015-05-22 11:37] ebocher opened #538 "3D functions documentation"
Create documentation  :

- [ ] ST_Perimeter
- [ ] ST_3DPerimeter
- [ ] ST_3DArea

[2015-05-22 11:40] obonin commented on #535
Its actually does intersect however. If I dilate a little more the short line (by 1.2 rather than by 1.1) it works:

select st_intersects('LINESTRING (773869.3099999997 6359672, 773681.8799999997 6359617, 773516.6899999997 6359722, 773300.3099999997 6359528.5, 772634.3099999997 6359395, 772459.5599999997 6359715, 772590.2499999997 6360364, 772177.8799999997 6360270, 771791.4399999997 6360541.5, 77

[2015-05-26 09:43] #535 closed

[2015-05-29 08:17] #533 closed

[2015-06-04 07:35] gpetit opened #547 "Null Pointer Exception"
[code]

[2015-06-04 07:40] ebocher commented on #547
It seems you have a null input geometry on the sidebuffer function ?

[2015-06-04 07:50] gpetit commented on #547
Yes. We are working on it. We have to take into account this unexpected case :-(

[2015-06-04 07:52] ebocher commented on #547
There is a test on side buffer function no ?

[2015-06-04 08:55] nicolas-f commented on #547
Yes there is a test. It seems that JTS raise a NPE. Maybe we have to check the type of geometry or catch NPE in H2GIS..

It should be interesting to be able to post a issue on jts with the corresponding geometry.

[2015-06-04 12:42] AngryGami opened #548 "Can't import geojson that contains various types of shapes"
When trying to do
[code]
I'm getting
[code]
i.e. it expect that all shapes in THE_GEOM column would be ONLY of type 3 (polygon)
while
[code]
works fine.
I beleive that this constraint is kinda too restrictive...

This wasn't an issue in version 1.1.1 and only appeared when I switched to 1.2.2.

I assume that this happening because previously SHPEngine.java file have following feedCreateTableData m

[2015-06-04 13:23] ebocher commented on #548
Don't understand why you are talking about feedCreateTableData. Could you please send a copy of the input geojson my-points-and-polygons.geojson.

[2015-06-04 15:50] AngryGami commented on #548
This is the only place in the source code where "ST_GeometryTypeCode(THE_GEOM) =" constraint is actually created.
This is poligons and points
[code]

and this is only polygons
[code]

[2015-06-05 10:12] ebocher commented on #548
GeoJson reader doesn't support mixed geometry. We will look asap to fix that.

[2015-06-10 07:35] nicolas-f opened #551 "DriverFunction API, support for configuration and multi-table file."
Update methods in H2GIS API in order to allow configuration of DriverFunction implementations.

Configuration profile must be given by the DriverFunction for a specific file, updated, then used back on DriverFunction when effectively import/export table(s).

A driver may link/copy a file to/from 1-n tables. This feature is closely related to geopackage support #24 .

[2015-06-11 09:01] nicolas-f opened #552 "Add ST_GEOMFROMWKB"
Write a function in order to cast WKB data into Geometry. See http://h2gis.1099522.n5.nabble.com/Missing-ST-GeomFromWKB-function-td10.html#a11

[2015-06-12 10:20] ebocher commented on #547
Could you please post a test case ?

[2015-06-12 12:21] ebocher commented on #548
Fixed #553

[2015-06-12 12:21] #548 closed

[2015-06-16 08:53] ebocher opened #554 "CityGML importer - exporter"
It would be nice to user the CityGML4J library to import an export City GML file in H2GIS.

https://github.com/citygml4j/citygml4j

[2015-06-16 08:56] ebocher commented on #554
It seems that H2 is already used.
https://github.com/3dcitydb/importer-exporter

[2015-06-16 13:32] nicolas-f commented on #554
It use JAXB https://github.com/3dcitydb/importer-exporter/blob/master/src/org/citydb/modules/citygml/importer/controller/Importer.java

[2015-06-23 09:51] gpetit opened #558 "ST_3DArea does not work with multipolygons"
If you try to compute the 3D Area of a multipolygon,

[code]
... we have an error message
[code]

So it seems that multipolygons are not accepted, even if the java function says its possible.

@ebocher @nicolas-f

[2015-06-23 10:00] gpetit commented on #558
And we have the same problem with GeometryCollection

[code]
returns
[code]

even if GeometryCollection are accepted in ST_3DPerimeter and ST_Area functions

[2015-06-23 14:58] ebocher commented on #552
Done

[2015-06-23 14:58] #552 closed

[2015-06-23 15:02] ebocher opened #559 "New functions documentation"
- [x] ST_GeomFromWKB
- [x] ST_AsGML
- [x] ST_GeomFromGML
- [x] ST_GeomFromGeoJSON
- [x] ST_OSMMapLink
- [x] ST_GoogleMapLink

[2015-06-23 15:25] ebocher commented on #558
Good catch fixed.

[2015-06-24 14:33] ackerball opened #562 "h2gis, postgis st_transform"
i use postgis and h2gis and i have tested ST_Transform function on both systems:

SELECT  ST_AsText(ST_Transform(
ST_GeomFromText('POINT(5873455.6 445588.07)',25833),4326)
)
on postgis i get the following result

POINT(58.4155109850716 2.92774013845001)

on h2gis

POINT (58.454757350381854 2.9198520253289484)

different coordinates with the same statement.

Could someone explain the difference or

[2015-06-26 13:37] gpetit commented on #562
Hi @ackerball and thanks for this feedback.

H2GIS is using CTS library (see https://github.com/orbisgis/cts) while PostGIS is using Proj4. So the problem should be in this difference.

We'll try to investigate asap.

Regards

Gwendall

[2015-06-29 11:44] ackerball commented on #562
hello gwendall,

i've got some support from here
(http://gis.stackexchange.com/questions/152073/h2gis-and-postgis)
so i have to swap lat long coordinates and then i get the right results on both systems.

i will close this issue.

thanx

frank

[2015-06-29 11:44] #562 closed

[2015-06-29 12:11] gpetit commented on #562
Perfect !

Thanks Frank

[2015-06-30 15:11] j3r3m1 opened #563 "Error message "Column _ROWID_ does not exists""
I have the following error message when I click on a row of one of my table : "Column _ROWID_ does not exists". It is also impossible to zoom in on the row selected. No message appear but nothing happen on the "Map Editor".

I use OrbisGIS 5.1.0 and my table does not contain a primary key, only a geometry column.

[2015-07-03 06:42] ebocher commented on #563
Issue related to OrbisGIS  https://github.com/orbisgis/orbisgis/issues/840

[2015-07-03 06:42] #563 closed

[2015-07-16 10:30] #558 closed

[2015-07-16 10:30] #554 closed

[2015-07-16 11:15] nicolas-f commented on #554
Why this enhancement has been closed ?

[2015-07-16 12:18] ebocher commented on #547
Already valid ?

[2015-08-27 13:25] ebocher opened #567 "Last release on maven"
Publish the last H2GIS release 1.2.3 on maven central.

[2015-09-01 06:43] nicolas-f commented on #567
H2GIS 1.2.3 with H2 1.4.186 ?

[2015-09-01 07:30] ebocher commented on #567
With 1.4.188

[2015-09-01 09:56] ebocher opened #570 "GeoRaster datatype"
Implement a new datatype to support georaster data.

The georaster datatype must be based on the WKTRaster model. http://postgis.net/docs/manual-2.1/RT_reference.html

The georaster datatype must be an interface to offer a way to plug others libraries or models.

[2015-09-01 09:58] ebocher opened #571 "GeoTIFF reader and writer"
Implement a Geotiff driver to read and write GeoTIFF file.

[2015-09-01 10:00] ebocher opened #572 "Esri ASCII grid importer and exporter"
Implement an ESRI grid importer and exporter.

See more details here :

http://resources.esri.com/help/9.3/arcgisdesktop/com/gp_toolref/spatial_analyst_tools/esri_ascii_raster_format.htm

[2015-09-01 10:03] ebocher opened #573 "ST_D8FlowDirection"
Implement the D8 direction algorithm.

See
http://help.arcgis.com/EN/arcgisdesktop/10.0/help/index.html#//009z00000063000000.htm

This implementation is similar to #598 .

The syntax will be

[code]

[code]

[2015-09-01 10:30] ebocher opened #574 "World file image format"
Implement the world image formats at least for PNG and TIFF.

See http://www.gdal.org/frmt_various.html#WLD

[2015-09-01 10:31] ebocher opened #575 "ST_D8FlowAccumulation"
Implement the D8 flow accumulation algorithm.

http://help.arcgis.com/EN/arcgisdesktop/10.0/help/index.html#/How_Flow_Accumulation_works/009z00000062000000/

The input data of the D8 flow accumulation algorithm is a D8 flow direction raster (#573).

 * JAI operator

[code]

 * SQL function

The ST_D8FlowAccumulation will have the following signature.

[code]

[2015-09-01 10:36] ebocher opened #576 "ST_D8Watershed"
Implement an algorithm to extract all watersheds or one based on a pixel location.

See https://grass.osgeo.org/grass64/manuals/r.watershed.html

* JAI operator

Implement a JAI operators one to compute a watershed from a set of pixel locations the other to compute all watersheds.

The syntax will be

From pixel locations

[code]

All watersheds

This method needs to identify all outlets and compu

[2015-09-01 10:42] ebocher opened #577 "Fill sink algorithm"
Implement an efficient algorithm to fill all sinks in a DEM.

References

http://www.cs.duke.edu/geo*/terraflow/papers/journal_terraflow.pdf

http://www.cs.duke.edu/geo*/terraflow/papers/alenex00_drainage.ps.gz

http://www.researchgate.net/publication/240407597_A_fast_simple_and_versatile_algorithm_to_fill_the_depressions_of_digital_elevation_models._CATENA -> used by GDBMS

[2015-09-01 11:50] ebocher opened #578 "GeoRaster processing API"
The JAI-EXT library will be used to develop the georaster algorithms.
See https://github.com/geosolutions-it/jai-ext.

This library must be tested with the https://github.com/jai-imageio/jai-imageio-core because It's fully compliant with the JAI-EXT  and the H2GIS licences.

[2015-09-01 11:52] ebocher opened #579 "GeoRaster driver API"
An API must be proposed on top of  https://github.com/jai-imageio/jai-imageio-core to read and write WorldFile, GeoTIFF and import and export Esri ASCII.

[2015-09-01 11:53] ebocher commented on #579
Note this API will be extended in the future thanks to https://github.com/dragon66/icafe

[2015-09-02 07:17] nicolas-f commented on #454
We should provide to H2 some functions to make the GeoRaster format useful without using additional library.

[2015-09-02 07:18] ebocher commented on #454
So you want to use the default image IO library available from the JRE ?

[2015-09-02 07:32] ebocher commented on #454
There is also another interesting lib https://github.com/haraldk/TwelveMonkeys

[2015-09-02 08:19] ebocher opened #580 "S57 file importer"
Implement the S57 file importer in order to read marine map.
See http://www.gdal.org/drv_s57.html

[2015-09-03 09:38] nicolas-f commented on #454
Im thinking about adding
 * ST_MakeEmptyRaster
 * Another constructor ST_MakeRaster( blob data, int SRID) close to http://postgis.net/docs/manual-2.1/RT_ST_FromGDALRaster.html

[2015-09-03 09:48] ebocher commented on #454
Ok

[2015-09-03 13:20] nicolas-f commented on #454
Using JAI the succession of Constructor would certainly be:
 * For RandomAccess
   * ResultSet.getBlob() -> RandomAccessFile() -> FileImageOutputStream -> ImageReader.setInput()
 * For sequential access (File cache is needed as [JAI need to navigate freely inside the data][1] )
  * ResultSet.getInputStream() ->  FileCacheImageInputStream() -> ImageReader.setInput()

[1]:http://docs.oracle.com/java

[2015-09-14 11:24] nicolas-f commented on #571
Beam have GeoTiff related class:
https://github.com/bcdev/beam/blob/master/beam-geotiff/src/main/java/org/esa/beam/dataio/geotiff/GeoTiffProductReader.java

[2015-09-14 11:29] ebocher commented on #571
Yes but Beam uses Geotools to parse geotiff fields.

[2015-09-14 11:29] nicolas-f commented on #454
[code]

[2015-09-14 11:33] nicolas-f commented on #571
Ok. Used specification is here http://www.remotesensing.org/geotiff/spec/contents.html

Does gdms was able to read GeoTiff in the past ?

[2015-09-14 11:58] ebocher commented on #571
No. GRAP was used to read and write acsii and world file image.
I propose to test raster datatype with a basic model :  tiff + wordlfile + prj (optional).

[2015-09-14 12:03] ebocher commented on #454
Sounds good.

[2015-09-17 07:14] #567 closed

[2015-09-17 07:15] ebocher commented on #538
Done Thanks

[2015-09-17 07:15] #538 closed

[2015-09-17 08:41] ebocher commented on #530
@gpetit  Could you please write this doc ?

[2015-09-17 08:42] ebocher commented on #547
Ping

[2015-09-17 08:44] ebocher commented on #412
Is it necessary ?

[2015-09-17 08:53] nicolas-f commented on #412
This is the only way to export properly in SketchUp as it only support KMZ files with geometry inside in DAE format.

[2015-09-17 12:00] nicolas-f opened #586 "H2 native raster Functions"
- [x] raster::geometry
 - Convex hull of the raster (taking account of rotation)
- [x] ST_MetaData( RASTER ) ->ARRAY (Coordinate X, Coordinate Y, Width, Height, ScaleX, ScaleY, SkewX, SkewY, SRID, bands count)
 - Get WKB metadata
- [x] ST_RasterFromImage( BLOB, upperLeftX, upperLeftY, scaleX, scaleY, skewX,
skewY, srid)
 - Convert image stream into Raster using ImageIO (JAI can extend supported fo

[2015-09-17 12:09] ebocher commented on #586
ST_ImageFromRaster must detect the format suffix no ?

[2015-09-17 12:18] nicolas-f commented on #586
The format of Raster is WKB Raster. This function must translate into another format, defined by the user.

[2015-09-17 12:22] ebocher commented on #586
So this functions is used to convert ?

[2015-09-17 12:24] nicolas-f commented on #586
Yes this is the inverse of ST_RasterFromImage. So you should call something like that:
[code]

[2015-09-17 13:25] ebocher commented on #586
Perfect

[2015-09-18 07:40] gpetit opened #588 "Remove irstv reference on all H2GIS docs"
In most of the function's doc there is, at the end of the page, a link to the source code, which point to the old git repo of IRSTV.

So we need to replace
[code]
by
[code]

[2015-09-18 08:03] ebocher commented on #530
@gpetit  thanks

[2015-09-18 08:03] #530 closed

[2015-09-18 10:50] gpetit commented on #588
Done. See #589

[2015-09-18 11:47] #588 closed

[2015-09-22 07:19] nicolas-f commented on #586
Added ImageIO drivers

[2015-09-23 13:47] nicolas-f commented on #586
Added  ST_ImageFromRaster

[2015-09-24 12:29] nicolas-f commented on #586
Maybe implement  FILE_WRITE( lob, String ), to write image obtained through ImageFromRaster ?

[2015-09-24 12:45] ebocher commented on #586
Yes rigth

[2015-09-24 14:40] nicolas-f commented on #578
What about ```ST_MapAlgebra```

What do you think about https://github.com/mbedward/jiffle ?

[2015-09-25 12:29] nicolas-f commented on #579
Transfer of raster from PostGIS to H2GIS using Table Link:

[code]

[2015-09-25 12:33] nicolas-f commented on #579
Query
SELECT * FROM MARSLOCAL limit 5;

| ID | RAST |
|---|---------------------------------------------------------------------------------------------------------------|
| 1 | w:38 h:95 bands:3 srid:4326 x:687747 y:4,80709e+06 scalex:2,50000 scaley:-2,50000 skewx:0,00000 skewy:0,00000 |
| 2 | w:38 h:95 bands:3 srid:4326 x:687842 y:4,80709e+06 scalex:2,50000 scaley:-2,50000 skewx:0,00000 skewy:0,

[2015-09-25 13:07] nicolas-f commented on #586
Add ST_MAKEEMPTYRASTER

[2015-09-25 13:08] nicolas-f commented on #586
Raster.toString() is converted into human readable metadata:
```w:10 h:10 bands:3 srid:27572 x:0.00000 y:0.00000 scalex:1.00000 scaley:-1.00000 skewx:0.00000 skewy:0.00000```

[2015-09-25 13:09] gpetit commented on #586
@nicolas-f
Maybe its more clear to write ST_MakeEmptyRaster ?

[2015-09-25 13:14] nicolas-f commented on #586
ok..

[2015-09-25 13:48] ebocher commented on #579
Don't understand why you put  this example here ?

[2015-09-25 13:56] nicolas-f opened #592 "H2 Raster <-TABLE LINK -> PostGIS"
Transfer of raster from PostGIS to H2GIS using Table Link:

[code]

Query
SELECT * FROM MARSLOCAL limit 5;

| ID | RAST |
|---|---------------------------------------------------------------------------------------------------------------|
| 1 | w:38 h:95 bands:3 srid:4326 x:687747 y:4,80709e+06 scalex:2,50000 scaley:-2,50000 skewx:0,00000 skewy:0,00000 |
| 2 | w:38 h:95 bands:3 srid:4326 x:687842

[2015-09-25 13:57] nicolas-f commented on #579
I have created a separated issue

[2015-09-25 13:57] #592 closed

[2015-09-25 13:57] ebocher commented on #579
Thanks

[2015-09-28 08:34] nicolas-f commented on #586
Add ST_BandMetaData

[2015-09-29 15:42] boosh opened #593 "Fix the quickstart guide"
There are errors on `http://www.h2gis.org/docs/dev/quickstart/`

`wget http://tinyurl.com/h2gis-zip -O h2gis.zip` returns some garbled page from jenkins. None of the URLs in it seem to work.

I also can't get the following to work:
[code]

[2015-09-30 09:32] nicolas-f opened #594 "Mif/Mid support"
Add support for MapInfo formats.

[2015-09-30 09:32] nicolas-f opened #595 "Autocad Dxf format support"
Add support for Autocad format.

[2015-09-30 09:40] nicolas-f commented on #593
Hi,

Thanks, it has been fixed in the documentation.

```I also can't get the following to work:```

Do you have an error message ?

[2015-09-30 10:48] boosh commented on #593
I think it was a classpath issue. I expect it'd work if I used the standalone jar I was trying to download. I'll close this ticket for now and reopen if I run into any more problems.

Thanks

[2015-09-30 10:48] #593 closed

[2015-10-08 14:07] nicolas-f commented on #586
Currently WKB Image parsing is slow because there is absolutely no pixel cache. Here a sample of what is done currently:

**I want RGB of pixel 500**
red = Blob.getInputStream().skip(adressOfRedBandPixelZero)
green = stream.skip(adressOfGreenPixelZero)
blue = stream.skip(adressOfBluePixelZero)

**I want RGB of Pixel 501**
The problem here is the stream is in the blue band area. We have to reopen t

[2015-10-09 12:29] nicolas-f commented on #586
Add
ST_WorldToRasterCoord
 ST_WorldToRasterCoordX
 ST_WorldToRasterCoordY

[2015-10-13 08:16] ebocher commented on #586
To be consistent with geometry drivers, ST_RasterFromFile function will be renamed by ST_WorldImageRead (eg SHPRead) and a new function ST_WorldImageWrite will be added.

[2015-10-13 08:21] ebocher commented on #586
Note : I don't want to use raster because it's a type (a category of datatype) and not a format like worldfile, geotiff.

[2015-10-13 08:29] nicolas-f commented on #586
what about ST_RasterFromWorldFile ?

[2015-10-13 08:31] ebocher commented on #586
No because we must also write st_geometryfromfile ;-)

[2015-10-13 08:44] ebocher commented on #586
ST_WorldFileImageWrite will have the following signature

[code]

Usages

[code]

[code]

[2015-10-13 19:09] ebocher opened #598 "ST_D8Slope"
The SQL function ST_D8Slope needs to implement   a JAI operator and a SQL function.

 * JAI operator

Implement a JAI operator to compute the maximum slope on 3x3 windows.
The slope could be compute in degree, radian or percent.

The syntax will be

[code]

The code to compute the slope is available in grap on the HydrologyUtilities.java file.
The method getSlope must be adapted to run in
[code]

[2015-10-13 19:42] ebocher commented on #578
Other interesting stuffs

https://code.google.com/p/forklabs-jai-operators/

http://www.lac.inpe.br/JIPCookbook/6320-howto-pansharpening.jsp

[2015-10-13 19:44] ebocher commented on #598
JGrass team seems to implement it with JAI https://github.com/zulfahmi/jgrass/blob/15d51865dfb1f98f0803dc5fd4b8ad91dc6fadf6/plugins/eu.hydrologis.jgrass.models/src/eu/hydrologis/jgrass/operations/jai/slope/HMSlopeOpImage.java.
However it doesn't support large images.

[2015-10-14 06:45] ebocher opened #599 "ST_WorldFileImageWrite"
ST_WorldFileImageWrite will have the following signature

[code]

Usages

[code]

[code]

[2015-10-14 06:54] ebocher opened #600 "ST_WorldFileImageRead"
ST_WorldFileImageRead is used to read an image with its world file (ESRI representation).

The function will have the following signature

[code]

Usages

[code]

[code]

[2015-10-14 07:25] ebocher opened #601 "ST_SetGeoReference"
Set  6 georeference parameters in a single call to a Raster data type.

The signature will be

[code]

[2015-10-14 07:27] ebocher commented on #559
@gpetit waiting some documentation.

[2015-10-14 07:28] ebocher commented on #547
Ping

[2015-10-14 07:32] ebocher commented on #578
About MapAlgebra a good alternative could be the BandMathsOp available in BEAM :

https://github.com/bcdev/beam/blob/master/beam-gpf/src/main/java/org/esa/beam/gpf/operators/standard/BandMathsOp.java

[2015-10-14 07:46] ebocher commented on #600
The ST_WorldFileImageRead syntax must be improve to support import or read file from the disk. eg : ST_WorldFileImageRead( '/tmp/toto.png', false) ;
true = image imported
false = image read from the disk

[2015-10-14 08:00] ebocher commented on #574
Duplicate with #600  and #599

[2015-10-14 08:00] #574 closed

[2015-10-17 08:40] ebocher commented on #572
Two functions ESRIGRIDRead and write  will be added to import and export a ESRI grid into OrbisGIS.

[2015-10-17 08:50] ebocher commented on #572
The use of https://github.com/geosolutions-it/imageio-ext/tree/master/plugin/arcgrid will be a good solution. A new module image_io_ext_driver must be added in H2GIS.

[2015-10-21 07:16] nicolas-f commented on #570
Done

[2015-10-21 07:23] ebocher opened #603 "Raster cache size"
Use the H2 properties to custom the raster cache size.
[code]

[2015-10-26 21:56] michaeljmcd opened #608 "Invalid POM Error when Referencing H2GIS for an Embedded Database"
When I attempt to reference h2gis in my pom (for use with an embedded database), like so:

    <dependency>
      <groupId>org.orbisgis</groupId>
      <artifactId>h2spatial</artifactId>
      <version>1.2.3</version>
    </dependency>

I receive the following errors when I attempt to build my application:

     [WARNING] The POM for org.orbisgis:h2gis:jar:1.2.3 is invalid, transitive dependencies

[2015-10-28 08:37] nicolas-f commented on #608
Hi,

I'm sorry but I don't understand your error. We not have such issues with h2gis dependent projects. Please provide a sample project that raise this exception.

Thanks for report

Regards,

 Nicolas Fortin
 Lab-STICC – CNRS UMR 6285 et Ecole Centrale de Nantes
 GIS        http://orbisgis.org
 Spatial DB http://h2gis.org
 Noise      http://noisemap.orbisgis.org

[2015-10-28 08:41] nicolas-f commented on #603
Fixed in https://github.com/nicolas-f/h2database/commit/37ee69adf6c40a547a7c05d14871394b3b747597

[2015-10-28 08:41] #603 closed

[2015-10-28 09:12] ebocher commented on #603
Could you please add an example in the issue.

Thanks a lot

[2015-10-28 09:28] nicolas-f commented on #603
The [system property][1] is ```h2.maxRasterRowCache```

You can however specify the row cache when creating the GeoRaster by using GeoRasterRenderedImage#setMaxRowCache(int)

 [1]: https://docs.oracle.com/javase/tutorial/essential/environment/sysprop.html

[2015-10-28 12:26] ebocher commented on #603
THX

[2015-10-28 16:17] nicolas-f commented on #570
TODO GeoRasterRendered image that claim to have tileSupport. Size of tile is the same of WKBRasterDataBuffer pixel cache (width x 1)

[2015-10-28 17:53] ebocher commented on #570
Yes good catch because some JAI operators need adaptive pixel cache.

[2015-10-29 15:43] nicolas-f commented on #598
`However it doesn't support large images.`

Why do you think this class does not handle large images ?

[2015-11-05 07:41] ebocher opened #609 "RasterMetaData constructor"
It will be nice to have the same order for the input values.

[code]

[2015-11-05 17:06] ebocher commented on #572
Done #610

[2015-11-06 08:33] nicolas-f commented on #598
done

[2015-11-06 08:33] #572 closed

[2015-11-06 08:34] ebocher commented on #598
clap clap

[2015-11-06 08:34] #598 closed

[2015-11-06 09:35] nicolas-f commented on #573
Before processing the slope direction, I have to fix the input data ?
```If all neighbors are higher than the processing cell, it will be considered noise, be filled to the lowest value of its neighbors, and have a flow direction toward this cell.```

[2015-11-06 13:25] ebocher commented on #573
You must set a flag for sink and flat pixel and do a choice during the accumulation  process.

[2015-11-06 21:26] michaeljmcd commented on #608
I have an example, but github will not allow me to attach an archive or a text file directly to this message.

So, here is what I did:

1. I generated a new application with the command `mvn archetype:generate -DgroupId=com.example -DartifactId=exampleApp -DarchetypeArtifactId=maven-archetype-quickstart -DinteractiveMode=false`
2. I changed the `pom.xml` to look like http://pastebin.com/dQ6eKT1i
3

[2015-11-06 22:17] nicolas-f commented on #608
This is because you require h2spatialext and link with only h2spatial.
If you want all features use this dependency:
[code]

[2015-11-09 17:08] ebocher opened #617 "TSV importer - exporter"
Add support to read and write TSV file  (Tab-separated values ).

This format is used to share data. EG : http://ec.europa.eu/eurostat/web/population-demography-migration-projections/population-data

[2015-11-09 17:14] ebocher opened #618 "Support on the fly zip decompression for each importer"
It would be nice to support on the fly zip decompression for each import (geojson, csv, gpx, tsv...).
Note :  the zip folder must contains only one file.

[2015-11-10 11:10] nicolas-f commented on #578
Do algebra using ScriptEngine api of Java used into JAI operator.

[2015-11-11 09:22] ebocher opened #620 "ST_MapAlgebra"
Write an operator plus a function to execute map algebra syntax on a raster.
The idea is to use the ScriptEngine api of Java  into JAI operator.

The JAI syntax will be

[code]

[code]

Constraints

A geoRaster must be contain only one band
The input geoRasters must have a common georeferenced envelope (same or based on the intersection)

[2015-11-13 18:08] michaeljmcd commented on #608
Understood, but if you add a dependency so that the relevant section of the POM reads

[code]

You still receive warnings from Maven during build

[code]

and a `ClassNotFoundException` at run time

[code]

The only way to make the application work as intended is to deeply add all inter-project dependencies by hand, as shown in my previous post.

[2015-11-16 09:12] ebocher opened #624 "ST_Crop"
ST_CROP uses the JAI operator.

Crops a raster according the bounding box of the input geometry or set the minX, minY, maxX, maxY of the crop bounds.

Note :
The crop bounds can not be larger than the actual raster bounds.

Signatures

[code]

[code]

[2015-11-17 13:00] nicolas-f commented on #575
Option for Raster processing in memory

[code]

[2015-11-17 13:22] ebocher commented on #575
Perfect. Is it available as a function in SQLEngine ?
RasterProcessingInMemory =true;

[2015-11-17 13:23] nicolas-f commented on #575
No, this is a system property.

[2015-11-17 13:26] ebocher commented on #575
So the user cannot change on fly this parameter.  It's quite ugly for end-user because you must update the start script ?.

@gpetit

[2015-11-17 13:28] nicolas-f commented on #575
The first idea was a parameter of the function but you wanted a ["global parameter" ][1]

[1]: https://github.com/nicolas-f/H2GIS/commit/5da5f704348ffb485e6e8fd102a59713e9b37390#commitcomment-14408694

[2015-11-17 13:29] gpetit commented on #575
Argh ! We should find a way to be more simple, especially for people who are not able to understand the .sh file
And what about a parameter in the configuration panel ?

[2015-11-17 13:31] nicolas-f commented on #575
This is done through org.h2.util.Utils.getProperty( String, Object) that use internally System.getProperty()

[2015-11-17 13:33] gpetit commented on #575
Hum ok. And in user langage ? :-)
@nicolas-f do you think it's possible to create a new tab in the configuration panel, in which we just have a checkbox to activate or not this option (default is activate for example) ?

[2015-11-17 13:55] nicolas-f commented on #575
for the background color of MapEditor Erwan use the System.setProperty also.

[2015-11-17 13:57] gpetit commented on #575
Ah ok. So we can do this easily ?

[2015-11-17 14:35] nicolas-f commented on #575
It is not fixed yet if we will keep this algorithm yet. But technically we could add a gui option later.

[2015-11-18 09:32] nicolas-f commented on #575
For the performance issue. We should not compute and store weight pixels that are equal 0. Here the number of non-zero pixel over weight propagation loop:

![stats_d8flowaccum](https://cloud.githubusercontent.com/assets/1382241/11237329/74e68f52-8ddf-11e5-8b24-e4894a16f0da.png)

If we manage to do that, the computation time of step will be equal to the graphic decrease.

[2015-11-18 14:08] ebocher commented on #624
I propose to add only one signature : ST_CROP(RASTER, GEOMETRY);
If the user wants to use the second he must create a polygon ?

[2015-11-18 14:08] ebocher commented on #624
@gpetit

[2015-11-18 14:10] gpetit commented on #624
Ok for me

[2015-11-18 14:10] nicolas-f commented on #624
yes or more simply
[code]

[2015-11-18 14:42] #624 closed

[2015-11-19 13:12] nicolas-f commented on #573
Done

[2015-11-19 13:13] nicolas-f commented on #575
Function done. Add another issue for performance.

[2015-11-20 14:09] ebocher opened #631 "ST_Extrema"
ST_Extrema permits to compute the min and max value of a GeoRaster.
Nodata is excluded when the band as a nodata value
The input GeoRaster must contains only one band.

[2015-11-20 14:09] ebocher commented on #631
Done

[2015-11-24 10:05] ebocher commented on #576
Note : The input raster must be grid of directions encoded according the H2GIS constants.

[2015-11-25 08:21] nicolas-f commented on #608
Hi,

I'm sorry but we are not able to have your error.

Try to build this project:
https://github.com/orbisgis/orbisgis-samples/tree/master/demoh2gis
[code]

And execute with
[code]

[2015-11-26 14:11] nicolas-f commented on #577
SQL signature
FixedDem ST_FillSink(Dem, maxDepth, minSlope) ?

maxDepth : https://github.com/orbisgis/grap/blob/master/src/main/java/org/grap/processing/operation/hydrology/OpFillSinks.java#L286

[2015-11-26 14:40] ebocher commented on #577
Don't know and I think user is not able to understand this parameter.

[2015-11-26 14:46] nicolas-f commented on #577
then go to hidden default value ?

[2015-11-26 14:48] nicolas-f commented on #577
minslope was required on gdms ST_FillSinks

[2015-11-26 14:48] ebocher commented on #577
yes minslope

[2015-11-26 14:50] nicolas-f commented on #577
ST_FillSinks(The_Raster raster, MinSlope float)

[2015-11-30 14:01] #570 closed

[2015-11-30 14:02] #454 closed

[2015-11-30 14:03] #577 closed

[2015-11-30 14:05] ebocher opened #639 "ST_FillSinks"
Must be re-implemented using the same approach than ST_D8FlowAccumulation.

[2015-11-30 14:06] #618 closed

[2015-11-30 14:09] ebocher opened #640 "Hydrological functions optimization"
The idea is to find a better way to improve the flow accumulation and watershed functions that are slow.

[2015-11-30 14:10] #547 closed

[2015-11-30 14:27] nicolas-f commented on #640
For the performance issue. We should not compute and store weight pixels that are equal 0. Here the number of non-zero pixel over weight propagation loop:

![stats_d8flowaccum](https://cloud.githubusercontent.com/assets/1382241/11237329/74e68f52-8ddf-11e5-8b24-e4894a16f0da.png)

If we manage to do that, the computation time of step will be equal to the graphic decrease.

The JAI functions will sta

[2015-11-30 14:38] #608 closed

[2015-11-30 14:39] #575 closed

[2015-11-30 14:42] #573 closed

[2015-11-30 14:42] #576 closed

[2015-11-30 14:44] ebocher commented on #620
A good alternative could be the BandMathsOp available in BEAM :

https://github.com/bcdev/beam/blob/master/beam-gpf/src/main/java/org/esa/beam/gpf/operators/standard/BandMathsOp.java

[2015-11-30 14:53] ebocher opened #641 "ST_Pansharpening"
Add a function to enhance the spatial resolution of a composite georaster.

See http://www.lac.inpe.br/JIPCookbook/6320-howto-pansharpening.jsp

[2015-11-30 14:53] ebocher commented on #578
GeoRaster processing is based on JAI API.

[2015-11-30 14:53] #578 closed

[2015-11-30 14:54] #579 closed

[2015-11-30 15:03] nicolas-f opened #642 "Constraint on Raster attributes, shown in raster_columns"
Add missing functions to enable the constraint on raster attributes like it is done on geometry.

Theses constraint must be reflected in the raster_columns view. Then used when importing rasters in H2GIS.

[2015-11-30 15:05] nicolas-f commented on #642
[code]

Then in RASTER_COLUMNS the SRID 4326 is visible for the_raster field.

[2015-11-30 16:22] ebocher opened #644 "ST_DumpAsPolygons"
Write a function as PostGIS proposes to convert one or more pixels with the same pixel value as a geometry.

[2015-11-30 20:26] michaeljmcd commented on #608
I get an identical error when I build the samples project after a fresh checkout (log below).

[code]

And the log from `exec:exec` is

[code]

Is it possible that the problem only exists with the version of the pom published to the Maven Central repository and not with the development version?

[2015-12-02 09:43] nicolas-f commented on #608
Hi,

I even try under windows. There is no problem with demo project:

[code]

[2015-12-11 03:20] muumuu opened #646 "Some functions throw exception when got null parameters"
SELECT ST_Transform(null,4326)
SELECT ST_SetSrid(null,4326)
execution of this  expressions throw exception, but must null value returning

[2015-12-11 10:55] ebocher commented on #646
Thanks for reporting.
We will fix the two functions asap.

[2015-12-21 09:22] ebocher opened #647 "Update JTS"
Test and update the JTS library.

[code]

[2015-12-24 09:05] ebocher commented on #617
More information http://www.cs.tut.fi/~jkorpela/TSV.html

[2016-01-06 12:37] #646 closed

[2016-01-06 13:23] ebocher commented on #559
- [ ] TSVRead
- [ ] TSVWrite

[2016-01-06 13:40] ebocher commented on #647
H2 lib must be updated
- https://github.com/h2database/h2database/blob/master/h2/src/main/META-INF/MANIFEST.MF#L34
- https://github.com/h2database/h2database/blob/98571bc51965f9a7f1f01a88c72f053d562f7688/h2/src/tools/org/h2/build/Build.java#L128
-  https://github.com/h2database/h2database/blob/98571bc51965f9a7f1f01a88c72f053d562f7688/h2/src/tools/org/h2/build/Build.java#L206

[2016-01-06 13:44] ebocher commented on #647
Also
https://github.com/orbisgis/orbisgis_osgi-dependencies

[2016-01-06 14:44] ebocher commented on #647
@nicolas-f  done here https://github.com/ebocher/h2database/tree/updateJTS

[2016-01-08 14:15] nicolas-f commented on #631
H2 does not recognize primitive array like double[] . If you render ST_Extrema as text, it is not readable. Morover you can't use ARRAY_GET on the returned value.

[2016-01-08 14:38] ebocher commented on #631
So what ? Could you explain a bit more ?

[2016-01-08 14:55] nicolas-f commented on #631
The function should return Double[] or Object[] maybe in order to be recognized by H2 as an Array.

[2016-01-15 12:49] ebocher commented on #599
Done ?

[2016-01-15 13:09] nicolas-f commented on #599
Yes, but I remember a missing projection file on world file writing.

[2016-01-15 13:10] nicolas-f commented on #599
here https://github.com/orbisgis/h2gis/blob/raster/1.3.X/h2drivers/src/main/java/org/h2gis/drivers/worldFileImage/ST_WorldFileImageWrite.java

[2016-01-15 15:28] ebocher commented on #599
Sorry I don't understand. The prj is right now supported.

[2016-01-18 16:43] ebocher commented on #644
Done

[2016-01-18 16:43] #644 closed

[2016-01-27 13:14] nicolas-f opened #652 "Jts update fix OSGi unit test"
Fix pom.xml for jts-osgi project, and osgi integration test.

[2016-01-27 13:15] nicolas-f commented on #652
As Jts has been updated on h2 master, it should be good now to fix this here and on OrbisGIS side.

[2016-02-04 13:22] SPalominos opened #655 "Impossible to export SHP under PostGIS"
On saving a table from the geocatalog (right click -> save), OrbisGIS display an error message saying "impossible de créer le ficher".
It appears that in the H2GIS ShapeFile driver, when it reads the WKB in [SHPDriverFunction.java](https://github.com/orbisgis/h2gis/blob/master/h2drivers/src/main/java/org/h2gis/drivers/shp/SHPDriverFunction.java#L107-L109)
[code]
All the byte have impossible values

[2016-02-05 09:39] ebocher commented on #655
Use the ST_AsBinary function to by pass the ewkt format. The 48 corresponds to the SRID code of the geometry.

So in SHPDriverFunction, exportTable method you will have

[code]
instead of

[code]

or proposes a patch to the JTS reader https://github.com/ebocher/jts.

[2016-02-05 09:46] ebocher opened #656 "Push JTS-OSGI to the official JTS lib"
JTS is available on github. So It would be nice to push on the JTS repo the patch to support osgi.

"A jar with additional information in the jar MANIFEST in order to comply with OSGi environment"

Link :

https://github.com/dr-jts/jts

[2016-02-05 10:02] ebocher commented on #655
Documentation
http://postgis.refractions.net/docs/using_postgis_dbmanagement.html#EWKB_EWKT

As EWKB and EWKT are out of the standard. I propose to use ST_AsBinary function.

[2016-02-05 10:03] nicolas-f commented on #655
A byte range is 0->255 or -128->128

@ebocher You think that WKB of PostGIS is no longer supported by JTS ?

Do we have to change our driver ?
https://github.com/orbisgis/orbisgis/blob/master/bundles/postgis-jts-osgi/src/main/java/org/orbisgis/postgis_jts_osgi/ResultSetWrapper.java#L970

[2016-02-05 10:07] ebocher commented on #655
@SPalominos ?

[2016-02-05 10:12] nicolas-f commented on #655
I will do the patch on ResultSetWrapper

[2016-02-05 10:14] ebocher commented on #655
ok thanks

[2016-02-05 10:24] SPalominos commented on #655
I've tried with putting `ST_AsBinary()` in the SQL request but it isn't really clean.
So a patch on ResultSetWrapper seem to be a better solution.

[2016-02-05 11:37] ebocher commented on #640
The flow accumulation and watershed functions are too slow to be used in a real environment.
45 minutes to compute the flow accumulation on a small DEM (ncols 1515, nrows 1120).
We must find  a better strategy.

[2016-02-05 12:39] nicolas-f commented on #655
Travis allow us to deploy a PostGIS install, maybe we can add a special unit test by adding a maven PostGIS profile.

[2016-02-05 12:46] ebocher commented on #655
It works like a charm.
I will close this ticket.
I propose to open a new ticket about postgis tests.
Ready ?

[2016-02-05 12:48] nicolas-f commented on #655
okay

[2016-02-05 12:48] #655 closed

[2016-02-16 17:59] ebocher opened #658 "Driver create table builder"
The statement "CREATE TABLE" must be updated for each drivers. Indeed the last comma set to the stringbuilder as

[code]

causes a problem with the postgresql parser.

Have a look to the CSV importer

[code]

[2016-02-16 18:27] ebocher commented on #658
under control here https://github.com/ebocher/H2GIS/tree/fix_drivers_createTable

[2016-02-17 09:05] ebocher commented on #559
@gpetit  could you plan this document for the 1.3.0 ?

[2016-02-17 09:07] gpetit commented on #559
Yes ... I have to note it in my todo list ;-)

[2016-02-17 09:07] ebocher commented on #559
thanks

[2016-02-17 09:09] ebocher commented on #656
@nicolas-f  what do u think ?

[2016-02-17 09:33] #658 closed

[2016-02-17 09:34] #617 closed

[2016-02-23 14:35] ebocher opened #660 "H2GIS Network functions"
The SQL network functions must be declared as an OSGI service out of the spatial_ext function.

[2016-02-23 14:44] nicolas-f commented on #660
Using H2GIS only the user will have to run an additional sql query in order to register the networks functions

[2016-02-23 14:48] ebocher commented on #660
So ?

[2016-02-23 15:10] nicolas-f commented on #660
Just to be aware of that.
Something like:

[code]

[2016-02-23 15:19] ebocher commented on #660
Sounds good for me.

CALL  SPATIAL_NETWORK_EXTENSION();
CALL  RASTER_EXTENSION();
...

[2016-02-24 06:58] ebocher opened #661 "SetRasterInMemory"
Add a function SetRasterInMemory(true) to allow the system to load the raster in memory.

[2016-02-24 07:49] nicolas-f commented on #661
You are talking about raster processing cache ?

[2016-02-24 10:44] ebocher commented on #661
yes. So
SetRasterProcessInMemory will be better ?

[2016-03-03 15:56] ebocher opened #663 "Cannot import shapefile"
Cannot import (from orbisgis) this shapefile (http://opendata.paris.fr/explore/dataset/accidentologie/download/?format=shp&timezone=Europe/Berlin) in a postgis database

[2016-03-03 16:22] ebocher commented on #663
This problem is due to null geometry. What do you think if the rows with null geom are no imported ?

[2016-03-08 16:54] ebocher commented on #663
Same bug with a H2GIS database

[2016-03-15 10:53] ebocher opened #664 "Fix ST_NumPoints"
The SQL/MM ST_NumPoints and ST_PointN routines and all routines supported by type Curve shall
be supported for geometries of type LineString.

H2GIS returns the number of points (vertexes) in a geometry. PostGIS has the ST_NPoints.

[2016-03-15 13:37] ebocher opened #666 "Update ST_Length"
ST_Length routine should work only with Line, Curve and MultiLine and MultiCurve.

[2016-03-15 17:32] #664 closed

[2016-03-17 15:23] ebocher opened #668 "Fix ST_NumInteriorRing"
According SQL/MM

the ST_NumInteriorRing function takes a polygon as an input parameter and returns the number of its interior rings.

If the given polygon is null or is empty, then null is returned.

If the polygon has no interior rings, then 0 (zero) is returned.

This function can also be called as a method

[2016-03-17 16:20] #666 closed

[2016-03-23 10:08] ebocher opened #669 "Snapshot jenkins"
It will be nice to add a zip file on jenkins with the last H2GIS snapshot.

@nicolas-f , @SPalominos

[2016-04-26 14:12] nicolas-f opened #671 "H2 Network samples not working"
Samples in website does not run

http://www.h2gis.org/docs/dev/ST_Graph/

H2 Network is expecting a primary key.

[2016-05-04 13:28] gpetit opened #672 "ST_Intersects takes too long time"
I'm using the last realease of OrbisGIS.

I'm trying to select buildings from the departement 56 (table "BATI_INDIFFERENCIE") which intersects the agglomeration of Vannes.

So I created a unique polygon that represent my study area (table STUDY).
Then I created spatial indexes on both tables.

Now, I execute the following SQL instruction
[code]

The process is really too long (no result after 5mn)

[2016-05-04 13:33] nicolas-f commented on #672
Can you post the WKT of STUDY.the_geom ?

[2016-05-04 13:35] gpetit commented on #672
[STUDY.zip](https://github.com/orbisgis/h2gis/files/248806/STUDY.zip)

[2016-05-04 13:42] nicolas-f commented on #672
You test geometry is composed by 31789 points. That explains the query time.

[2016-05-04 13:43] nicolas-f commented on #672
In order to optimize this, I would go for a st_polygonize.

[2016-05-04 13:45] gpetit commented on #672
Yes this geometry is complex (even if it's a simple geometry and there is no hole), but this kind of process used to works well in the past.

I'll try ST_Polygonize

[2016-05-04 13:46] nicolas-f commented on #672
Sorry I was talking about tessellate

[code]

[2016-05-04 13:46] nicolas-f commented on #672
then use spatial index on studypol

[2016-05-04 13:52] gpetit commented on #672
Thanks @nicolas-f it works. The process takes 47s but I have a result !

[2016-05-04 14:14] nicolas-f commented on #672
I'm curious to know how many times PostGIS require to do intersection with a 31789 points geometry and thousands of buildings.

[2016-05-04 14:29] gpetit commented on #672
No result with QGis after 10mn (QGis freezed).
... but there is no spatial indexes

[2016-05-04 14:29] ebocher commented on #672
Tested on a local postgis server,  this is the same pb

[2016-05-04 14:37] gpetit commented on #672
... and same with spatial indexes on QGis --> freeze

[2016-05-09 19:22] ebocher commented on #671
By the way,
[code]
doesn't work correctly.

It returns

[code]

This bug doesn't appear when the following create table syntax is used

[code]

[2016-05-09 19:22] #671 closed

[2016-05-11 06:03] ebocher commented on #672
Solved ?

[2016-05-11 06:34] gpetit commented on #672
Yes we can close

[2016-05-11 06:34] #672 closed

[2016-05-12 11:38] ebocher opened #673 "Update readme file"
Update the readme file with the H2GIS zip to set the good version number.

[2016-05-14 08:50] ebocher opened #674 "ST_ACCUM"
from @sbigaret

Description
 No description available.

[2016-05-17 07:15] gpetit commented on #674
The function is well documented on the website (see : http://www.h2gis.org/docs/dev/ST_Accum/), but it is not in the SQL Console in OrbisGIS (" No description available.")

I'm not sure, but I believe that we are using the source code to generate the doc in OrbisGIS.
If yes, you can see that the doc in the source code is quite poor :  https://github.com/orbisgis/h2gis/blob/master/h2spatial/src/mai

[2016-05-20 07:42] nicolas-f opened #675 "Cannot load GeoJSON"
#This GeoJSON cannot be loaded into H2GIS:

[code]

[2016-05-20 07:59] ebocher commented on #675
Is there an ouput error message ?

[2016-05-20 08:35] nicolas-f commented on #675
Several issues

It expect order on json objects
[code]

It does not handle null geometry

[code]
It does not quote field names
[code]

It does not support long type
[code]

[2016-05-26 07:01] ebocher opened #682 "Update the H2GIS website"
Update the H2GIS website with the new license.
Update the release page
Add a message to explain that H2Network is now out of H2GIS.

[2016-06-04 14:07] nicolas-f opened #689 "Answer on stackexchange"
http://gis.stackexchange.com/questions/196082/getting-h2gis-functions-to-work-in-spherical-space

[2016-06-06 19:59] ebocher opened #692 "Update H2 database from 190 to 192"
- Change the method getCost to getCostRangeIndex from BaseIndex
More information on https://github.com/h2database/h2database/commit/803988094c5938eb36f579205c6459f2c62c4535

- Update Row, replace by RowFactory
Have look at https://github.com/h2database/h2database/commit/e5b577fa2d5424db101301a165766130de60ccf6

[2016-06-07 12:45] ebocher commented on #692
On the pipe https://github.com/ebocher/H2GIS/tree/newH2Release

[2016-06-08 07:33] nicolas-f commented on #692
1.4.192 and superior use Java7. We should do the same.

https://github.com/h2database/h2database/issues/300

[2016-06-08 08:05] rankinc commented on #692
Apparently, this particular change was accidental. No word yet on if/when it will become official.

[2016-06-08 13:09] ebocher opened #693 "ST_OSMDOWNLOADER"
Extends the syntax with an option to set if the file must be deleted or not.

[code]

[2016-06-15 14:36] gpetit opened #694 "Remove "raster" entry in the 1.2 documentation"
In the V1.2 documentation (here http://www.h2gis.org/docs/1.2/home/) we should remove the "Raster" entry in the menu bar (on the right side).

@ebocher @SPalominos

[2016-07-01 13:42] wikier opened #701 "Question: plans to switch to a non-copyleft license?"
I wonder if the project has the discussion of switching to a non-copyleft (Apache, BSD, etc). Thanks in advance.

[2016-07-01 13:57] ebocher commented on #701
No.
Could you explain a bit more the LGPL limitation in your case ?

[2016-07-04 14:25] wikier commented on #701
I'd like to test it for [MARMOTTA-584](https://issues.apache.org/jira/browse/MARMOTTA-584), but there I'm strictly limited to non-copyleft licenses. That's why I asked.

[2016-07-04 14:44] nicolas-f commented on #701
Yes, main software distributed under the apache software license cannot be distributed with lgpl libraries (http://www.apache.org/legal/resolved.html#category-x)

[2016-07-06 05:47] wikier commented on #701
Yes, I'm more than aware, that's why I asked for. But it looks there is no plan in the short/mid-term, so never mind. Thanks anyway.

[2016-07-06 05:47] #701 closed

[2016-08-22 07:50] ebocher commented on #692
Done

[2016-08-22 07:50] #692 closed

[2016-08-22 07:51] #689 closed

[2016-08-22 07:57] ebocher commented on #660
Done with the last refactoring.
Network functions are now in the extension module

[2016-08-22 07:57] #660 closed

[2016-08-22 07:58] ebocher commented on #647
done

[2016-08-22 07:58] #647 closed

[2016-08-22 07:58] #652 closed

[2016-08-23 15:59] ebocher commented on #663
Any input ?

[2016-08-23 16:00] #674 closed

[2016-08-23 16:00] #682 closed

[2016-08-23 16:14] ebocher commented on #663
The message is clear  with a H2GIS unit test

[code]

but the message itself must be made clearer and more understandable from the OrbisGIS import menu

[code]

[2016-08-23 20:41] ebocher commented on #693
The good syntax is

[code]

[2016-08-24 06:33] #693 closed

[2016-08-24 06:34] ebocher commented on #559
- [ ] ST_OSMDownloader(GEOMETRY, VARCHAR path of the file, BOOLEAN delete file if exists );

[2016-08-24 08:10] #673 closed

[2016-08-24 08:59] ebocher commented on #559
- [ ] ST_NumInteriorRing(s) functions must be updated with :

Return the number of interior rings of the first polygon in the geometry. This will work with both POLYGON and MULTIPOLYGON.Return NULL if there is no polygon in the geometry.

[2016-08-24 09:03] ebocher commented on #675
Fixed

[2016-08-24 09:03] #675 closed

[2016-08-24 13:26] #668 closed

[2016-08-24 13:28] ebocher commented on #663
Closed. It's field length limitation.

[2016-08-24 13:28] #663 closed

[2016-08-25 08:47] ebocher commented on #669
Done have a look at http://jenkins.orbisgis.org/job/H2GIS/67/

[2016-08-25 08:47] #669 closed

[2016-09-03 01:44] kytay opened #711 "Receive org.cts.crs.CRSException with H2GISFunctions.load"
Unable to load up v1.3 H2GISFunctions.load or H2GISExtensions.load
Received CRSException when the method is trying to new ST_Transform

Did I miss out anything?

`@Repository
public class H2SpatialUtil {

	private static final Logger LOGGER = LoggerFactory.getLogger(H2SpatialUtil.class);

	@Autowired
	private DataSource dataSource;

	@PostConstruct
	public void load() {
		try {
			H2GISFunctions.l

[2016-09-05 06:48] nicolas-f commented on #711
Hi,

Yes, should be a missing jar file.

What Jar files have you included in your project ?

[2016-09-05 13:35] kytay commented on #711
`<dependency>
  		<groupId>org.springframework</groupId>
  		<artifactId>spring-context</artifactId>
  	</dependency>
  	<dependency>
  		<groupId>org.orbisgis</groupId>
  		<artifactId>h2gis-ext</artifactId>
  		<version>1.3.0</version>
  	</dependency>
  	<dependency>
  		<groupId>org.springframework</groupId>
  		<artifactId>spring-jdbc</artifactId>
  	</dependency>
  	<dependency>
  		<groupId

[2016-09-05 14:26] nicolas-f commented on #711
Maybe an issue with your framework not loading declared jars.

Here a sample that load H2GIS 1.3

https://github.com/orbisgis/orbisgis-samples/tree/master/demoh2gis

You can try running it
```mvn install exec:exec```

[2016-09-07 00:40] kytay commented on #711
Thanks.  I have identified the cause to be a currupted cts.jar in my local repository. I have delete the corrupted jar from the repository and update the maven project again. It works now.

[2016-09-07 00:40] #711 closed

[2016-11-01 09:05] ebocher opened #717 "Update H2 version"
Replace 1.4.192 by 1.4.193

[2016-11-02 14:37] gpetit opened #718 "ST_NumPoints gives no result"
I'm using the daily snapshot of OrbisGIS V5.1.

It seems that there is a problem with the ST_NumPoints function.
Examples listed in the doc (http://www.h2gis.org/docs/dev/ST_NumPoints/) don't work.

This is the same with this kind of query
[code]

In any cases, I obtain
[code]

@ebocher @nicolas-f

[2016-11-02 17:27] ebocher commented on #718
ST_NumPoints has been updated few months ago to be conform with OGC and SQL MM specifications.
ST_NumPoints ->  Return the number of points in an ST_LineString
If you want to return the number of points in another geometry you must use ST_NPoints.

The documentation must be updated for the next  H2GIS version that will be synchronized with H2 1.4.193

[2016-11-02 18:38] gpetit commented on #718
Ok, my bad ;-)
I'll update the doc asap

[2016-11-02 18:38] #718 closed

[2016-11-02 18:52] ebocher commented on #718
No pb. There are many changes in the doc.

[2016-11-03 08:38] gpetit opened #720 "Can not create index with linked shp"
I'm using the V5.1 snapshot (2016/11/02)

When I create an alphanumeric index on a field from a linked shape file, I have this error message
[code]
The spatial index works well and no problem wiht imported shape file.

@nicolas-f @ebocher @SPalominos

[2016-11-03 08:55] #717 closed

[2016-11-03 10:01] ebocher opened #722 "Update geojson driver"
Update the geojson driver to conform the https://www.rfc-editor.org/rfc/pdfrfc/rfc7946.txt.pdf

[2016-11-07 08:59] ebocher commented on #656
@SPalominos to https://github.com/locationtech/jts

[2016-11-07 09:47] SPalominos commented on #656
Very good idea! I will give a look to it later.

[2016-11-21 19:54] ebocher opened #723 "Add download file on the Dev doc"
Add a link on the DEV doc (http://www.h2gis.org/docs/dev/home/) to download the unreleased version of H2GIS.

[2016-11-21 20:38] ebocher commented on #656
Done https://github.com/locationtech/jts/pull/62#issuecomment-262055439
But related with the last JTS snapshot

[2016-11-21 20:38] #656 closed

[2016-12-01 13:36] gpetit commented on #694
@ebocher you can test ... and close ;-)

[2016-12-01 14:34] gpetit commented on #723
@ebocher you can have a look

[2016-12-01 14:52] gpetit opened #727 "Update ALL the function pages with new source code uri"
Since we reorganized the github source code tree, all the links, in all function pages, that refers to the source code are wrong (404 error).

So we have to update this

@ebocher @SPalominos

[2016-12-02 08:52] ebocher commented on #694
thanks

[2016-12-02 08:52] #694 closed

[2016-12-02 14:55] gpetit commented on #727
Done.
@ebocher you can test and close

[2016-12-05 11:46] gpetit commented on #723
... and close

[2016-12-07 06:38] #559 closed

[2016-12-07 06:38] #727 closed

[2016-12-07 06:39] #723 closed

[2016-12-08 07:58] ebocher opened #738 "GREATEST and LEAST functions"
As PG proposes it would be nice if we can support  GREATEST and LEAST functions in H2.

See https://www.postgresql.org/docs/8.3/static/functions-conditional.html

[2016-12-08 12:04] ebocher commented on #738
Please read the H2 doc http://h2database.com/html/functions.html#least

[2016-12-08 12:04] #738 closed

[2016-12-21 10:27] remipassmoilesel opened #739 "Maven artifact unusable"
Hi !
Thanks for H2Gis and thanks to share it freely !

I tried to use H2 GIS with Maven but despite several trials I can't make it work. And unfortunately I can not use your packaged distribution of database because I use an internal H2 engine from another project.

I tried to insert this dependency in my POM:
[code]

But when I execute Maven:
[code]
I tried with 1.2.4 version too, no more results

[2016-12-21 12:33] SPalominos commented on #739
Hi,
It seems you need to create a spatialised H2 database or to make spatial an existing one.
In both case you will need to use the ```h2gis-functions``` module of H2GIS as Maven dependency and not ```h2gis```.
 - If you have an existing H2 database and you want to make it spatial through H2GIS, you need to call

[```org.h2gis.functions.factory.H2GISFunctions.load(your connection object here)```](

[2016-12-21 14:30] remipassmoilesel commented on #739
Great ! Getting started example (http://www.h2gis.org/docs/1.3/quickstart/) worked for me with this configuration:

[code]
Unfortunately I have to use 1.1.xx version of H2, and it sounds too old for that.

If I can make an observation, from the point of view of a beginner I think it is confusing to have a package named h2gis (which seems to be the main one) that can not be imported in pom.xml

Tha

[2016-12-21 14:30] #739 closed

[2016-12-22 10:14] ebocher commented on #739
Dear @remipassmoilesel

Thank you for your interest in H2GIS and thank you for the feedback.
H2GIS is organized in OSGI bundles to take the advantage of modularity. If you run
[code]
you will have the main Simple Feature functions.

with

[code]
you will be able to use custom H2GIS functions (as network analysis or triangulation)

In few months, new functions will be added to manage and process ra

[2017-01-04 09:33] ebocher opened #740 "H2GIS change module names"
As noted by @remipassmoilesel it would be nice to improve the readability of the H2GIS project.

We have
- 8 modules organised under org.h2gis....
- ```<groupId>org.orbisgis</groupId>```for the maven group
-``` <artifactId>h2gis-functions</artifactId>``` for the maven artifact
- CREATE ALIAS IF NOT EXISTS H2GIS_EXTENSION FOR "org.h2gis.ext.H2GISExtension.load"; to load only the network functions

[2017-01-04 10:26] gpetit opened #741 "Update Quickstart documentation page"
In the Quickstart documentation page (http://www.h2gis.org/docs/dev/quickstart/), we have to replace the following instruction

[code]
by
[code]
in order to add "factory"

[2017-01-04 10:35] remipassmoilesel commented on #740
It looks great, very simple :+1:

[2017-01-05 08:01] #458 closed

[2017-01-05 09:19] SPalominos commented on #740
:+1: , @nicolas-f what do you think about ?

[2017-01-05 09:31] nicolas-f commented on #740
My opinion is that it is not necessary to break all packages and dependencies now. Just rename the ``h2gis`` artifact id to ``h2gis-parent``.

[2017-01-05 10:24] lukaszm89 opened #744 "FILE_TABLE from shp file has incorect SRID"
There is a problem with importing shp files with option FILE_TABLE. I know that this is not importing data directly to database but it is more like linking them.
When data are access the prj file is not read and SRID is not set for the geometry. Method ST_SRID returns always 0. If this is correct behavior it should be at least mentioned in FILE_TABLE function description.
When importing data via S

[2017-01-05 13:37] ebocher commented on #744
Thanks for report
Could you please share a test case or a small dataset to build a test case ?

[2017-01-05 13:49] nicolas-f commented on #744
In our unit test here:
https://github.com/orbisgis/h2gis/blob/master/h2gis-functions/src/test/java/org/h2gis/functions/io/shp/SHPImportExportTest.java#L302

We should check for the expected SRID found in prj file.

[2017-01-05 13:58] lukaszm89 commented on #744
In unit tests in SHPImportExportTest.java there are only SHPRead calls and they are fine. The problem is when your read shp file with FILE_TABLE function.

[2017-01-06 11:28] ebocher commented on #740
The idea is not to break all packages but to merge them. It would be done for the next major release.
I have a preference for a single, an simple approach.

[2017-01-09 13:14] ebocher commented on #744
Fixed

[2017-01-09 13:14] #744 closed

[2017-01-10 10:43] gpetit commented on #741
I made some other small modifications, from my laptop (see #748). But the problem is the same. Jekyll failed to build the page.

[2017-01-10 12:50] nicolas-f commented on #741
A fail log in Jekyll build  should be transferred by mail.

[2017-01-10 13:08] SPalominos commented on #741
Yes, but the mail doesn't give any error :
`
The page build failed with the following error:

Page build failed. For more ...
`

I'll contact the support next.

[2017-01-16 20:51] #741 closed

[2017-01-20 10:56] nicolas-f opened #750 "TCA format data."
Not OGC, but Cadnaa software is able to read this format, and this format is used in CEREMA.

https://docs.typo3.org/typo3cms/extensions/geopicker/Developers/TCA/Index.html

[2017-01-20 12:54] ebocher commented on #750
This is not a file format. Where is the specification ?
Is this format only closed to typo3 CMS ?

[2017-01-20 13:15] nicolas-f commented on #750
I will request more information to CEREMA users.

[2017-01-30 13:23] nicolas-f commented on #750
Not an issue. It was a text format like csv. Sorry

[2017-01-30 13:23] #750 closed

[2017-02-16 15:54] ebocher commented on #720
@nicolas-f
Is this issue a normal behaviour ?

[2017-02-16 15:58] ebocher opened #751 "Cancel an action on the CSVDriver"
Offer a way to cancel the import or export actions

[2017-02-16 16:05] nicolas-f commented on #720
Only spatial index are supported on linked shape file.

https://github.com/orbisgis/h2gis/blob/master/h2gis-functions/src/main/java/org/h2gis/functions/io/file_table/H2Table.java#L102

[2017-02-16 16:09] nicolas-f commented on #720
I could not use h2 index because this is not compatible with my implementation. (it expect regular h2 table)

[2017-02-16 16:15] nicolas-f commented on #720
However PK is the system primary key. So it is useless to add an index on it.

[2017-02-17 09:07] gpetit commented on #720
@nicolas-f here PK was just an example. you can rename by "toto" if you prefer ;-)

Consider this is a numeric field on which I want to create an index, because I want use it to join with another table.

And of course I know it's useless to create an index on a primary key

[2017-02-17 13:18] #751 closed

[2017-02-17 13:35] ebocher opened #753 "Support parameters for DriverFunction"
It will be nice to offer a possibility to send custom parameters related to the driverFunction.

Examples :

A CSVDriverFunction could be customized with a charset, a separator...
A SHPDriverFunction could be customized with a charset

We could imagine

to adapt each constructors :

[code]

to change the method export and import table

[code]

to
[code]

@SPalominos  @nicolas-f

[2017-02-20 09:37] ebocher commented on #753
This
public void exportTable(Map<String, Object> params )
will be better

[2017-02-21 14:37] gpetit opened #754 "Update JTS reference in the Wiki"
In the wiki page https://github.com/orbisgis/h2gis/wiki/1.-Spatial-data we are mentionning JTS. The link provided is not working anymore since the http://tsusiatsoftware.net/ seems to be now a fake commercial website.

In the same spirit, Java Topology Suite is not existing anymore. Since few years, we have to talk about "JTS Topolgy Suite".

IMO we should replace the link by this one : https://so

[2017-02-23 12:52] ebocher commented on #754
JTS is now hosted by LocationTech https://www.locationtech.org/projects/technology.jts

[2017-02-23 12:55] ebocher commented on #754
Done

[2017-02-28 16:20] #754 closed

[2017-02-28 16:21] ebocher commented on #753
@nicolas-f any input ?

[2017-03-01 08:32] nicolas-f commented on #753
The driver should provide the expected parameters with default values.

[code]

So in the driver instance
[code]

[2017-03-01 20:14] ebocher commented on #753
Why not a more simple mechanism ?
I understand  the
List<...> getDefaultImportParameters( ) ;
List<...> getDefaultExportParameters( ) ;
in the driver instance
But I can't see any value about a complex object parameter.

If a value is required and not set the driver must returns an error

With
Map<String, Serializable> params = new HashMap<String, Object>();
        params.put("distance", 12));

pa

[2017-03-02 10:54] nicolas-f commented on #753
We have to define a parameter class because some parameters could be bound for ex (min max values) or some parameters may be also enumerate (little endian, big endian, ascii)

The idea is to give the resources in order to automatically generate a GUI.

I forgot to say that such default parameters could require the input file beforehand. (autodetect things like file encoding or column separator cha

[2017-03-02 11:06] ebocher commented on #753
The drivers are not use any-more to build automatic GUI. They are used in WPS scripts.

[2017-03-03 10:58] ebocher opened #757 "GPXRead add an option to drop existing tables"
In the spirit of the OSM read functions, I propose to extend the GPXRead function with an option to drop existing tables.

@nicolas-f , @gpetit

[2017-03-03 11:00] gpetit commented on #757
+1

[2017-03-04 09:59] #757 closed

[2017-03-04 10:00] ebocher commented on #753
I propose to talk about this issue in a face to face meeting. I don't know if my proposal is interesting.

[2017-03-06 16:47] ebocher opened #762 "ST_Graph delete tables"
Add an option to delete the tables _nodes and _edges

[2017-03-06 17:09] ebocher opened #763 "JDBC best pratices"
Improve the use of JDBC

http://howtodoinjava.com/core-java/jdbc/best-practices-to-improve-jdbc-performance/

http://www.javaperformancetuning.com/tips/jdbc.shtml

http://archive.oreilly.com/pub/a/onjava/2001/12/05/optimization.html

[2017-03-08 08:23] #762 closed

[2017-03-08 08:26] ebocher opened #765 "Extend doc for OSMRead, GPXRead and ST_Graph"
The H2GIS DOC must be extended because the 3 functions  OSMRead, GPXRead and ST_Graph support now a boolean option to delete the existing tables (based on a prefix).

[2017-03-08 13:15] nicolas-f opened #766 "PostGIS: St_Collect St_Accum"
There is an issue on function compatibility between PostGIS and H2GIS.

On H2GIS the function ST_Accum has the same behaviour than ST_Collect of PostGIS.

On PostGIS  ST_Accum return an array of geometry object.

http://postgis.net/docs/ST_Accum.html
http://postgis.net/docs/ST_Collect.html

[2017-03-08 15:55] ebocher commented on #766
I can do that but this change will break some scripts...
So It will be done with a new H2GIS version ?

[2017-03-08 15:57] ebocher opened #767 "PostGIS: ST_RemoveRepeatedPoints"
The ST_RemoveRepeatedPoints in H2GIS must extended to support a tolerance distance as PostGIS does.

http://postgis.net/docs/ST_RemoveRepeatedPoints.html

[2017-03-08 16:00] ebocher opened #768 "H2GIS select version function"
Add a function to return the H2GIS version

SELECT H2GIS_Version()

@nicolas-f  and @gpetit

[2017-03-09 07:46] nicolas-f commented on #766
I do not say we should change ST_Accum.

Maybe we can just add an alias st_collect.

[2017-03-09 07:54] ebocher commented on #768
It would be nice to return the version  at runtime using

getClass().getPackage().getImplementationVersion()

This approach needs som change in the H2GIS pom's
http://blog.soebes.de/blog/2014/01/02/version-information-into-your-appas-with-maven/

[2017-03-09 07:59] nicolas-f commented on #768
The Bundle-Version can be extracted from the h2gis manifest at runtime

[2017-03-09 08:25] ebocher commented on #768
Yes but we must parse the manifest file?
With
getClass().getPackage().getImplementationVersion()
the metadata is set in the classloader

[2017-03-09 08:26] ebocher commented on #766
But why not change the ST_Accum to return an array of geometries and align H2GIS on PostGIS ?

[2017-03-09 08:28] nicolas-f commented on #768
I don't think that getImplementationVersion is equivalent to Bundle-Version.

There is a method to read this attribute (already done by OrbisGIS by the way)

http://stackoverflow.com/questions/1272648/reading-my-own-jars-manifest

[2017-03-10 12:29] ebocher commented on #767
To be

[2017-03-10 12:29] #767 closed

[2017-03-10 12:30] ebocher commented on #765
add also a doc on ST_RemoveRepeatedPoint with tolerance

[2017-03-11 09:32] ebocher commented on #766
Done

[2017-03-11 09:32] #766 closed

[2017-03-13 20:32] ebocher opened #772 "ST_Graph with PostGIS"
Update ST_Graph to be compliant with PostGIS

[2017-03-14 07:56] gpetit opened #773 "Error with ST_RemoveRepeatedPoints"
I'm using the last snapshot of OG (updated thanks to the PPA).

When I execute some examples from the ST_RemoveRepeatedPoints online documentation (http://www.h2gis.org/docs/dev/ST_RemoveRepeatedPoints/), I have some errors:

[code]
I obtain
[code]
Or with the new signature (with tolerance)
[code]
I have
[code]

Note that the last example, works well
[code]

@ebocher @nicolas-f

[2017-03-14 14:19] ebocher commented on #773
oupps thanks I will look on it

[2017-03-14 16:20] ebocher commented on #768
@gpetit
This function must be also documented.

[2017-03-15 09:12] ebocher commented on #773
@gpetit
You must cast the text into a geometry 'LINESTRING(1 1, 1 3, 2 3, 2 6, 3 8)'::geometry
However, you have found a new bug
MULTIPOINT((4 4), (1 1), (1 0), (0 3), (4 4)) must return MULTIPOINT((4 4), (1 1), (1 0), (0 3))

[2017-03-15 10:01] ebocher commented on #772
@nicolas-f and @gpetit
Is it ok for you ?

[2017-03-17 12:37] ebocher opened #776 "Release H2GIS steps"
Step 1
After the PR #775 and #774 we must release H2GIS.

Step 2
Update H2 database from 1.4.193 to 1.4.194.

Step 3
Release CTS
Update CTS in H2GIS

@gpetit

[2017-03-21 10:24] #772 closed

[2017-03-21 10:25] #773 closed

[2017-03-21 10:26] ebocher commented on #765
improve ST_Expand doc

[2017-03-21 10:27] ebocher opened #777 "ST_MakeValid"
Add a function to return a valid geometry as http://postgis.net/docs/ST_MakeValid.html

[2017-03-21 18:28] #777 closed

[2017-03-21 21:01] ebocher opened #779 "H2GIS with Python"
Add a wiki page to explain how to use H2GIS with Python.
@gpetit could talk with @nicolas-f about that ?
A very good doc is available here https://github.com/Ifsttar/NoiseModelling/wiki/11-Scripting-with-Python

[2017-03-22 13:34] gpetit commented on #765
@ebocher concerning ST_Expand, if you are talking about https://github.com/orbisgis/h2gis/commit/4178b782b33993349cd257daeb77168fbf07a479, the doc was already ok. X and Y were mentionned

[2017-03-23 08:04] ebocher commented on #776
Update also
The http://www.h2gis.org/docs/home/
And set news page

[2017-03-23 08:16] gpetit commented on #765
Done @ebocher you can close this issue

[2017-03-23 08:16] gpetit commented on #768
I'm on it

[2017-03-23 08:22] gpetit commented on #768
Where is the code ? Not sure this function has been merged ?

[2017-03-23 08:34] ebocher commented on #768
https://github.com/orbisgis/h2gis/blob/master/h2gis-functions/src/main/java/org/h2gis/functions/system/H2GISversion.java

[2017-03-23 08:34] ebocher commented on #768
And the test
https://github.com/orbisgis/h2gis/blob/master/h2gis-functions/src/test/java/org/h2gis/functions/system/SystemFunctionTest.java#L134

[2017-03-23 09:27] ebocher commented on #776
@SPalominos could please
-  push on maven the last 1.3.1 of H2GIS.
There is a doc here https://github.com/orbisgis/h2gis/wiki/Release-H2GIS-into-maven-central

- create a new release on github and copy paste the change log available here https://github.com/orbisgis/h2gis/pull/781

Thanks a lot

[2017-03-23 12:02] SPalominos commented on #776
I will do it as soon as possible.

[2017-03-24 15:52] gpetit opened #782 "Add doc for ST_MakeValid"
We have to create the documentation for the function ST_MakeValid (see #777 ).

I just pushed a pre-version of the doc file here #783 (will be updated / not to merge right now)

Here I have some questions for @mukoki

- Parameter: ```preserveCoordDim``` : in the doc, we say :"if true, then "Preserves third and fourth ordinates" and if false "Preserves third ordinates but not fourth one"
So if i'm

[2017-03-24 21:53] mukoki commented on #782
Hi

Le 24/03/2017 à 16:52, Gwendall Petit a écrit :

Yes, JTS use CoordinateSequence to store coordinates information in 2D,
3D or 4D. But many operations use the Coordinate structure which just
has a x, y and z.
Preserving the z is "natural" in JTS, but preserving a 4th dimension
needs a special effort to retrieve the 4th ordinate after any operation
implying the use of Coordinate.

Note : MakeVa

[2017-03-25 09:54] ebocher opened #784 "Optimizing geometry storage and transfer"
Check the Tiny Well-known Binary specification

https://github.com/TWKB/Specification/blob/master/twkb.md

[2017-03-30 07:55] gpetit commented on #782
Sorry for the delay

Thanks @mukoki for your answer. I will check and update the doc

[2017-03-30 12:34] gpetit commented on #782
Doc is now on-line : http://www.h2gis.org/docs/dev/ST_MakeValid/
Thanks @mukoki

[2017-03-30 12:34] #782 closed

[2017-03-30 12:42] gpetit commented on #768
This function has been documented : see #783

[2017-03-30 12:42] #768 closed

[2017-03-31 08:54] #765 closed

[2017-03-31 13:52] ebocher commented on #776
@SPalominos  to push H2GIS 1.3.1 you must used  https://github.com/orbisgis/h2gis/releases/tag/v1.3.1

and run theses commands

mvn release:clean
mvn release:perform -Dtag=v1.3.1 -P standalone -DconnectionUrl=scm:git:https://github.com/orbisgis/h2gis.git

Note it doesn't work on my laptop it seems related to my GPG KEY.

[2017-04-03 14:40] ebocher commented on #776
Step 1 and 2 done

[2017-04-03 14:45] ebocher opened #797 "Update h2gis.org"
Change dev to the 1.3.2-Snapshot version
Copy and create a new entry 1.3.1 ( last release)
Add news entry H2GIS 1.3.1 Released based on https://github.com/orbisgis/h2gis/releases/tag/v1.3.1 change log
and Let's Tweet Again

[2017-04-05 10:11] SPalominos opened #798 "Renaming : "field"->"column""
To be consistent with all the OrbisGIS project, it will be great to change the term "field" to "column".

[2017-04-14 09:23] StephaneWasserhardt opened #802 "LGPL including GPL dependency"
H2GIS is licenced under LGPL3 but [https://github.com/orbisgis/h2gis/blob/master/h2gis-dist/pom.xml](h2-dist) includes a dependency to postgis-jts-osgi which is GPL.

[2017-04-18 12:42] gpetit opened #803 "Add docs for DoubleRange and IntegerRange"
Add docs for DoubleRange and IntegerRange

[2017-04-19 07:38] gpetit commented on #803
Done in #804

[2017-04-19 07:38] #803 closed

[2017-04-19 13:36] gpetit commented on #797
Tweet done : https://twitter.com/H2GIS/status/854690059152437248

@ebocher I think you can close this issue

[2017-04-20 06:46] nicolas-f opened #806 "Invalid cost of PK Index"
Pk Index of linked table return a superior cost than spatial index.

Have to write this unit test with a linked table (spatial indexed)

[code]

This fix may be done here:

https://github.com/orbisgis/h2gis/blob/master/h2gis-functions/src/main/java/org/h2gis/functions/io/file_table/H2TableIndex.java#L163

[2017-04-20 11:11] gpetit commented on #776
What abou step 3. Hope it's done since the v1.3.1 has been released ;-)

[2017-04-20 11:26] SPalominos commented on #776
Yes it's done, I haven't updated the issue.

[2017-04-20 11:26] #776 closed

[2017-04-20 11:39] nicolas-f opened #807 "Issue with ST_SetSrid ST_Transform and linked shape file"
Using the following linked shape file
[Nantes Centre.zip](https://github.com/orbisgis/h2gis/files/942701/Nantes.Centre.zip)

and executing the following query

[code]

The result has not been transformed and show an extent in the epsg 4326. But the funtion ST_SRID return 2154

[2017-04-20 11:41] nicolas-f commented on #807
When using import (copy), the projection is done.

[2017-04-20 11:52] gpetit commented on #807
And the same if the roads.shp has a 4326 .prj file

"_When using import (copy), the projection is done._" : sometimes there is some few errors (e.g 20 lines not reprojected).

[2017-04-20 11:58] nicolas-f commented on #807
Sorry, this week, I don't have the time to work on this issue.

[2017-04-20 13:10] gpetit commented on #807
Note that with an imported layer, the behaviour is strange:

1. import the layer and execute the sql instructions
2. the number of well reprojected lines is variable (between 50 and 99%)
3. just re-execute the script : 100% of lines are well reprojected

[2017-04-20 15:21] ebocher commented on #807
I'm not able to fix this issue before 2 or 3 weeks so any help is welcome ;-)

[2017-04-20 15:21] ebocher commented on #806
I'm not able to fix this issue before 2 or 3 weeks so any help is welcome ;-)

[2017-04-20 15:22] ebocher commented on #802
Thanks postgis-jts-osgi must be in LPGL.

[2017-04-21 14:09] gpetit commented on #802
Dear @StephaneWasserhardt thanks for your warning.
The licence has been changed. So you are invited to check and close this issue if it's ok for you.

[2017-04-21 16:29] StephaneWasserhardt commented on #802
It's perfect. Thank you for the quick fix !

[2017-04-21 16:29] #802 closed

[2017-05-02 10:12] gpbp opened #811 "Illogical alternatives found in class GeoJsonReadDriver"
I found something weird when I read the class last week which I think logically incorrect. (line 517, method parsePolygonMetadata)

![screenshot from 2017-05-02 10-43-18](https://cloud.githubusercontent.com/assets/18648177/25610604/2bbc5e32-2f24-11e7-9be8-f492fbd72b36.png)

Will we do the same thing when linesIndex == 0 and linesIndex != 0?

Same thing happens if you guys roll into line 525

![scr

[2017-05-02 13:54] gpbp opened #812 "Issue while testing GeoJsonReadDriver class (Error: malformed GeoJson file)"
I was trying to call GeoJsonRead with a geojson file found on noise-planet.org(France.zip/France_Alsace_Bas-Rhin.areas.geojson). Then this happened.

![screenshot from 2017-05-02 15-34-15](https://cloud.githubusercontent.com/assets/18648177/25619943/f0b3fb8c-2f4c-11e7-9247-bd0a647f1bb2.png)

After many tests, I'm pretty sure it occured anytime the program called parsePropertiesMetadata() (line 671

[2017-05-03 07:05] ebocher commented on #811
Good catch if the code do the same please remove it.
Don't forget to send one PR by  fixed issue

[2017-05-03 07:06] ebocher commented on #812
This is a bug in the parser that must be fixed.

[2017-05-03 07:26] ebocher commented on #811
Do not

[2017-05-03 07:27] ebocher commented on #811
This issue must be closed when the PR is submitted .

[2017-05-03 07:32] SPalominos commented on #812
Yes, it seems that the parser reads one value out of two. It should read the whole array as value.
@gpbp As you are working on geojson parsing, I assign you to this issue.
(Tips, instead of screenshots, you can also use [markdown](https://guides.github.com/features/mastering-markdown/) to quote code with syntax coloration)

[2017-05-03 07:34] gpbp commented on #812
@SPalominos Ok, I'll try to do it next time.
Thanks you guys.

[2017-05-03 08:02] ebocher opened #813 "Check 2008 GeoJSON specification and RFC 7946"
The 2008, RFC 7946  should be supported by the GeoJson driver. Depending on the changes, it would be nice to share the same code.

@gpbp, @SPalominos

[2017-05-04 09:00] gpbp opened #815 "Q&A: about metadata methods in GeoJsonReaderDriver class"
I just realized that methods with the "metadata" term behind (Ex: parsePropertiesMetadata) just "parse" the geojson file. It doesn't have to store the data or something? And how do we store it exactly?

(ps: I still don't have permission to label my issues. I really want to have a question label on this but I can't)

[2017-05-10 13:41] gpbp opened #818 "Cannot find ObjectMapper class"
ObjectMapper is the main actor class of Jackson library, I really need it to convert Json Object into java object. But I couldn't find it anywhere in our code. what should I do?

[2017-05-10 14:06] gpbp commented on #818
Nevermind, this object won't work with our code, I'll close this issue.

[2017-05-10 14:06] #818 closed

[2017-05-10 14:11] gpbp opened #819 "Difficulty while parsing and writing JSON Object"
What should I do when the Json file contains something like this: "member": {"member1": value1, "member2": value2} in "properties" member. Should I put all into an String object and set up VARCHAR as the type of this column?

[2017-05-10 14:58] ebocher commented on #819
Please post a more concrete example relate with the geojson specification

[2017-05-10 14:59] ebocher commented on #815
parsePropertiesMetadata is used to collect information in order to create the table that will store the geojson.

[2017-05-10 15:00] gpbp opened #820 "Which standard to write?"
In which standards we will write our GeoJson files? I mean the GeoJsonWriterDriver class has to write a GeoJson file from a spatial table but I don't know if I should keep old methods that are only used by the 2008 spec.

[2017-05-10 15:02] ebocher commented on #820
You must write the Geojson file to the last specification.
@SPalominos  what do you think ?

[2017-05-11 06:30] SPalominos commented on #820
I agree, by default we should use the very last version.

[2017-05-11 07:22] gpbp commented on #819
I don't have any example, just something I imagine. This is the only solution I figured out, otherwise it would be a dead end.

[2017-05-11 10:48] ebocher commented on #819
@nicolas-f
What about if the store the json collection in blob data type ?

[2017-05-11 10:56] nicolas-f commented on #819
You can not store hierarchical objects in a single table. If you really want to support this feature you need to create multiple tables.

[2017-05-11 12:43] SPalominos commented on #819
Ok, thanks @nicolas-f
So for now @gpbp will let this case empty an it will be implemented later.

[2017-05-16 11:50] gpbp opened #823 "About linear rings: counterclockwise recognition."
Are there any functions that help us to recognize a counterclockwise linear ring and identify the exterior ring when it comes to Polygon with holes.

[2017-05-16 11:56] gpbp opened #824 "Pattern of timestamp type"
Is there a pattern for all timestamp type?

[2017-05-17 18:13] ebocher commented on #823
What exactly do you want to do ?

In the JTS library the order of the coordinates is closed to http://www.opengeospatial.org/standards/sfa

If I'm not wrong :
Simple Features Access specifies a counter-clockwise direction for outer rings as of version 1.2.1 document

You must check the JTS api.

[2017-05-17 18:13] ebocher commented on #824
For what ?
Please explain a bit more the question ?

[2017-05-18 07:02] nicolas-f commented on #824
I think it is in relation to the GeoJSON parsing.

As I say, GeoJSON do not define any way to recognize a time or date, because this is not a type in this format. I do not recommend to check with a regex all attributes to attempt to recognize a date, because it will greatly slow down the parsing. So parse this GeoJSON field as text and then the user has to provide the right method to translate to

[2017-05-18 07:14] gpbp commented on #824
ok, I'll just leave it be "VARCHAR". I'll close this issue from now.

[2017-05-18 13:55] gpbp commented on #823
Because rfc 7946 only accepts Polygons with counterclockwise exterior ring and clockwise holes.

I'll check the JTS api.

[2017-05-18 15:07] gpbp commented on #823
the order of the coordinates in the JTS library is exactly the same as rfc 7946. So when I stock information into a spatial table, coordinates will follow directly the right-hand rule?

[2017-05-19 15:10] #824 closed

[2017-05-22 06:06] ebocher opened #827 "GML 3 Compliance level SF-0"
Extend ST_AsGML function to support the GML 3 version , compliant with level SF-0

[2017-05-22 06:07] ebocher commented on #812
Is this issue fixed ?

[2017-05-22 06:08] #811 closed

[2017-05-22 06:08] ebocher commented on #813
What is the final strategy about this issue ?

[2017-05-22 06:09] #815 closed

[2017-05-22 06:09] ebocher commented on #819
Seems fixed with the last PR ?

[2017-05-22 06:12] ebocher commented on #823
The H2GIS uses JTS and PostGIS the GEOS lib closed to JTS, in conclusion the coordinate order will be the same rfc 7946

[2017-05-22 07:30] gpbp commented on #823
That's great, we don't have to change anything. I'll close this issue.

[2017-05-22 08:59] pierromond opened #828 "Kernel density estimation"
Does it exist any easy implementation or tutorial for kernel density estimation with H2GIS ? as presented in http://lara.inist.fr/bitstream/handle/2332/879/0949_T1.pdf;jsessionid=338AEBFCD7E542E25D810933CED1790C?sequence=4 for example.

[2017-05-22 09:06] ebocher commented on #828
Renjin with H2GIS will be a good option.
You can test https://stat.ethz.ch/R-manual/R-devel/library/stats/html/density.html in OrbisGIS RConsole
https://github.com/orbisgis/orbisgis-official-plugins/tree/master/r-console

[2017-05-22 09:46] pierromond commented on #828
Good idea, it will be the opportunity to test Renjin. Thank you.

[2017-05-22 09:46] #823 closed

[2017-05-22 11:15] #828 closed

[2017-05-22 14:53] gpbp opened #829 "Parse and write Bbox"
Should we parse and write the Bbox and how would we stock it? (I mean I could create a new column for bbox)

[2017-05-22 14:56] ebocher commented on #829
Parse the Bbox is not necessary.
Is the bbox mandatory in the geojson file with the last specification ?

[2017-05-22 14:57] gpbp commented on #829
No, I'm just curious. BTW, could check my latest pull request.

[2017-05-23 06:58] SPalominos commented on #813
As the only change between `2008` and `RFC 7946` is the non supporting of the CRS, the same code can be shared. The only real problem is that the read part accepts `2008` and `RFC 7946` but the write part only `RFC 7946`.
 So, if the read geojoson is in `2008` and its CRS is `2000`, how is is written in the database? With its custom CRS or converted into `WGS84` (`RFC 7946`) ? And if it is written

[2017-05-24 09:46] #829 closed

[2017-05-24 09:47] gpbp commented on #812
yes, I fixed it

[2017-05-24 09:47] #812 closed

[2017-05-24 09:47] #820 closed

[2017-05-24 09:48] #819 closed

[2017-05-24 12:21] gpbp opened #830 "Bug in the testWriteReadlGeojsonComplex method"
I think this test is not compatible with my new code.
I cannot execute **CALL GeoJsonWrite('target/complex.geojson', 'TABLE_COMPLEX')**
Error: org.h2.jdbc.JdbcSQLException: Exception calling user-defined function: "writeGeoJson(conn1: url=jdbc:default:connection user=SA, target/complex.geojson, TABLE_COMPLEX): null"; SQL statement:
CALL GeoJsonWrite('target/complex.geojson', 'TABLE_COMPLEX'); [901

[2017-05-24 12:41] gpbp commented on #830
This is the test
` @Test
    public void testWriteReadlGeojsonComplex() throws Exception {
        Statement stat = connection.createStatement();
        stat.execute("DROP TABLE IF EXISTS TABLE_COMPLEX, TABLE_COMPLEX_READ");
        stat.execute("create table TABLE_COMPLEX(the_geom geometry, gid long)");
        stat.execute("insert into TABLE_COMPLEX values( null, 1463655908000)");
        stat.

[2017-05-24 12:54] gpbp opened #832 "Bug in testWriteReadProperties"
This is from the debug log.
[code]

[2017-05-24 12:56] gpbp commented on #832
We just need to add "DROP TABLE IF EXIST" statement in the test.

[2017-05-24 14:42] ebocher commented on #806
@nicolas-f
Do you have some time to fix this issue ?

[2017-05-24 14:44] ebocher commented on #807
Any help are welcome

[2017-05-24 14:52] nicolas-f commented on #806
Not today, but if I have a remainder next week..

[2017-05-24 14:53] #832 closed

[2017-05-24 14:53] #830 closed

[2017-05-24 15:04] gpbp commented on #807
Can I do it?

[2017-05-24 15:08] ebocher commented on #807
is geojson  implemented ?
If yes you can try to fix this issue.

[2017-05-24 15:12] gpbp commented on #807
yeah, now I'm trying to make our drivers support null object.
I'll see if I can do with this issue.

[2017-05-30 06:47] ebocher commented on #813
Is this issue fixed ?

[2017-05-30 06:48] ebocher commented on #722
Duplicated with #813

[2017-05-30 06:48] #722 closed

[2017-05-31 06:44] SPalominos commented on #813
@gpbp Did you have completely updated the geojson driver ?

[2017-05-31 07:16] gpbp commented on #813
yes, it's solved

[2017-06-15 16:37] #813 closed

[2017-06-27 11:24] #806 closed

[2017-06-27 11:29] ebocher opened #839 "Improve SHPRead function ?"
It would be nice if the SHPRead function returns a ValueResulSet as CSVRead function. So the user will be able to do something like

SELECT SUM(ST_AREA(THE_GEOM)) AS total from  (SELECT * FROM SHPREAD('/tmp/myFile.shp')) GROUP BY CODE_INSEE;

It is  closer to the SQL syntax than "CALL SHPRead".

[2017-06-28 06:46] nicolas-f commented on #839
SHPREAD must create a primary key column. This thing is not possible with table result set.

[2017-06-28 06:58] ebocher commented on #839
So you think that we cannot emulate a SERIAL column with a SimpleResultSet ?

[2017-06-28 07:01] nicolas-f commented on #839
SERIAL is not a column type its an alias for auto increment primary key when creating tables.

[2017-06-28 07:02] ebocher commented on #839
Ok. According to you it's not possible to do that ?

[2017-06-28 07:05] nicolas-f commented on #839
It should be another function name.

[2017-06-28 07:08] ebocher opened #840 "Check parentheses on function argument"
If a function supports select query as argument we must check parentheses

http://www.h2database.com/html/grammar.html#create_linked_table

If a query is used instead of the original table name, the table is read only. Queries must be enclosed in parenthesis: (SELECT * FROM ORDERS).

ie :  SHPWRITE, ST_EXPLODE

[2017-06-28 07:10] ebocher commented on #839
Maybe :

SHPREAD -> Read a file
SHPImport -> Import a file (previously SHPREAD)

[2017-06-28 07:10] ebocher commented on #839
@gpetit

[2017-08-10 08:26] jtownson opened #842 "Command to load hsgis_spatial cited in readme is wrong"
The usage section of the readme gives the classname to load hsgis_spatial as
```CREATE ALIAS IF NOT EXISTS H2GIS_SPATIAL FOR "org.h2gis.functions.H2GISFunctions.load";```

I think the correct alias/classname should be
```CREATE ALIAS IF NOT EXISTS H2GIS_SPATIAL FOR "org.h2gis.functions.factory.H2GISFunctions.load";```

[2017-08-10 09:01] nicolas-f commented on #842
Hi,

Thanks for the feedback I will update the readme.

[2017-08-12 12:20] ebocher commented on #842
Thanks

[2017-08-12 12:20] #842 closed

[2017-08-12 12:20] ebocher commented on #840
Done

[2017-08-12 12:20] #840 closed

[2017-08-22 13:01] #797 closed

[2017-08-24 07:28] nicolas-f opened #844 "Remove usage of java.nio.file"
Android does not support java.nio.file package. We have to find a workaround in order to be compatible with Android.

https://github.com/orbisgis/h2gis/search?utf8=%E2%9C%93&q=%22import+java.nio.file%22&type=

[2017-08-24 07:39] nicolas-f commented on #844
Related to this thread http://h2gis.1099522.n5.nabble.com/Attach-shapefile-on-Android-td87.html#a99

[2017-08-24 12:24] ebocher commented on #740
Following my discussions with @nicolas-f , we decide :

-   rename the h2gis artifact id to h2gis-parent,
-   rename h2gis-functions artifact id to h2gis and  h2gis-functions-osgi
-   remove h2gis-ext and h2gis-ext-osgi
-   update all the documentation and explain how to load the h2gis-network

[2017-08-24 12:28] nicolas-f commented on #740
And add h2gis-network-osgi

[2017-08-24 12:47] ebocher commented on #412
Is it necessary ?

[2017-08-24 12:50] ebocher commented on #740
Ok drivers must be loaded in h2gis-functions-osgi

[2017-08-24 12:51] nicolas-f commented on #412
If no ones need it we can close this issue

[2017-08-24 12:51] #412 closed

[2017-08-24 12:52] ebocher commented on #497
@nicolas-f ?

[2017-08-24 12:52] #580 closed

[2017-08-24 12:53] #763 closed

[2017-08-24 12:54] ebocher commented on #720
Is it possible to fix this issue in the future?

[2017-08-24 12:55] #594 closed

[2017-08-24 12:55] #595 closed

[2017-08-24 12:59] nicolas-f commented on #720
Some days/weeks of work to create an index from scratch or make a pr to change h2 structure.

[2017-10-02 09:24] ebocher opened #846 "Add a page Products and Projects that use H2GIS"
List all Products and Projects that use H2GIS

ie : Dari/Brightspot https://github.com/perfectsense/dari

[2017-10-05 09:09] ebocher opened #848 "ST_Point"
Create an alias on st_makepoint to be compliant with postgis
https://postgis.net/docs/ST_Point.html

[2017-10-16 11:30] oscar9 opened #850 "ST_Graph not found in 1.3.2"
If you download h2gis-dist-1.3.2-bin.zip from http://www.h2gis.org/
And execute: java -jar h2gis-dist-1.3.2.jar
CALL ST_GRAPH();

Function "ST_GRAPH" not found; SQL statement:select ST_Graph() [90022-196] 90022/90022 (Ayuda)org.h2.jdbc.JdbcSQLException: Función "ST_GRAPH" no encontradaFunction "ST_GRAPH" not found; SQL statement:select ST_Graph() [90022-196]    at org.h2.message.DbException.getJdb

[2017-10-16 11:45] SPalominos commented on #850
Hi, thank you for reporting this issue.

After running `java -jar h2gis-dist-1.3.2.jar`, did you initialized the H2GIS extension like shown in the [H2GIS quick-start](http://www.h2gis.org/docs/1.3.2/quickstart/) before executing the `CALL ST_GRAPH();` instruction ?

[2017-10-16 12:07] oscar9 commented on #850
Ok, it's working, my bad. Awesome job, thanks for the reply!

[2017-10-16 13:37] SPalominos commented on #850
Great, don't hesitate to post if you encounter another issue.

[2017-10-16 13:37] #850 closed

[2017-10-17 08:07] #848 closed

[2017-10-22 17:30] ebocher opened #853 "GeoJSON Foreign Members"
GeoJSON read driver crashes with "Foreign Members"

eg
[code]

[2017-10-23 09:46] SPalominos opened #856 "Geojson type not taken into account"
The GeoJSON driver only takes into account the type "FeatureCollection" as root type whereas in the specification the type can also be a [Feature](https://tools.ietf.org/html/rfc7946#section-3.2) or a [Geometry](https://tools.ietf.org/html/rfc7946#section-3.1).

[2017-10-23 20:12] #853 closed

[2017-10-23 20:13] ebocher opened #858 "ST_OSMDownload check error codes"
Please see http://wiki.openstreetmap.org/wiki/API_v0.6#Error_codes_2

[2017-10-23 20:38] #740 closed

[2017-10-25 09:20] gpetit commented on #639
Can you explain why we should reimplement ? What has to be changed ?

[2017-10-25 12:01] gpetit commented on #807
This issue is linked with https://github.com/orbisgis/orbisgis/issues/988

SET CACHE_SIZE 0 should resolve the problem

[2017-10-25 13:43] ebocher commented on #639
The current ST_FillSinks (https://github.com/orbisgis/h2gis/blob/raster/1.3.X/h2spatial-ext/src/main/java/org/h2gis/h2spatialext/function/spatial/raster/utility/OpFillSinks.java) function put all the raster in memory  so with large DEM with have an out of memory.
It'd be nice to use the tile mechanism from JAI operator API.

[2017-11-06 13:30] nicolas-f opened #862 "Error in h2gis documentation"
In this page http://www.h2gis.org/docs/dev/ST_MakeGridPoints/ (add other versions)

The following sample does not work :

[code]

The issue here is the cast of 'TEST' into a geometry. Test is a table not a WKT. The the sample should be:

[code]

[2017-11-13 07:51] ebocher commented on #862
Thanks

[2017-11-13 07:51] #858 closed

[2017-11-19 17:13] ebocher commented on #862
There is also an error on http://www.h2gis.org/docs/dev/quickstart/
that explains how to load the H2GIS function. The "org.h2gis.ext.H2GISExtension.load" has been removed since https://github.com/orbisgis/h2gis/pull/845
@gpetit

[2017-11-22 16:36] cpoissonnier opened #864 "Geography type support"
Hi,

It would be great to support Geography type.

I would like to use H2GIS as test database, but when I create my table, I have this error :

    Caused by: org.h2.jdbc.JdbcSQLException: Unknown data type: "GEOGRAPHY"; SQL statement:

Thanks

[2017-11-22 19:53] ebocher opened #865 "Update to JTS 1.15.0"
Because all JTS packages have been modified a new released must be planed for H2GIS , H2 database and all OrbisGIS tools.

[2017-11-22 20:05] ebocher commented on #865
- [ ] postgis-jts-osgi
- [ ] postgis-jdbc
- [ ] postgis-jdbc-jtsparser

[2017-11-22 20:27] ebocher commented on #864
Not planed yet.
Maybe It could be possible in the future thanks to JTS 2.0.

[2017-11-23 08:03] gpetit commented on #865
Ok so we should just temporazise in order to give us time to finish some things (maybe till the end of the year ?)

[2017-11-23 11:35] cpoissonnier commented on #864
Ok, thanks. Kenavo !

[2017-11-30 06:56] iamjinlei opened #866 "building shadow"
I am trying to get a shadow for my polygon by directly calling ST_SunPosition.sunPosition() and ST_GeometryShadow.computeShadow. However, the produced shadow seems wrong. The expected shadow should reside on the north side of the building, but that is not what I saw. Below is my sample code. Poly is a simple rectangle such as [(0,0), (100, 0), (100, 40), (0, 40), (0, 0)].

Point hz = GeometryAlgo.

[2017-11-30 13:33] ljinfb commented on #866
I further verified with other online tools. It looks like the sun position calculation is correct. But my shadow become upside down. Am I doing something stupid? Thanks!

[2017-12-02 11:13] ebocher commented on #865
Sure. We will take time to do that

[2017-12-03 08:24] ebocher commented on #24
Seems interesting https://github.com/ngageoint/geopackage-java

[2017-12-06 06:48] ebocher opened #867 "Implement ST_SnapToGrid"
Implements the ST_SnapToGrid function to reduce the geometry precision.

[2017-12-06 06:48] ebocher commented on #862
@gpetit ping

[2017-12-11 14:34] SPalominos opened #869 "ST_Transform keep the envelope."
Issue transferred from orbisgis/orbisgis#988 :

Issue get by @gpetit with the the following SQL script (simplified). H2GIS has a strange behavior :

[code]

If you request the method `ST_EXTEND` on both geometries, you got exactly the same envelope.

[2017-12-13 09:05] #869 closed

[2017-12-20 09:45] abdhafid opened #871 "H2gis in spring boot project"
How can we use h2gis in spring boot project ?

[2017-12-21 18:15] ebocher commented on #871
Because H2GIS is an extension on H2 database take a look here https://springframework.guru/using-the-h2-database-console-in-spring-boot-with-spring-security/

[2017-12-21 18:15] #871 closed

[2017-12-21 18:52] ebocher commented on #866
[code]
returns
POLYGON ((0 40, 2.8956618538979484 40.05901178960749, 102.89566185389795 40.05901178960749, 102.89566185389795 0.0590117896074885, 100 0, 100 0.0590117896074885, 100 40, 2.8956618538979484 40, 0 40))

Note that ST_SunPosition.sunPosition receives also a location and a time.

[2017-12-22 01:37] ljinfb commented on #866
@ebocher  thanks for looking into this issue.

Is the coordinate system different from JTS? JTS has negative Y on north and positive Y on south. So your returned polygon shadow also resides on the south side of the building according to JTS.

Here is my Java code:

[code]

Here is the results:
[code]

It is also on the south side of the building. After negating sun position's x/y value, it seems t

[2018-01-10 14:50] ebocher commented on #866
Thanks a lot we will look on it.

[2018-01-12 09:20] willome opened #873 "ST_Transform is not working as expected"
[code]

is not throwing any error, but Postgis does : ERROR: transform: couldn't project point (379551 1.81513e+06 0): latitude or longitude exceeded limits (-14).

This has been tested on 1.3.2 and 1.4.0-SNAPSHOT. I saw some bugs which have been fixed on ST_Transform, but it seems a bug is still present.

[2018-01-12 10:32] ebocher commented on #846
https://github.com/iyusuf/micro-map-service

[2018-01-12 12:29] ebocher commented on #846
https://www.youtube.com/watch?v=7fMqggQzqTk

[2018-01-12 12:30] ebocher commented on #846
https://bitbucket.org/treyerl/luci

[2018-01-12 12:35] ebocher commented on #846
http://www.openjump.org/

[2018-01-12 14:39] nicolas-f commented on #873
Hi,

The explanation for the error is that the latitude and longitude of the provided coordinates are outside the bounds defined by the projection used. The WGS84 projection (4326) is bounded from -180° to +180°.

It seems that you have not provided the correct argument projection for the ST_SETSRID function.

[code]

[2018-01-12 17:26] willome commented on #873
Well I know that is the wrong projection : the sql example I wrote is erroneous (it was made on purpose) and it just show you that the error is NOT present in H2Gis, but occured as expected with PostGis.

[2018-01-28 12:33] ebocher commented on #784
https://github.com/locationtech/jts/issues/246

[2018-02-20 14:43] ebocher opened #877 "ST_Drape"
A function to drap a geometry to a geometry that contains a set of triangles

[code]
Usage
[code]

[2018-02-21 21:05] ebocher commented on #862
@gpetit ping

[2018-02-21 21:06] ebocher commented on #846
https://blog.gvsig.org/2018/02/21/gvsig-desktop-2-4-is-already-available/

@gpetit ping

[2018-02-21 21:16] ebocher commented on #846
https://issues.apache.org/jira/browse/CALCITE-1968

[2018-02-22 08:36] nicolas-f commented on #846
Calcite use only the website content (list of spatial functions) of H2GIS. Not the actual library.

[2018-02-24 09:28] ebocher opened #879 "Replace JDelaunay by PolyToTri"
As @nicolas-f  does.
https://github.com/Ifsttar/NoiseModelling/issues/25#issuecomment-368038987
It would be nice to replace JDelaunay by PolyToTri.
Check before if PolyToTri supports the same features (z interpolation, line, point triangulation).

[2018-02-24 09:57] ebocher commented on #879
My fault there is no dependency to Jdelaunay since 1870 ;-)
Documentation must be updated here https://github.com/orbisgis/h2gis/blob/7dce60cd97cdb81f4009d683528056a8808ba4cd/h2gis-functions/src/main/java/org/h2gis/functions/spatial/topography/TINFeatureFactory.java#L28

[2018-02-24 09:57] #879 closed

[2018-02-26 12:29] gpetit commented on #862
I'm on it

[2018-02-26 12:48] gpetit commented on #862
Done.
Since the error on QuickStart has already been resolved by @SPalominos we can now close this issue.

[2018-02-26 12:50] gpetit commented on #846
I'm on it

[2018-02-26 13:02] #862 closed

[2018-02-26 14:49] ebocher commented on #865
Prepare the migration since the last change in H2 core https://github.com/h2database/h2database/pull/897
Thanks to @katzyn

[2018-02-26 15:41] gpetit commented on #839
Ok to distinguish the behaviours.
* SHPRead : the shape file is imported as a whole and there is no possibility to make query on it.
* SHPImport : the shape file is imported and we can call it thanks to sub query

In both cases, a PK is added

[2018-02-26 15:57] ebocher commented on #839
When the SHP is imported the data are stored in the database so you can do what you want in SQL.

[2018-02-26 15:58] gpetit commented on #807
Since #988 is closed, this issue should be resolved, but I made a last test and I still have some problems.
* I imported the road.shp
* I executed the instructions
* I load the ROADS_2154 table into the TOC --> nothing in the map (even if I zoom on the layer)
* I rexecute the instruction (the table is still in the TOC) --> refresh the TOC and the map --> nothing
* I remove the table from the TOC a

[2018-02-27 07:59] gpetit commented on #846
I think we can close this issue. If new tools or projects are detected I will update the "users" page

[2018-02-27 08:04] gpetit commented on #839
Yes I know but your initial question was to be able to make SQL selection during the import step (not once the shp is stored into a table) ? Isn't it ?

[2018-02-27 08:31] #846 closed

[2018-02-27 08:37] gpetit commented on #798
You mean in the code ?

[2018-02-27 08:40] gpetit commented on #779
@nicolas-f how can I help you to create this wiki page.
Reading the NoiseModelling page I can understand the main ideas ... but maybe I will need your help to me clear and right

[2018-02-27 09:21] nicolas-f commented on #779
The tutorial will not be the same. The beginning is to follow the quick start http://www.h2gis.org/docs/1.3.2/quickstart/

[2018-02-27 10:17] gpetit commented on #779
Hum ok ... let's start to built the skeleton of this page ... and then try to fill the doc : https://github.com/orbisgis/h2gis/wiki/4.4-Use-H2GIS-with-Python

[2018-02-27 10:57] gpetit commented on #877
Where does the name "ST_Drape" come from ?
For PostGIS it seems this function is for raster : https://trac.osgeo.org/postgis/ticket/2327 (but this ticket is 5 years old and I don't see another reference on internet)

[2018-02-27 12:37] ebocher commented on #877
This function comes from a discussion with @nicolas-f .
The idea is to drape a geometry to a set of triangles in order to interpolate the missing z values in the input geometry.

[2018-02-27 13:59] gpetit commented on #877
Ok it will be great. Just two remarks:
* why "forcing" to use triangles (b.the_geom) ? I understand that the function will use triangles to determine the missing z values but why not saying that the geomB is a generic geometry (e.g points (polutant concentrations) lines (roads),  polygons (buildings)). For me the generation of triangles is something that should be transparent for users.
* can we (

[2018-02-27 14:07] ebocher commented on #877
Do not understand the first bullet point. But,
if you want to compute the z value of a point inside a polygon you must have a plane. The triangles are the most easy way to do that. You can divide the polygon as a set of triangles.

Considering the second bullet, triangles are the input mesh data to drape the geometry (first argument) so the user must adapt the triangulation before.

[2018-02-27 14:14] gpetit commented on #877
I was just asking if, in a user point of view, we could hide the fact that triangles will be used during the process. The idea would be to specify two geometries:
* target : the one you want to update with z values
* source : the one with z value, which will be used to determine missing values in the "target" table

In any cases, we know that the "source" geometries will be converted into triangle

[2018-02-27 14:21] ebocher commented on #877
About the first geom (geomToDrap geometry), what about is we support only single geometry (line, point, polygon) ?

[2018-02-27 14:32] gpetit commented on #877
* ok for the doc (I know one guy who can manage ;-) )
* my point was just "why not converting a source geometry into TIN on the fly ?". But maybe we have to discuss IRL to be more clear
* is it more complicated if we have multi-geometries ? I guess yes ... but is that insurmountable?

[2018-02-27 14:36] ebocher commented on #877
* ok for the doc (I know one guy who can manage ;-) )
nice
* my point was just "why not converting a source geometry into TIN on the fly ?". But maybe we have to discuss IRL to be more clear
It's clear for me. I will do a proposal. The F2F will be more easy.
* is it more complicated if we have multi-geometries ? I guess yes ... but is that insurmountable?
Never but more code, more specific cases a

[2018-03-01 15:27] gpetit commented on #586
@nico any input about this feature ? We are looking forward using raster in H2GIS ;-)

[2018-03-01 15:30] ebocher commented on #586
Note : The TIFF format will be integrated in JAVA 9
http://openjdk.java.net/jeps/262

[2018-03-02 08:23] nicolas-f commented on #586
Nice.

@gpetit
 I've merged the raster branch with the last h2 update. I have to write documentation and then create a pull request to h2 database.

[2018-03-02 08:27] ebocher commented on #586
+1
We can help you to write the documentation.

[2018-03-02 08:41] nicolas-f commented on #586
The branch is here
https://github.com/nicolas-f/h2database/tree/georaster_patch

Off db raster is still not supported yet. But band metadata can already store the path of the external image.

[2018-03-05 14:18] ebocher commented on #877
Done @gpetit  ready for documentation

[2018-03-08 09:17] #661 closed

[2018-03-08 09:19] ebocher commented on #609
done here https://github.com/ebocher/h2database
with documentation

[2018-03-08 09:19] #609 closed

[2018-03-08 11:53] ebocher commented on #586
Add a unit test ?
SELECT FILE_WRITE(ST_IMAGEFROMRASTER(data, 'png'), '/tmp/test.png')  FROM test"

[2018-03-08 14:18] ebocher commented on #586
Test done

[2018-03-08 15:51] ebocher commented on #586
A good day
https://github.com/h2database/h2database/pull/945

[2018-03-09 14:17] #779 closed

[2018-03-09 14:25] ebocher opened #885 "ST_SVF"
Implement a function to compute the Sky View Factor as defined in the LCZ classification.
The signature will be :

ST_SVF(POINT, DISTANCE, RAYCOUNT, GEOMETRY)

POINT =  the point where the SVF is computed
DISTANCE = Radius of the circle considered for obstruction calculation (in meters)
RAYCOUNT = Number of rays in the circle (int)
GEOMETRY = Sky obstacle(s). The Z value of the geometry must be no

[2018-03-09 14:26] ebocher commented on #885
@j3r3m1

[2018-03-12 11:03] ebocher opened #886 "ST_ISOVIST"
Compute the visibility polygon for a given point.
See https://en.wikipedia.org/wiki/Isovist
and a nice tuto on PostGIS
https://abelvm.github.io/sql/isovists/

Signatures
[code]

[2018-03-12 11:42] nicolas-f commented on #886
What is fov ? Its an array ?

[2018-03-12 12:35] ebocher commented on #886
An Array or two distinct values

[2018-03-12 13:09] nicolas-f commented on #886
Ok. It will be in radian like other functions. 0 value is at [x+1;0] from -pi to pi .

[2018-03-12 13:40] ebocher commented on #886
OK

[2018-03-12 19:10] ebocher opened #888 "Raster datatype refactoring"
In order to not break H2 with Android, the Raster data type proposed to support georeferenced image must be refactored.

1. The Raster type must be specified by a set of interfaces
2. ImageIO driver must be added via OSGI

[2018-03-15 14:35] gpetit commented on #877
I'm on it

[2018-03-16 12:52] gpetit commented on #877
@ebocher you can close this issue I think

[2018-03-16 12:52] #877 closed

[2018-03-16 13:13] gpetit commented on #885
Let's go for the documentation ;-)

[2018-03-19 09:21] ebocher commented on #865
Here https://github.com/ebocher/H2GIS/tree/updateJTS1.15 the branch that updates H2 (to 1.4.197) and JTS (1.15).
Several tests do not work.

[2018-03-19 09:34] ebocher commented on #865
@nicolas-f @SPalominos

[2018-03-19 09:48] ebocher commented on #865
Move postgis-jts-osgi and postgis-jts to H2GIS repository ?

[2018-03-19 10:06] nicolas-f commented on #865
If it facilitates compilation yes.

[2018-03-19 10:37] ebocher commented on #865
and maintenance

[2018-03-19 13:43] SPalominos commented on #865
For the error on several tests like `test_ST_MakeEnvelopeSRID()` in `org/h2gis/functions/spatial/create/CreateFunctionTest`, it comes from the  `((Geometry) rs.getObject(1))` instruction.
When it's called, H2 return a `copy` of the result geometry.
 - In JTS 1.14, the copy was create by calling `clone` which for a Geometry duplicates everything, including the SRID.
 - In JTS 1.15, the copy is crea

[2018-03-19 14:19] katzyn commented on #865
`Geometry.copy()` was used in H2 due to deprecation on `Geometry.clone()`.

BTW, `Polygon.clone()` is implemented as a call to `Polygon.copy()` anyway:
https://github.com/locationtech/jts/blob/3fb74b65e142bc166f58c9105f9dc43e911c7d72/modules/core/src/main/java/org/locationtech/jts/geom/Polygon.java#L355-L358

So usage of deprecated `clone()` does not make any difference for now.

[2018-03-19 15:18] ebocher commented on #865
We must investigated because some of tests do not work.

[2018-03-19 15:42] SPalominos commented on #865
@katzyn The problem does not come from H2, but from JTS.
The behaviour of `copy()`/`clone()` has changed between 1.14 and 1.15.
- In 1.14 : [`Polygon.clone()`](https://github.com/locationtech/jts/blob/5628f06392f727a15787123bb48c4af424cd85af/modules/core/src/main/java/org/locationtech/jts/geom/Polygon.java#L355) was calling [`Geometry.clone()`](https://github.com/locationtech/jts/blob/5628f06392f7

[2018-03-21 06:40] ebocher commented on #865
https://github.com/locationtech/jts/issues/273

[2018-03-22 01:56] katzyn commented on #865
Did you read javadoc of `Geometry.setSRID()`? It looks like such behavior is expected. `setSRID()` should not be used in normal cases.

But overall logic in JTS does not look good, at least for situations where values with different factories with different SRID should be used. `WKBWriter` stores the SRID, not the factory. `WKBReader` reads the SRID and also not the factory, factory should be spec

[2018-03-22 07:57] ebocher commented on #865
@katzyn  thanks to point us that there is a javadoc for JTS !

However, as you write, the way the setSRID method works is not clear, especially in the case of the clone method.

Regarding your fix, I think it would be good to add a test on a resultset object to be sure that the srid is well preserved , something like
ResultSet rs = stat.executeQuery("select * from geometryTable");
assertEquals( 43

[2018-03-22 08:40] katzyn commented on #865
https://github.com/locationtech/jts/blob/3fb74b65e142bc166f58c9105f9dc43e911c7d72/modules/core/src/main/java/org/locationtech/jts/geom/Geometry.java#L264-L277

Is `copy()` a “constructive” method? I don't know. It's javadoc, however, says that it returns a “full copy”. Yes, it's not clear how this should work.

Unfortunately, this problem was not found before release of H2 1.4.197. I use `GEOMETRY

[2018-03-22 09:00] katzyn commented on #865
There is a bigger problem.

If geometry factory was created with a custom SRID and a geometry value was created by this factory this value will have that SRID form a factory and methods of this value will use it properly.

When this value is stored in database information about factory is not stored on disk. When such value is read from disk it will got the same SRID, but it's factory will be a de

[2018-03-22 09:40] katzyn commented on #865
It also looks like caching of geometry values in H2 works in such way that H2 may return a geometry with not only the default factory instead of original one but also with a some different factory if the same value with different factory was stored somewhere before. Cache do not distinguish values with the same WKB representation but with different factories. This looks weird enough. May be H2 sho

[2018-03-22 10:28] katzyn commented on #865
Technically it's possible to return geometries from H2 not only with the same SRID and some random factory with unknown SRID, but also with a some factory with the same SRID. It's easy enough to read SRID from WKB to pass proper factory to WKBReader to ensure that value will have the factory with the same SRID. Other settings of a factory, however, will be default, because they are not stored in W

[2018-03-24 08:51] ebocher commented on #885
Nice doc
http://www.h2gis.org/docs/dev/ST_SVF/

[2018-03-24 08:51] #885 closed

[2018-03-24 08:58] ebocher commented on #844
Seems available  in API level 26  https://developer.android.com/reference/java/nio/file/DirectoryStream.html

[2018-04-04 09:40] jbenoit2011 opened #891 "Cannot convert to com.vividsolutions.jts.geom.Geometry"
Hello,

I'm posting here since I think it is more a bug than a mistake, but if I'm wrong tell me.

I am writing a test case which needs to test a class which runs this query:

[code]
But the query parsing failed and throws this error:

[code]
It seems the `ST_GeomFromText` return type, which is `GEOMETRY`, cannot be converted correctly.
I did other tries with function returning another type than `

[2018-04-09 18:02] ebocher commented on #839
It would be nice to support this syntax for all driver functions

[code]

[2018-04-11 15:18] ebocher opened #893 "Create empty table when a file is empty"
For all file drivers, create an empty table when a file is empty.

[2018-04-11 18:13] gpetit commented on #893
You mean if there is no object in the entry file.
--> naive question : can we have some file type where, if there is no data (objects), we don't have the structure ? eg. (just for the example) an empty geojson file --> no data, so no information about the field --> so you are not able to create the empty table since we don't have any information about the structure.

[2018-04-15 17:01] ebocher commented on #891
Tested with the current H2GIS version 1.4.0-SNAPSHOT and the query works.
Please set your H2GIS version

[2018-04-17 05:45] ebocher opened #895 "Replace String.format by StringBuilder"

[2018-05-02 12:52] #893 closed

[2018-05-02 12:52] #891 closed

[2018-05-10 13:19] wimdeblauwe opened #902 "1.4.0 not in Maven central?"
Hi,

I want to update my Spring Boot project to use Spring Boot 1.5.13 (currently using 1.5.10). After the upgrade, my unit tests fail with:

     Caused by: org.h2.jdbc.JdbcSQLException: Feature not supported: "converting to class com.vividsolutions.jts.geom.Geometry"; SQL statement:

I am currently using `org.orbisgis:h2gis-ext:1.3.2`.

https://github.com/orbisgis/h2gis/issues/891 claims that 1.

[2018-05-11 07:31] SPalominos commented on #902
Thank you for the issue!
The release on Maven Central has just been done, so it should be available very soon.

[2018-05-11 13:47] ebocher commented on #865
The fix proposed here https://github.com/orbisgis/jts/commit/974cd1e25f8a5aeb456e0c7af1f95631248278aa  will be in colliding with this PR https://github.com/h2database/h2database/commit/8097e478c5a2a357120a1ccb6d630b90dd9542f4.
The best solution is to use the copy method in H2 without patch and link a temporary version of JTS with the fixed we propose.
See on http://nexus.orbisgis.org/ -> 1.15.1-SN

[2018-05-11 13:59] grandinj commented on #865
Not quite sure what you are suggestting? For H2 itself, why not just wait until all the right external stuff is deployed and then update our code and our dependencies.

[2018-05-11 14:59] ebocher commented on #865
Thanks for the comments.
Sorry I wasn't very clear.
I understand Geometry.setSRID() is not a proper method for specifying of SRID according to JTS doc.
So instead of only reading geometry in getGeometryNoCopy a workaround has been added to get the SRID and set it using a fresh new factory.
However, as the JTS developer writes here https://github.com/locationtech/jts/issues/273, all  fields in the

[2018-05-11 15:25] katzyn commented on #865
There was a workaround with `Geometry.setSRID()` in H2, but it was removed recently and replaced with a proper solution with a custom factory in the pull request that you mentioned. This implementation does not call `Geometry.setSRID()`, value from factory is used instead by JTS 1.15, fixed versions should use the same value from the source geometry instead with exactly the same result.

This solu

[2018-05-11 20:46] ebocher commented on #865
@katzyn
All the arguments make sense.
Thank you for your work on H2 that we enjoy every day.

[2018-05-14 06:12] wimdeblauwe commented on #902
Still not there I am afraid (https://mvnrepository.com/artifact/org.orbisgis/h2gis-ext)

[2018-05-14 06:34] SPalominos commented on #902
h2gis-ext module doesn't exist anymore, is has been merge in h2gis which 1.4.0 release has arrived on maven central : https://mvnrepository.com/artifact/org.orbisgis/h2gis/1.4.0

[2018-05-14 06:44] wimdeblauwe commented on #902
Ah, thx. Could have waited a long time in that case :-)

But I am still having this issue:

[code]

Using these dependencies:

[code]

h2 is version `1.4.197` (Default of Spring Boot).

[2018-05-14 06:44] wimdeblauwe commented on #902
Update: Downgrading h2 to `1.4.196` makes it work again.

[2018-05-14 06:47] wimdeblauwe commented on #902
[Release notes of h2](http://www.h2database.com/html/changelog.html) 1.4.197 show:

Might be the reason?

[2018-05-14 07:09] SPalominos commented on #902
Yes! H2:1.4.197 uses the last release of JTS:1.15.0 but this version introduce test failure on H2GIS tests. We are working on this issue : orbisgis/h2gis#865

[2018-05-14 09:42] wimdeblauwe commented on #902
Ok, thanks for the great work!

[2018-05-14 09:42] #902 closed

[2018-05-23 11:17] ebocher opened #907 "ST_ShortestLine"
Implements ST_ShortestLine as PostGIS does
http://postgis.net/docs/ST_ShortestLine.html
@gpetit

[2018-05-23 12:42] ebocher commented on #844
Sorry but we don't have the resources to maintain compatibility with Android

[2018-05-23 12:42] #844 closed

[2018-05-23 12:42] ebocher commented on #907
@gpetit
Doc for u

[2018-05-23 12:43] ebocher commented on #895
@nicolas-f  and @SPalominos
I can do it

[2018-05-23 13:43] ebocher commented on #873
Declared in CTS https://github.com/orbisgis/cts/issues/96

[2018-05-23 13:43] #873 closed

[2018-05-23 13:45] #798 closed

[2018-05-30 07:25] ebocher opened #911 "H2GIS website news"
Add a news about 1.4.0
http://www.h2gis.org/news/

[2018-05-30 07:34] gpetit commented on #911
i'll work on it. Just have to produce the 1.4.0 doc before. Will work with @SPalominos to automatize it ...

[2018-06-01 14:24] nicolas-f opened #912 "Explain geomety_colums and prj export"
Add or edit a page to explain how to export a prj with the shapefile (set a srid constraint on a table)

[2018-06-01 14:28] nicolas-f commented on #912
[code]

[2018-06-25 11:12] pierromond opened #913 "OrbisGis and H2network"
The h2network functions (except ST_graph) are not found in the last snapshot of Orbisgis !

Snapshot 26/05/2018

[2018-06-25 11:12] pierromond commented on #886
Cool, I am waiting it !

[2018-06-25 12:58] nicolas-f commented on #913
try

[code]

[2018-06-26 07:37] pierromond commented on #913
Nop !

Classe "org.h2gis.network.functions.NetworkFunctions" non trouvée
Class "org.h2gis.network.functions.NetworkFunctions" not found; SQL statement:
CREATE ALIAS IF NOT EXISTS H2GIS_NETWORK FOR "org.h2gis.network.functions.NetworkFunctions.load" [90086-197]

[2018-06-26 08:07] nicolas-f commented on #913
h2gis-network has been removed from orbisgis and it is not available in the plugins.

[2018-06-26 08:12] nicolas-f commented on #913
The search engine is broken. Plugin is available

[2018-06-26 08:14] nicolas-f commented on #913
![image](https://user-images.githubusercontent.com/1382241/41898238-bd08dde8-7929-11e8-9291-642a14ec8c7d.png)

[2018-06-26 08:16] nicolas-f commented on #913
The issue is here https://github.com/orbisgis/orbisgis/issues/1261

[2018-06-29 07:28] nicolas-f commented on #886
The work has been started here:

https://github.com/nicolas-f/h2gis/tree/isovist

[2018-06-30 13:18] bibilo opened #914 "H2GIS Database driver not found"
Database driver not found
See in the Help for how to add drivers

Class "org.h2gis.h2spatial.internal.function.spatial.properties.ST_GeometryTypeCode" not found; SQL statement:
CREATE DOMAIN MULTIPOINT AS GEOMETRY(4) CHECK (PUBLIC.ST_GEOMETRYTYPECODE(VALUE) = 4) [90086-196] 90086/90086

How can i solve this issue?

[2018-07-02 05:57] bibilo commented on #914
can anyone help me ? i really need to open this database

[2018-07-02 07:02] nicolas-f commented on #914
Hi,

Try the version 1.2.3 of H2GIS:

https://github.com/orbisgis/h2gis/releases/download/v1.2.3/h2-dist-1.2.3-bin.zip

The package org.h2gis.h2spatial has been dropped since v1.3.X

[2018-07-13 06:31] #914 closed

[2018-07-13 09:12] ebocher commented on #865
JTS 1.15.1  is out and available on Maven Central. It contains the "copy" fix .

@katzyn @grandinj
What do you think about upgrading H2 with the new version of JTS ?

[2018-07-13 09:33] katzyn commented on #865
Current development version of H2 should work fine with both 1.15 and 1.15.1. Tests with SRID are passed with both versions of JTS. It may be reasonable to require 1.15.1 for H2GIS, but I don't see a clear reason to require it for H2.

[2018-07-13 09:58] ebocher commented on #865
The reason is quite simple  JTS 1.15.1 contains a bug fix.
I don't understand why you don't want to upgrade JTS?

[2018-07-13 10:42] katzyn commented on #865
Are you talking about dependency in manifest or about exact version that is used for building and testing of H2?

H2 optionally requires 1.15.0 or any later version in MANIFEST.MF for OSGi environments and H2 can work with 1.15.0 and 1.15.1. Anyone who need more recent version can require it in own bundles. Do you see some problems with such requirement?

It's reasonable to upgrade dependency when

[2018-07-13 11:53] ebocher commented on #865
@SPalominos

[2018-08-20 14:14] #865 closed

[2018-08-20 14:15] #807 closed

[2018-08-20 15:08] ebocher commented on #888
Is it technically possible to satisfy the Android compatibility requested by the H2 team?

[2018-08-21 07:06] nicolas-f commented on #888
With a complete rewrite of H2 raster it would be possible. But reading image files require additional dependency to work on both JavaVM and Android Dalvik.

[2018-08-21 14:02] ebocher commented on #888
So I propose :
Add  a raster type to H2 (with a limited set of functions)
Add the others functions and drivers (file reader and writer) as an H2GIS extension.

[2018-08-22 08:02] pierromond opened #915 "SYMUVIA Import"
The two last commit on https://github.com/pierromond/h2gis integrate the SYMUVIARead function with the corresponding unit test. Are you interested to merge this with the principal branch ?

[2018-09-04 12:29] #915 closed

[2018-09-04 12:29] ebocher commented on #912
@gpetit

[2018-09-04 12:30] ebocher commented on #907
pong

[2018-09-04 12:58] ebocher opened #917 "Benchmarking for H2gis"
Create a test to store some bench about the main H2GIS functionnalities
Store the results in a CSV file

[2018-09-05 05:21] ebocher opened #918 "Geometry statistics table"
Find a way to collect some statics on geometries as Postgresql does in order to implement ST_EstimatedExtent (https://postgis.net/docs/ST_EstimatedExtent.html)
Currently H2GIS computes the bounding box of a table by aggregating all geometry envelopes.it takes a lot of time for large datasets. see https://github.com/orbisgis/h2gis/blob/master/h2gis-functions/src/main/java/org/h2gis/functions/spatia

[2018-09-05 06:43] ebocher commented on #918
@katzyn
You are right and thank you very much for your  proposal to optimize st_extent.

[2018-09-05 20:40] ebocher opened #919 "Update to the last H2 1.4.199"
Since the last H2 release many changes have been introduced that break the H2GIS compatibility.

ValueGeometry.getString() returns now a EWKT representation not a WKT.
So
[code]
will return

[code]

Note that EWKT is not a standard but a PostGIS specific format.
The PostGIS JDBC driver returns a WKT representation on rs.getString(1)

I think H2 must be aligned on the same behaviour.

@nicolas-f @S

[2018-09-05 20:42] ebocher commented on #918
Currently stopped due to #919

[2018-09-05 23:30] katzyn commented on #919
Unmodified version of H2 does not use EWKT for geometries with SRID=0.
[code]
[code]

`VARCHAR` is a central data type it H2 and should be able to hold anything (except for LOBs) without data loss.

If somebody uses SRID he/she should expect that extended formats will be used in binary and textual representations. If SRID is not used, H2 uses plain WKB and WKT in casts to BINARY or VARCHAR.

[2018-09-06 05:13] katzyn commented on #919
I just tested PostgreSQL 10 + PostGIS 2.4.4 + PosgreSQL JDBC 42.2.1.jre7 + PostGIS JDBC 2.2.1. Postgis extension was installed into a new database.

I inserted a `'SRID=1;POINT(1 0)'` into a table with `geometry` column.
`ResultSet.getObject(…)` returns an `org.postgis.PGgeometry` object, it means that PostGIS JDBC driver was loaded properly. `toString()` method of this object returns `SRID=1;POIN

[2018-09-06 05:28] katzyn commented on #919
So from my point of view current development version of H2 does the right thing. It returns standard formats where it's possible and returns extended formats where standard formats cannot be used, just like PostGIS.

Mentioned `ResultSet.getString(…)` method, however, was not compatible, is not compatible, and probably will never be compatible because PostGIS uses a binary representation and H2 us

[2018-09-06 15:50] ebocher commented on #918
Fixed big thanks to @katzyn

[2018-09-06 15:50] #918 closed

[2018-09-06 19:19] ebocher commented on #919
Under the pipe here https://github.com/ebocher/H2GIS/tree/prepare_H2Update
Several tests are broken.
For example assertGeometryEquals(String expectedWKT,int expectedSRID, Object valueObject)  doesn't work as expected.
Run SpatialFunctionTest to see what happens
Note :  I'm using a local custom version of H2 where envelope, estimated_envelope have been renamed to ST_EXTENT and ST_EstimatedExtent be

[2018-09-07 01:14] katzyn commented on #919
You cannot extend built-in functions and aggregates, but you can still use them in your own `ST_EstimatedExtent` function.

Functions can have `java.sql.Connection` as a first parameter, so you can call `ESTIMATED_ENVELOPE` from it, and in case of `NULL` you can call `ENVELOPE` after it (if you need it).

[2018-09-07 07:09] ebocher commented on #919
I'm looking to create our own ST_EstimatedExtent but getEstimatedEnvelope in Function is private.
My code pattern is

[code]
Any suggestion is welcome.  ;-)

[2018-09-07 07:18] katzyn commented on #919
I mean that you can create a `PreparedStatement` and call this function using a simple SQL command from it. This way should be reliable.

`Function` is an internal class and may be changed at any time.

[2018-09-07 09:45] ebocher commented on #919
Seems there is an important change about the geometry access in H2 because this kind of code doesn't work

@Test
    public void test_ST_UpdateZ6() throws Exception {
        Statement st = connection.createStatement();
        ResultSet rs = st.executeQuery("SELECT ST_UPDATEZ(ST_buffer('POINT(0 0)'::GEOMETRY, 10), 120);");
        Assert.assertTrue(rs.next());
        System.out.println(((Geometr

[2018-09-07 10:14] katzyn commented on #919
There was a vulnerability with geometries in H2 that was recently resolved. It was possible to put untrusted geometry into H2's cache and modify it after that. As a result a key from original geometry was associated with modified geometry.

As a result poisoned cache may return this externally modified geometry instead of requested one later to any caller. It was even possible to pass fake value t

[2018-09-07 10:48] katzyn commented on #919
It looks like this is a Z-dimension problem, I see very similar behavior in my test functions.

[2018-09-07 10:50] ebocher commented on #919
Yes it seems because all the tests that manipulate the z dimension have a pb

[2018-09-07 10:58] katzyn commented on #919
Normal `POLYGON` geometry with Z dimension has `Geometry.shell.dimension == 3`.

But broken `POLYGON` geometry with Z dimension has `Geometry.shell.dimension == 2`.

[2018-09-07 11:07] ebocher commented on #919
What do you mean by NORMAL ?

[2018-09-07 11:10] ebocher commented on #919
In GIS field you can have both 2 and 3D. It depends on the input data model.
That why POSTGIS and H2GIS propose specific functions to update the dimension : https://postgis.net/docs/ST_Force2D.html

[2018-09-07 11:10] katzyn commented on #919
I'm trying to build a standalone test case now.

[2018-09-07 11:13] ebocher commented on #919
if it helps you, you can use this one to change the dimension of the geometry and create a function in H2 to test it.

[code]

[2018-09-07 11:15] katzyn commented on #919
I already have similar functions and I can create broken geometries with them is some cases.

[2018-09-07 11:51] katzyn commented on #919
JTS 1.15.1 was used.
[code]

[code]
If any of two lines with conversions is commented the result is valid. But conversion from 2D to 2D, introduction of Z coordinate, and conversion from 3D to 3D results in unexpected 2D geometry.

I'm not sure is that a bug in JTS, or it's simply illegal to set Z value on a geometry that doesn't have an explicit Z dimension (geometries from `WKBReader` may not ha

[2018-09-07 12:07] ebocher commented on #919
What seems problematic to me is that the tests were passing and we were already using JTS 1.15.1.
I'll investigate. Thank you for the test case.

[2018-09-07 13:02] FObermaier commented on #919
What kind of `CoordinateSequence` are you using internally and how many dimensions does it cope with?
E.g. if you use `PackedCoordinateSequence` with a dimension of 2, setting of `CoordinateSequence.Z` will ruin the underlying sequence.

https://github.com/locationtech/jts/blob/bac855f9fe3a75af523b43f95f4b9a09b4ab5359/modules/core/src/main/java/org/locationtech/jts/geom/impl/PackedCoordinateSequen

[2018-09-07 13:09] FObermaier commented on #919
Using `CoordinateFilter` to update geometries is discouraged:

https://github.com/locationtech/jts/blob/jts-1.15.1/modules/core/src/main/java/org/locationtech/jts/geom/CoordinateFilter.java#L25-L28

[2018-09-07 13:12] ebocher commented on #919
Thanks @FObermaier . I'm using CoordinateSequenceFilter see  https://github.com/ebocher/H2GIS/blob/prepare_H2Update/h2gis-functions/src/main/java/org/h2gis/functions/spatial/edit/ST_UpdateZ.java#L93

[2018-09-07 13:30] ebocher commented on #919
@katzyn
After some investigations it seems that the pb is not related to JTS but H2.
Some tests that modify the dimension of geometry work and others do not
This looks like a cache pb, no ?

[2018-09-07 13:37] katzyn commented on #919
The test case above does not use H2 at all.

But the question is more complicated. Is `POINT(1, 1)` a 2D or 3D geometry? H2 stores such geometries as 2D for oblivious reasons. So you get a 2D geometry object and your function tries to set third dimension on it.

[2018-09-07 13:37] ebocher commented on #919
Pioooouuuu
If I use

[code]
It fails but if I cast directly the geometry 'POINT (190 300)'::GEOMETRY

It works.....

[code]

[2018-09-07 13:40] ebocher commented on #919
But the question is more complicated. Is POINT(1, 1) a 2D or 3D geometry? H2 stores such geometries as 2D for oblivious reasons. So you get a 2D geometry object and your function tries to set third dimension on it.

yes. But all H2GIS run well with H2 1.4.197 and JTS 1.5.1

[2018-09-07 13:42] ebocher commented on #919
POINT(1, 1) is 2D
POINT(1, 1, 0) is 3D
POINT(1, 1, nan) is 3D

[2018-09-07 13:49] katzyn commented on #919
There was a security fix in H2, there is no way back. Your test worked only due to unsafe processing of geometries in H2. Actually similar more complicated tests that store intermediate values on disk do not work even in this version.

If `POINT(1 1)` is a 2D geometry, your test case with your code is incorrect. You should convert 2D geometries to 3D form in `ST_UpdateZ`.

[2018-09-07 14:00] katzyn commented on #919
`WKTReader` parses `'POINT(1 1)'` and `'POINT(1 1 NaN)'` into exactly the same object, there is no way to distinguish between them.
`'POINT(1 1 0)'` is different, however.

H2 persists `'POINT(1 1 0)'` as 3D and `'POINT(1 1)'` as 2D.

[2018-09-07 14:19] katzyn commented on #919
The problem is that 2D geometries are deserialized as 2D. They may have a coordinate sequence implementation that allows you to set the third dimension, but this dimension is ignored by `WKBWriter` later.

Handling of different number of dimensions is tricky and non-intuitive in JTS.

[2018-09-07 18:19] ebocher commented on #919
Ok seems we have a serious pb with JTS because it's not able to keep the coordinate dimension.

[2018-09-08 00:38] katzyn commented on #919
I also found that H2 can return the same 2D geometry with 2 or 3 dimensions in coordinate system. In other aspects they are equal, no problem, but modification of Z dimension will give different results in following conversion to WKB.

H2 uses WKBReader and WKTReader as trusted sources, but they return geometries with different storage characteristics, WKTReader returns 3D-compatible geometries ev

[2018-09-08 01:41] katzyn commented on #919
It explains why direct `'POINT (190 300)'::GEOMETRY` works, but it will work only until cache holds this 3D-compatible geometry. After its removal from the cache (or restart) you will get it in 2D-only form in your select statement. This difference can be very annoying and can lead to random unexpected failures, I have to make results from H2 fully predictable.

[2018-09-08 08:09] ebocher commented on #919
Thanks I was checking internally what happens with 'POINT (190 300)'::GEOMETRY because it uses the same code than ST_GeomFromText.
Now I understand better and to resume we have a pb with JTS

[2018-09-10 11:38] 44past4 opened #920 "LGPL including GPL dependency"
H2GIS is licenced under LGPL3 but https://github.com/orbisgis/h2gis/blob/master/h2gis-network/pom.xml includes a dependency to java-network-analyzer which is GPL.

[2018-09-10 11:48] ebocher commented on #920
Thank you, it's an omission.
We will change  java-network-analyzer to LGPL asap.

[2018-09-12 06:57] AbelVM commented on #886
COOL! :grin:

[2018-09-12 08:37] ebocher commented on #919
H2 guys're faster than lightning ;-)
So :
-  release 1.5.0
- start 2.0.0-Snaphot
- go to update all the documentation.

[2018-09-12 13:32] ebocher opened #921 "Align H2 create table geometry with POSTGIS (for discussion)"
Currently to create a geometry table in H2, the syntax is

[code]

PostGIS uses

[code]

I think it would be good to align H2 with POSTGIS. What do you think of that?

@katzyn

[2018-09-12 13:44] katzyn commented on #921
Plain H2 support only `GEOMETRY` data type without any modifiers. I do not use H2GIS and do not know its additional features, if H2GIS accepts `POINT` data type it's your own additions.

`geometry(Point, 4326)` in PostGIS is a geometry type that accepts only 2D `POINT` values with `SRID=4326`, such constraint ensures type, dimension system, and SRID. Do you need similar feature in H2 itself?

[2018-09-12 13:51] ebocher commented on #921
Right, I wrote too quickly.

From a user's point of view, I think it would be nice to harmonize syntaxes and support the same features : check type, SRID...

Any other opinions?

[2018-09-12 14:00] gpetit commented on #921
From a user point of view, yes it could be interesting to specify in just one query the type and the srid of the geometry.
Concerning the new POINT Z(), POINT ZM () ... geometry types, how will it works ? We will have something like this ?
[code]

[2018-09-12 14:02] katzyn commented on #921
In PostGIS you should use `pointz` without a space if data type of a column (but you can use a space in WKT representation, of course).

[2018-09-12 14:03] gpetit commented on #921
Sounds good. Thx @katzyn

[2018-09-12 14:07] katzyn commented on #921
The actual problem in H2 is that H2 don't have good infrastructure for data types with additional parameters above common nullability, precision, and fractional precision (scale), the only type that have something more is a `ENUM` data type which is very problematic.

I think that such feature in H2 is still possible, but I need some time to think about it and to find a way to do it properly to av

[2018-09-12 14:09] ebocher commented on #921
Thanks a lot.

[2018-09-12 14:10] ebocher commented on #921
We are ready to provide tests if needed.

[2018-09-12 14:15] katzyn commented on #921
Also as an alternative such data type in column definition may be converted into plain `GEOMETRY` with additional `CHECK` constraint, but I'm not sure that it's a good solution, somebody may define own additional `CHECK` constraint, this is supported somehow in H2, but there were some minor problems with it and also this may complicate reading of column definition by different third-party tools.

[2018-09-12 14:17] katzyn commented on #921
PostGIS allows to use such types in `CAST` operator, it means that it is a real custom data type.

[2018-09-13 06:44] katzyn commented on #921
Initial implementation is mostly ready, I'm currently testing it, but there is a problem with JTS. Even in version 1.16 with all its improvements in Z and M dimensions there is no way to detect number of dimensions for an empty geometry. It means that it will not be possible to insert `POINT Z EMPTY` or `GEOMETRYCOLLECTION Z EMPTY` or something similar in `GEOMETRY(POINT Z)` / `GEOMETRY(GEOMETRYCO

[2018-09-13 06:49] ebocher commented on #921
What do you think about reporting these issues to JTS developers?
We can point this ticket to them.

[2018-09-13 08:35] katzyn commented on #921
You can ask them about providing a way to  distinguish `POINT EMPTY` from `POINT EMPTY Z`, `POINT EMPTY M` etc.

And also between `GEOMETRY COLLECTION EMPTY`, `GEOMETRY COLLECTION Z`, etc.

[code]
[code]

[2018-09-13 11:47] ebocher commented on #921
Wonderful..........
Is there a way to contact you in private mode ?

[2018-09-13 11:57] katzyn commented on #921
You can see my e-mail address in git commits, feel free to send an e-mail if you wish.

[2018-09-13 12:27] katzyn commented on #921
Actually I can remove support of `GEOMETRY(4326)` and replace in with `GEOMETRY(GEOMETRY, 4326)` to remove this deviation completely. Or it's better to support both formats? What do you think?

[2018-09-14 08:19] gpetit opened #922 "ST_OrientedEnvelope"
It will be great to have the same function :

* http://www.bostongis.com/blog/index.php?/archives/270-Coming-PostGIS-2.5-ST_OrientedEnvelope.html
* https://postgis.net/docs/manual-dev/ST_OrientedEnvelope.html

We already have http://www.h2gis.org/docs/dev/ST_MinimumRectangle/. So maybe, just adding an alias ?

@ebocher @nicolas-f

[2018-09-14 11:53] ebocher commented on #921
Sorry I was out of my office.
I think it'will be bette to support only one syntax, the postgis one.

[2018-09-14 11:53] ebocher commented on #921
Cannot find it.

[2018-09-14 11:55] katzyn commented on #921
Yes, I also found other problems with third-party software that reads such parameters incorrectly. Let's use `GEOMETRY(GEOMETRY, 4326)` format too.

katzyn AT gmail DOT com

[2018-09-14 12:00] katzyn commented on #921
However, I don't like that SRID 0 means any SRID in PostGIS, it's not very intuitive and it provides no way to ensure default SRID 0 on geometries. So I think this difference is reasonable. You can use `GEOMETRY(POINT)` format in both databases to allow any SRID.

[2018-09-14 13:13] ebocher commented on #921
Sorry I don't understand "I don't like that SRID 0 means any SRID in PostGIS".

[2018-09-14 13:16] ebocher commented on #921
In your last PR you talk about "Some third-party tools" .
Do you have any feedback on that? Who are they? Who are they?

[2018-09-14 13:29] katzyn commented on #921
The biggest problem now is a lack of dimension system information in JTS.

[code]

If you want to insert empty geometry with column with Z, M, or ZM dimension system in constraint you're in trouble. A proper fix for it needs some improvement on JTS side. Both `GeometryCollection` instances here are exactly the same and cannot be distinguished by H2. So H2 assumes them as 2D.

[2018-09-14 13:35] katzyn commented on #921
They both use the same singleton instance of `CoordinateArraySequenceFactory` and don't have any points with coordinates.

`GeometryCollection` that was returned by `WKTReder` from `GEOMETRYCOLLECTION Z (POINT Z(1 2 3))` has a point with X, Y, and Z coordinates that allows H2 to detect the whole collection as a collection in Z dimension system.

When H2 parses (E)WKT by itself it preserves the dim

[2018-09-14 13:49] ebocher commented on #921
What do you think about initializing an empty GeometryCollection with only one coordinate with the right dimensions (X, Y[Z M] ?

[2018-09-14 13:56] katzyn commented on #921
`GeometryCollection` don't have any points, coordinates, or coordinate sequences at all.

I think that JTS should have some dimension system parameter in its base `Geometry` class.

[2018-09-14 14:09] katzyn commented on #921
Factories also don't have dimension system information.

`CoordinateSequence` instances in `Point`, `LineString` and similar geometries have, but it's not reliable too. Try this in JTS 1.16.0-RC1:
[code]
It prints 3 and 0. This is a Z dimension system. But this point is obliviously 2D. H2 accepts such point as 2D, because its coordinates are x=1, y=1, z=NaN.

[2018-09-18 14:54] ebocher opened #923 "Update OSMRead"
Update the OSMRead functions To follow exactly the OSM XML model.
Remove the tags table and store key, value in each node, way and relation tag tables.
Add a general table to store osm file metadata (timestamp, generator...)

[2018-09-21 10:02] ebocher commented on #922
Done

[2018-09-21 10:12] gpetit commented on #922
Thx !

[2018-09-21 10:12] #922 closed

[2018-09-21 10:13] ebocher commented on #922
Don't forget to update the doc

[2018-09-25 12:45] ebocher commented on #886
Clap clap clap @nicolas-f  for this fast implementation

[2018-09-25 12:47] #886 closed

[2018-09-25 12:47] ebocher opened #928 "ST_ISOVIST doc"
Add a documentation on the new ST_ISOVIST function in the super H2GIS online doc.

[2018-09-25 15:20] gpetit commented on #886
Nice. The doc is in the pipe #928

[2018-09-25 15:20] ebocher commented on #923
Do you want this change in the current version or the last major version (2.0 ) ?
@gpetit , @nicolas-f

[2018-09-26 13:29] gpetit commented on #923
2.0 ?

[2018-09-26 13:47] nicolas-f commented on #923
It breaks compatibility with existing script, so yes 2.0

[2018-09-27 13:24] #911 closed, assigned to gpetit

[2018-09-28 13:36] ebocher commented on #928
CLAP CLAP CLAP CLAP

[2018-09-28 13:36] #928 closed

[2018-09-28 13:38] gpetit commented on #928
The PR was here #936

[2018-09-28 13:40] gpetit commented on #886
The doc has been produced (see #936) , and the online result : http://www.h2gis.org/docs/dev/ST_ISOVist/

[2018-10-01 05:47] #895 closed

[2018-10-01 07:17] AbelVM commented on #886
:thinking: No credit/mention in the source or in the docs? Not cool

[2018-10-01 07:38] ebocher commented on #886
This algorithm has no link with your method.
There is already a reference  in the code source  to the algorithm we use
See  https://github.com/orbisgis/h2gis/blob/744e53b1613912389d7fa1852b6d7a9a56e87917/h2gis-utilities/src/main/java/org/h2gis/utilities/jts_utils/VisibilityAlgorithm.java#L39

What do you expect from us?

[2018-10-02 07:03] AbelVM commented on #886
I'm good, thanks. I might have misunderstood the mention of my post as inspiration, the use of the same naming instead of the commonly used  `viewshed`, the same raytracing based approach, the same function signature and the way open source works. Sorry.